dasboard-GxvJVZhLnLQG9tPx.json
{"createdAt":"2025-02-26T19:31:38.569Z","updatedAt":"2025-02-26T19:31:59.085Z","id":"GxvJVZhLnLQG9tPx","name":"dasboard","active":false,"nodes":[{"parameters":{},"id":"83fe5a26-5613-4916-b982-1aa9e0c3b87e","name":"Execute Workflow Trigger","type":"n8n-nodes-base.executeWorkflowTrigger","position":[280,660],"typeVersion":1},{"parameters":{"content":"### Isso pode ser chamado pelo agente acima. Retorna três tipos diferentes de dados da Planilha Google, que podem ser usados juntos para consultas mais complexas, sem retornar a planilha inteira (o que pode ser muito grande para o GPT lidar).","height":612.0936015224503,"width":1449.2963504228514,"color":7},"id":"9fd0d7fe-fcf6-4ea0-aacf-4e6d5d985e69","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[200,420],"typeVersion":1},{"parameters":{"content":"###### Fluxo Principal: Agente de IA usando ferramenta personalizada","height":486.5625,"width":927.5,"color":7},"id":"a3b8fdb7-cfdc-4b73-9fe1-6756a460ede4","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","position":[300,-180],"typeVersion":1},{"parameters":{"content":"## ## Experimente\n\nClique no botão 'Chat' na parte inferior e digite:\n\n_Qual é o nosso maior cliente?_","height":224,"width":186},"id":"3b352da6-297e-402c-81c2-2661967cc465","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","position":[140,-100],"typeVersion":1},{"parameters":{"documentId":{"__rl":true,"mode":"url","value":"={{ $json.sheetUrl }}"},"sheetName":{"__rl":true,"mode":"url","value":"={{ $json.sheetUrl }}"},"options":{}},"id":"9e35b79b-c8a2-407b-ba14-4b5629b70089","name":"Get Google sheet contents","type":"n8n-nodes-base.googleSheets","position":[720,660],"typeVersion":4.2},{"parameters":{"fields":{"values":[{"name":"sheetUrl","stringValue":"https://docs.google.com/spreadsheets/d/1rN2dP-t6WaMegOjCpcaOrSHG8qSA2nbnu9WlPHyzRDo/edit?gid=0#gid=0"}]},"options":{}},"id":"a14b41da-0492-491c-88c4-a18f907fdccd","name":"Set Google Sheet URL","type":"n8n-nodes-base.set","position":[500,660],"typeVersion":3.2},{"parameters":{"fields":{"values":[{"name":"response","stringValue":"={{ Object.keys($json) }}"}]},"include":"none","options":{}},"id":"1249549d-8c22-4138-8268-482e989df0a4","name":"Get column names","type":"n8n-nodes-base.set","position":[1200,480],"executeOnce":true,"typeVersion":3.2},{"parameters":{"jsCode":"return {\n  'response': JSON.stringify($input.all().map(x => x.json))\n}"},"id":"5c6b45e3-7833-4a4d-a1ec-24ec65b1c2f0","name":"Prepare output","type":"n8n-nodes-base.code","position":[1460,660],"typeVersion":2},{"parameters":{"content":"Essas ferramentas todas chamam o subfluxo abaixo:","height":80,"width":432,"color":7},"id":"c77bf334-bff3-4ab9-b2a8-e797fc44b859","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[700,320],"typeVersion":1},{"parameters":{"content":"Altere a URL da Planilha Google aqui:","height":226.64416053838073,"width":179.99762227826224},"id":"c5973548-9eba-4fa6-b571-2daf89240879","name":"Sticky Note4","type":"n8n-nodes-base.stickyNote","position":[460,600],"typeVersion":1},{"parameters":{"fields":{"values":[{"name":"={{ $('Execute Workflow Trigger').item.json.query }}","stringValue":"={{ $json[$('Execute Workflow Trigger').item.json.query] }}"},{"name":"row_number","stringValue":"={{ $json.row_number }}"}]},"include":"none","options":{}},"id":"148a3dc6-bb53-40dd-98e4-19d7716318b4","name":"Prepare column data","type":"n8n-nodes-base.set","position":[1200,660],"typeVersion":3.2},{"parameters":{"conditions":{"options":{"leftValue":"","caseSensitive":true,"typeValidation":"loose"},"combinator":"and","conditions":[{"id":"bf712098-97e4-42cb-8e08-2ee32d19d3e7","operator":{"type":"number","operation":"equals"},"leftValue":"={{ $json.row_number }}","rightValue":"={{ $('Execute Workflow Trigger').item.json.query }}"}]},"options":{"looseTypeValidation":true}},"id":"d936a30c-82e6-4dd8-ac81-c996df289beb","name":"Filter","type":"n8n-nodes-base.filter","position":[1200,820],"typeVersion":2,"alwaysOutputData":true},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"operator":{"type":"string","operation":"equals"},"leftValue":"={{ $('Execute Workflow Trigger').item.json.operation }}","rightValue":"column_names"}],"combinator":"and"},"renameOutput":true,"outputKey":"col names"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"b7968ce7-0d20-43d0-bcca-7b66e0aec715","operator":{"name":"filter.operator.equals","type":"string","operation":"equals"},"leftValue":"={{ $('Execute Workflow Trigger').item.json.operation }}","rightValue":"column_values"}],"combinator":"and"},"renameOutput":true,"outputKey":"col values"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"de3bb9b5-edc6-4448-839e-eda07b72144a","operator":{"name":"filter.operator.equals","type":"string","operation":"equals"},"leftValue":"={{ $('Execute Workflow Trigger').item.json.operation }}","rightValue":"row"}],"combinator":"and"},"renameOutput":true,"outputKey":"rows"}]},"options":{}},"id":"7c01950c-32a0-4b29-83b6-adb369550fed","name":"Check operation","type":"n8n-nodes-base.switch","position":[940,660],"typeVersion":3},{"parameters":{"model":"gpt-3.5-turbo-0125","options":{"temperature":0}},"id":"c4eca807-8d85-4261-a9b4-d05d39c640ba","name":"OpenAI Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","position":[560,160],"typeVersion":1},{"parameters":{},"id":"798057ad-fe06-46c5-9603-acfa0c12a0a8","name":"Chat Trigger","type":"@n8n/n8n-nodes-langchain.chatTrigger","position":[460,-80],"webhookId":"2b9d9c42-adf4-425d-b0a5-e4f60c750e63","typeVersion":1},{"parameters":{"agent":"reActAgent","options":{"suffix":"Begin! Use `list_columns` tool first to determine which columns are available.\n\n\tQuestion: {input}\n\tThought:{agent_scratchpad}","returnIntermediateSteps":false}},"id":"4c5d8d09-fab9-4b16-aa8a-829c40784be1","name":"AI Agent","type":"@n8n/n8n-nodes-langchain.agent","position":[740,-140],"typeVersion":1.3},{"parameters":{"name":"list_columns","description":"=Liste todos os nomes das colunas nos dados das ligações telefônicas.\n\nChame essa ferramenta para descobrir quais dados estão disponíveis para cada cliente. Ela deve ser chamada primeiro no início para entender quais colunas estão disponíveis para consulta.","workflowId":"={{ $workflow.id }}","fields":{"values":[{"name":"operation","stringValue":"column_names"}]}},"id":"fe83ea8f-006c-4549-8325-d6119a2dc546","name":"Ferramenta para listar colunas","type":"@n8n/n8n-nodes-langchain.toolWorkflow","position":[760,120],"typeVersion":1},{"parameters":{"name":"column_values","description":"=Obtenha o valor da coluna especificada para todos os clientes.\n\nUse esta ferramenta para descobrir quais clientes têm um determinado valor em uma coluna específica. Retorna um array de objetos JSON, um para cada cliente. Cada objeto JSON inclui a coluna solicitada, além da coluna `row_number`. A entrada deve ser uma única string representando o nome da coluna a ser buscada.","workflowId":"={{ $workflow.id }}","fields":{"values":[{"name":"operation","stringValue":"column_values"}]}},"id":"041aea06-0571-4bc3-bbe5-26f99bf2c54a","name":"Ferramenta para obter valores de coluna","type":"@n8n/n8n-nodes-langchain.toolWorkflow","position":[920,120],"typeVersion":1},{"parameters":{"name":"get_customer","description":"=Obtenha todas as colunas para um cliente específico.\n\nA entrada deve ser um número de linha do cliente em formato de string; apenas entradas de string únicas são permitidas. Retorna um objeto JSON com todos os nomes das colunas e seus valores.","workflowId":"={{ $workflow.id }}","fields":{"values":[{"name":"operation","stringValue":"row"}]}},"id":"0418f73d-00f1-450d-86aa-d21c0645f80c","name":"Ferramenta para obter cliente","type":"@n8n/n8n-nodes-langchain.toolWorkflow","position":[1100,80],"typeVersion":1}],"connections":{"Filter":{"main":[[{"node":"Prepare output","type":"main","index":0}]]},"Chat Trigger":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Check operation":{"main":[[{"node":"Get column names","type":"main","index":0}],[{"node":"Prepare column data","type":"main","index":0}],[{"node":"Filter","type":"main","index":0}]]},"Get column names":{"main":[[{"node":"Prepare output","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Prepare column data":{"main":[[{"node":"Prepare output","type":"main","index":0}]]},"Set Google Sheet URL":{"main":[[{"node":"Get Google sheet contents","type":"main","index":0}]]},"Execute Workflow Trigger":{"main":[[{"node":"Set Google Sheet URL","type":"main","index":0}]]},"Get Google sheet contents":{"main":[[{"node":"Check operation","type":"main","index":0}]]},"Ferramenta para listar colunas":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Ferramenta para obter valores de coluna":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Ferramenta para obter cliente":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"980625a6-a33e-4141-beb7-8ba32da83c4c","triggerCount":0,"tags":[]}