envio_relatorio_tecnicos-wm9RJTg4Hqpobpuc.json
{"createdAt":"2025-02-26T19:33:06.014Z","updatedAt":"2025-03-05T18:18:01.177Z","id":"wm9RJTg4Hqpobpuc","name":"envio_relatorio_tecnicos","active":false,"nodes":[{"parameters":{"operation":"executeQuery","query":"SELECT\n    OSs.Empresa AS COD_EMPRESA,\n\n    CASE WHEN OSs.Empresa = 1 THEN 'CRX Concox'\n         WHEN OSs.Empresa = 2 THEN 'CearáGPS'\n         WHEN OSs.Empresa = 3 THEN 'Rastreio Brasil'\n         WHEN OSs.Empresa = 1002 THEN 'CearáGPS'\n         WHEN OSs.Empresa = 1003 THEN 'Rastreio Brasil'\n    END AS EMPRESA,\n\n    OSS.Técnico AS COD_TECNICO,\n    CLI.Nome AS TECNICO,\n\n    CASE WHEN OSs.Tipo = 'R' THEN 'Retirada'\n         WHEN OSs.Tipo = 'V' THEN 'Venda'\n         WHEN OSs.Tipo = 'C' THEN 'Corretiva'\n         WHEN OSs.Tipo = 'P' THEN 'Preventiva'\n         WHEN OSs.Tipo = 'A' THEN 'Vistoria'\n         WHEN OSs.Tipo = 'M' THEN 'Manutenção'\n         WHEN OSs.Tipo = 'I' THEN 'Acordo (Captura)'\n    END AS TIPO,\n\n    OS.Descrição AS SERVICO,\n    OS.Quantidade AS QUANTIDADE,\n    OSs.Ordem AS ORDEM_SERVICO,\n    OSs.Cliente AS COD_CLIENTE,\n    C.Nome AS CLIENTE,\n    CONVERT(VARCHAR(10), OSs.DataFechamento, 103) AS DATA_FECHAMENTO\n\nFROM OSs (NOLOCK)\n\nINNER JOIN OSServiços OS (NOLOCK) ON OS.Planílha = OSs.Planílha\nINNER JOIN Clientes C (NOLOCK) ON C.CodCliente = OSs.Cliente\nINNER JOIN Clientes CLI (NOLOCK) ON CLI.CodCliente = OSS.Técnico\n\nWHERE OSs.DataFechamento >= DATEADD(MONTH, DATEDIFF(MONTH, 0, GETDATE()) - 1, 0)\n  AND OSs.DataFechamento < DATEADD(MONTH, DATEDIFF(MONTH, 0, GETDATE()), 0)\n  AND OSs.Empresa IN (1002, 1003)\n\nORDER BY OSs.DataFechamento\n"},"name":"Microsoft SQL","type":"n8n-nodes-base.microsoftSql","position":[-200,340],"typeVersion":1,"id":"24e459c6-2656-4d06-b47e-80036d1091be","credentials":{"microsoftSql":{"id":"MpW3ToCylAcdPZWg","name":"Microsoft SQL account"}}},{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 1 1 * *"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[500,-40],"id":"34c81db2-7155-4698-ad41-7beda1da2511","name":"Schedule Trigger"},{"parameters":{},"id":"148c85b1-b45a-4e3f-90e5-ddc55b1481bb","name":"When clicking \"Execute Workflow\"","type":"n8n-nodes-base.manualTrigger","position":[100,580],"typeVersion":1},{"parameters":{"content":"## Salva a tabela SQL como um arquivo CSV\n### Você pode enviá-lo por e-mail, fazer upload para o armazenamento de arquivos ou fazer download em seu computador.\n### Basta conectar um ou dois nós n8n extras aqui!","height":280,"width":682},"id":"1874390a-4199-4bb5-9a25-af2801150a52","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[640,460],"typeVersion":1},{"parameters":{"values":{"string":[{"name":"TableName","value":"SalesLT.ProductCategory"}]},"options":{}},"id":"366c40f4-056d-4f97-9f2a-08342d5e77b5","name":"TableName","type":"n8n-nodes-base.set","position":[300,580],"typeVersion":1},{"parameters":{"operation":"executeQuery","query":"=SELECT * FROM {{ $json[\"TableName\"] }}"},"id":"490d45cd-685c-43af-933e-14bc17a0c1cb","name":"LoadMSSQLData","type":"n8n-nodes-base.microsoftSql","position":[480,580],"typeVersion":1,"credentials":{"microsoftSql":{"id":"MpW3ToCylAcdPZWg","name":"Microsoft SQL account"}}},{"parameters":{"operation":"toFile","fileFormat":"csv","options":{"fileName":"={{ $('TableName').first().json.TableName }}.{{ $parameter[\"fileFormat\"] }}"}},"id":"04028481-2369-44de-b066-f7503d3fab23","name":"SaveCSV","type":"n8n-nodes-base.spreadsheetFile","position":[900,580],"typeVersion":1},{"parameters":{"binaryPropertyName":"=data","options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[1120,580],"id":"5fa200af-3dc8-40cb-9b02-c9e64ce6853e","name":"Convert to File"},{"parameters":{"operation":"toFile","fileFormat":"csv","options":{"fileName":"=relatorio_mensal_{{ $moment().subtract(1, 'month').format('YYYYMM') }}.csv\n","headerRow":true}},"id":"87e9ecfd-5368-49e5-be9c-0c599fd1db6e","name":"SaveCSV1","type":"n8n-nodes-base.spreadsheetFile","position":[1040,0],"typeVersion":1},{"parameters":{"operation":"sendAndWait","sendTo":"ti.coordenador@ramosgrupo.com.br, gerencia@cearagps.com.br ","subject":"Relatório Mensal - {{ $moment().subtract(1, 'month').format('MMMM YYYY') }}","message":"Segue em anexo o relatório mensal referente a {{ $moment().subtract(1, 'month').format('MMMM YYYY') }}.\n","options":{}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[1460,-40],"id":"bf337878-9880-49ea-9dca-44b245252d25","name":"Gmail","webhookId":"595f05bd-bd6a-439f-90ad-0e599dbd82b5","credentials":{"gmailOAuth2":{"id":"EQ4hyYPO2n2xYhrg","name":"Gmail account Clenildon"}}},{"parameters":{"mode":"raw","jsonOutput":"{\n  \"to\": [\"destinatario1@example.com\", \"destinatario2@example.com\"],\n  \"subject\": \"Relatório Mensal - {{$now.format('MMMM YYYY')}}\",\n  \"body\": \"Segue em anexo o relatório mensal referente a {{$now.subtract(1, 'month').format('MMMM YYYY')}}.\"\n}\n","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1240,-20],"id":"a524ca29-9d1a-481a-99d3-7c8dc99d4832","name":"Edit Fields"},{"parameters":{"content":"## Automação que faz consulta no BD, para verificar as OS dos atendimentos dos técnicos no mês que passou,  gera um arquivo CSV e envia para Joelmir todo dia 01 do mês. \n","height":280,"width":462,"color":4},"id":"93003b03-14ef-4748-8a15-8f87da5ba9a1","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[0,-120],"typeVersion":1},{"parameters":{"operation":"executeQuery","query":"SELECT\n    OSs.Empresa AS COD_EMPRESA,\n\n    CASE WHEN OSs.Empresa = 1 THEN 'CRX Concox'\n         WHEN OSs.Empresa = 2 THEN 'CearáGPS'\n         WHEN OSs.Empresa = 3 THEN 'Rastreio Brasil'\n         WHEN OSs.Empresa = 1002 THEN 'CearáGPS'\n         WHEN OSs.Empresa = 1003 THEN 'Rastreio Brasil'\n    END AS EMPRESA,\n\n    OSS.Técnico AS COD_TECNICO,\n    CLI.Nome AS TECNICO,\n\n    CASE WHEN OSs.Tipo = 'R' THEN 'Retirada'\n         WHEN OSs.Tipo = 'V' THEN 'Venda'\n         WHEN OSs.Tipo = 'C' THEN 'Corretiva'\n         WHEN OSs.Tipo = 'P' THEN 'Preventiva'\n         WHEN OSs.Tipo = 'A' THEN 'Vistoria'\n         WHEN OSs.Tipo = 'M' THEN 'Manutenção'\n         WHEN OSs.Tipo = 'I' THEN 'Acordo (Captura)'\n    END AS TIPO,\n\n    OS.Descrição AS SERVICO,\n    OS.Quantidade AS QUANTIDADE,\n    OSs.Ordem AS ORDEM_SERVICO,\n    OSs.Cliente AS COD_CLIENTE,\n    C.Nome AS CLIENTE,\n    CONVERT(VARCHAR(10), OSs.DataFechamento, 103) AS DATA_FECHAMENTO\n\nFROM OSs (NOLOCK)\n\nINNER JOIN OSServiços OS (NOLOCK) ON OS.Planílha = OSs.Planílha\nINNER JOIN Clientes C (NOLOCK) ON C.CodCliente = OSs.Cliente\nINNER JOIN Clientes CLI (NOLOCK) ON CLI.CodCliente = OSS.Técnico\n\nWHERE OSs.DataFechamento >= DATEADD(MONTH, DATEDIFF(MONTH, 0, GETDATE()) - 1, 0)\n  AND OSs.DataFechamento < DATEADD(MONTH, DATEDIFF(MONTH, 0, GETDATE()), 0)\n  AND OSs.Empresa IN (1002, 1003)\n\nORDER BY OSs.DataFechamento\n","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[780,20],"id":"a5b4dac4-8854-4e8a-9dea-d81982f0a92b","name":"Postgres","credentials":{"postgres":{"id":"fBDMo3tNTqp5uFhb","name":"Postgres account"}}}],"connections":{"Schedule Trigger":{"main":[[{"node":"Postgres","type":"main","index":0}]]},"TableName":{"main":[[{"node":"LoadMSSQLData","type":"main","index":0}]]},"LoadMSSQLData":{"main":[[{"node":"SaveCSV","type":"main","index":0}]]},"When clicking \"Execute Workflow\"":{"main":[[{"node":"TableName","type":"main","index":0}]]},"SaveCSV":{"main":[[{"node":"Convert to File","type":"main","index":0}]]},"Microsoft SQL":{"main":[[]]},"SaveCSV1":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Gmail","type":"main","index":0}]]},"Postgres":{"main":[[{"node":"SaveCSV1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"e4401acf-c96f-4de8-88b1-844fa7feb7de","triggerCount":0,"tags":[]}