envio_relatorio_tecnicos-wm9RJTg4Hqpobpuc.json
{"createdAt":"2025-02-26T19:33:06.014Z","updatedAt":"2025-02-26T19:33:24.772Z","id":"wm9RJTg4Hqpobpuc","name":"envio_relatorio_tecnicos","active":false,"nodes":[{"parameters":{"operation":"executeQuery","query":"SEU_COMANDO_SQL_AQUI\nWHERE data BETWEEN \n'{{ (new Date(new Date().getFullYear(), new Date().getMonth()-1, 1)).toISOString().split(\"T\")[0] }}' \nAND \n'{{ (new Date(new Date().getFullYear(), new Date().getMonth(), 0)).toISOString().split(\"T\")[0] }}'\n"},"name":"Microsoft SQL","type":"n8n-nodes-base.microsoftSql","position":[700,-40],"typeVersion":1,"id":"24e459c6-2656-4d06-b47e-80036d1091be","credentials":{"microsoftSql":{"id":null,"name":""}}},{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 1 1 * *"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[500,-40],"id":"34c81db2-7155-4698-ad41-7beda1da2511","name":"Schedule Trigger"},{"parameters":{},"id":"148c85b1-b45a-4e3f-90e5-ddc55b1481bb","name":"When clicking \"Execute Workflow\"","type":"n8n-nodes-base.manualTrigger","position":[100,520],"typeVersion":1},{"parameters":{"content":"## Salva a tabela SQL como um arquivo CSV\n### Você pode enviá-lo por e-mail, fazer upload para o armazenamento de arquivos ou fazer download em seu computador.\n### Basta conectar um ou dois nós n8n extras aqui!","height":280,"width":682},"id":"1874390a-4199-4bb5-9a25-af2801150a52","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[640,400],"typeVersion":1},{"parameters":{"values":{"string":[{"name":"TableName","value":"SalesLT.ProductCategory"}]},"options":{}},"id":"366c40f4-056d-4f97-9f2a-08342d5e77b5","name":"TableName","type":"n8n-nodes-base.set","position":[300,520],"typeVersion":1},{"parameters":{"operation":"executeQuery","query":"=SELECT * FROM {{ $json[\"TableName\"] }}"},"id":"490d45cd-685c-43af-933e-14bc17a0c1cb","name":"LoadMSSQLData","type":"n8n-nodes-base.microsoftSql","position":[480,520],"typeVersion":1},{"parameters":{"operation":"toFile","fileFormat":"csv","options":{"fileName":"={{ $('TableName').first().json.TableName }}.{{ $parameter[\"fileFormat\"] }}"}},"id":"04028481-2369-44de-b066-f7503d3fab23","name":"SaveCSV","type":"n8n-nodes-base.spreadsheetFile","position":[900,520],"typeVersion":1},{"parameters":{"binaryPropertyName":"=data","options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[1120,520],"id":"5fa200af-3dc8-40cb-9b02-c9e64ce6853e","name":"Convert to File"},{"parameters":{"operation":"toFile","fileFormat":"csv","options":{"fileName":"=relatorio_mensal_{{ $moment().subtract(1, 'month').format('YYYYMM') }}.csv\n","headerRow":true}},"id":"87e9ecfd-5368-49e5-be9c-0c599fd1db6e","name":"SaveCSV1","type":"n8n-nodes-base.spreadsheetFile","position":[920,-40],"typeVersion":1},{"parameters":{"operation":"sendAndWait","sendTo":"ti.coordenador@ramosgrupo.com.br, gerencia@cearagps.com.br ","subject":"Relatório Mensal - {{ $moment().subtract(1, 'month').format('MMMM YYYY') }}","message":"Segue em anexo o relatório mensal referente a {{ $moment().subtract(1, 'month').format('MMMM YYYY') }}.\n","options":{}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[1360,-20],"id":"bf337878-9880-49ea-9dca-44b245252d25","name":"Gmail","webhookId":"595f05bd-bd6a-439f-90ad-0e599dbd82b5"},{"parameters":{"mode":"raw","jsonOutput":"{\n  \"to\": [\"destinatario1@example.com\", \"destinatario2@example.com\"],\n  \"subject\": \"Relatório Mensal - {{$now.format('MMMM YYYY')}}\",\n  \"body\": \"Segue em anexo o relatório mensal referente a {{$now.subtract(1, 'month').format('MMMM YYYY')}}.\"\n}\n","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1140,-20],"id":"a524ca29-9d1a-481a-99d3-7c8dc99d4832","name":"Edit Fields"},{"parameters":{"content":"## Automação que faz consulta no BD, para verificar as OS dos atendimentos dos técnicos no mês que passou,  gera um arquivo CSV e envia para Joelmir todo dia 01 do mês. \n","height":280,"width":462,"color":4},"id":"93003b03-14ef-4748-8a15-8f87da5ba9a1","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[0,-120],"typeVersion":1}],"connections":{"Schedule Trigger":{"main":[[{"node":"Microsoft SQL","type":"main","index":0}]]},"TableName":{"main":[[{"node":"LoadMSSQLData","type":"main","index":0}]]},"LoadMSSQLData":{"main":[[{"node":"SaveCSV","type":"main","index":0}]]},"When clicking \"Execute Workflow\"":{"main":[[{"node":"TableName","type":"main","index":0}]]},"SaveCSV":{"main":[[{"node":"Convert to File","type":"main","index":0}]]},"Microsoft SQL":{"main":[[{"node":"SaveCSV1","type":"main","index":0}]]},"SaveCSV1":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Gmail","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"4e67d960-0d37-4ced-aa62-7a7478123d62","triggerCount":0,"tags":[]}