envio_msg-kH7quEcPbIYCaaRT.json
{"createdAt":"2025-02-26T19:32:33.301Z","updatedAt":"2025-02-28T17:55:51.154Z","id":"kH7quEcPbIYCaaRT","name":"envio_msg","active":false,"nodes":[{"parameters":{"operation":"set","key":"id_botao","value":"={{ $json.keyID }}"},"id":"a9bb1904-f090-4290-b6b5-b279003e2e90","name":"RECUPERA ID BOTﾃグ 1","type":"n8n-nodes-base.redis","typeVersion":1,"position":[480,160],"credentials":{"redis":{"id":"4SbsJFNL5m41LYFi","name":"Redis account"}}},{"parameters":{"operation":"set","key":"id_botao","value":"={{ $json.keyID }}"},"id":"583ee038-2a5f-4f29-a6ca-40208d99ee14","name":"RECUPERA ID BOTﾃグ 2","type":"n8n-nodes-base.redis","typeVersion":1,"position":[480,320],"credentials":{"redis":{"id":"4SbsJFNL5m41LYFi","name":"Redis account"}}},{"parameters":{"operation":"set","key":"id_botao","value":"={{ $json.keyID }}"},"id":"1f933136-be64-4725-8574-41f5dfdffd70","name":"RECUPERA ID BOTﾃグ 3","type":"n8n-nodes-base.redis","typeVersion":1,"position":[480,480],"credentials":{"redis":{"id":"4SbsJFNL5m41LYFi","name":"Redis account"}}},{"parameters":{"operation":"set","key":"id_botao","value":"{{ $json.body.data.key.id }}"},"id":"2ae0f3a0-ceb9-4fc3-a37b-06238cdd0162","name":"ARMAZENA ID BOTﾃグ","type":"n8n-nodes-base.redis","typeVersion":1,"position":[720,0],"credentials":{"redis":{"id":"4SbsJFNL5m41LYFi","name":"Redis account"}}},{"parameters":{"method":"POST","url":"={{ $json.baseUrl.replace(/\\/$/, '') }}/message/sendButtons/{{ $json.instance }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $json.apikey }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"={{ $json.remoteJid }}"},{"name":"title","value":"泅ｨ BLACK FRIDAY CHEGOU! 泅ｨ"},{"name":"description","value":"沐･ Aproveite ganhe atﾃｩ R$ 120 de DESCONTO usando o cupom BLACK 沐･"},{"name":"footer","value":"竢ｰ Oferta limitada, nﾃ｣o fique de fora!"},{"name":"buttons","value":"={{ \n[\n{\n\"type\": \"reply\",\n\"displayText\": \"Botﾃ｣o A\",\n\"id\": \"1\"\n},\n{\n\"type\": \"reply\",\n\"displayText\": \"Botﾃ｣o B\",\n\"id\": \"2\"\n},\n{\n\"type\": \"reply\",\n\"displayText\": \"Botﾃ｣o C\",\n\"id\": \"3\"\n}\n] \n}}"},{"name":"thumbnailUrl","value":"={{ $json.tumbnail }}"}]},"options":{}},"id":"7cfeffa8-60c3-4b3d-94e4-f3b3950a1abc","name":"ENVIO DOS BOTﾃ髭S","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[480,0]},{"parameters":{"assignments":{"assignments":[{"id":"fb8c146c-9dff-4731-9f3e-eb1f79d2280d","name":"baseUrl","value":"={{ $json.body.server_url }}","type":"string"},{"id":"cfc6844d-86a3-438d-a607-84f42114bba9","name":"apikey","value":"={{ $json.body.apikey }}","type":"string"},{"id":"ff31f2bb-ba58-42cf-9fb4-366040da2b79","name":"remoteJid","value":"={{ $json.body.data.key.remoteJid }}","type":"string"},{"id":"84153324-bc47-4f51-8eed-23521d9638ef","name":"keyID","value":"={{ $json.body.data.key.id }}","type":"string"},{"id":"9ae8d2a5-d8e3-47f2-b292-4124629d25d1","name":"instance","value":"={{ $json.body.instance }}","type":"string"},{"id":"a04dba9f-c215-4ac6-a3ce-76ebea012da5","name":"pushName","value":"={{ $json.body.data.pushName }}","type":"string"},{"id":"1f2c870d-9532-4f01-8e8f-ff39da52682d","name":"tumbnail","value":"https://i.postimg.cc/DyqWTyM5/ads-2-1.png","type":"string"},{"id":"ba2b5e6c-84c1-4909-8916-3024569624c5","name":"selectedId ","value":"={{ $json.body.data.message.templateButtonReplyMessage.selectedId }}","type":"string"},{"id":"dfa4fbb0-3933-4cef-8ef8-c76e69a64924","name":"messageConversation","value":"={{ $json.body.data.message.conversation }}","type":"string"}]},"options":{}},"id":"afde30f8-1086-4477-9908-123db2f6f4b5","name":"VARIﾃ〃EIS","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[220,0]},{"parameters":{"method":"POST","url":"={{ $('Webhook').item.json.body.server_url }}/message/sendText/{{ $('Webhook').item.json.body.instance }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $('Webhook').item.json.body.apikey }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"={{ $('Webhook').item.json.body.data.key.remoteJid }}"},{"name":"text","value":"Vocﾃｪ escolheu o botﾃ｣o A"}]},"options":{}},"id":"094a10ae-5370-4dbe-97e9-740ed583b10c","name":"RESPOSTA BOTﾃグ 1","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[720,160]},{"parameters":{"method":"POST","url":"={{ $('Webhook').item.json.body.server_url }}/message/sendText/{{ $('Webhook').item.json.body.instance }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $('Webhook').item.json.body.apikey }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"={{ $('Webhook').item.json.body.data.key.remoteJid }}"},{"name":"text","value":"Vocﾃｪ escolheu o botﾃ｣o B"}]},"options":{}},"id":"2fc0881d-7978-4d92-bb96-a3336688f0c9","name":"RESPOSTA BOTﾃグ 2","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[720,320]},{"parameters":{"method":"POST","url":"={{ $('Webhook').item.json.body.server_url }}/message/sendText/{{ $('Webhook').item.json.body.instance }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $('Webhook').item.json.body.apikey }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"={{ $('Webhook').item.json.body.data.key.remoteJid }}"},{"name":"text","value":"Vocﾃｪ escolheu o botﾃ｣o C"}]},"options":{}},"id":"d008d253-282e-4b3b-adba-19420c4c5f76","name":"RESPOSTA BOTﾃグ 3","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[720,480]},{"parameters":{"httpMethod":"POST","path":"botoes_zap","options":{}},"id":"5a5468ad-55c0-44e4-9d4b-5bb7b3134cb7","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[0,0],"webhookId":"91914235-3268-41a4-be48-4a1480b49ee6"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.messageConversation }}","rightValue":"bot","operator":{"type":"string","operation":"equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"3698d1b8-c02a-458d-9884-bfbf495b99f3","leftValue":"={{ $json['selectedId '] }}","rightValue":"1","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"41863bef-4f9d-4ca5-ac60-0d7d9e56d787","leftValue":"={{ $json['selectedId '] }}","rightValue":"2","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"ea550f16-63b4-49c2-b34b-6081ed1172ea","leftValue":"={{ $json['selectedId '] }}","rightValue":"3","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}}]},"options":{}},"id":"d7bab790-a647-47f8-913c-77a4c95e91e8","name":"GATILHO + ESCOLHA DO BOTﾃグ","type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[220,240]},{"parameters":{"content":"泅ｨ BLACK FRIDAY CHEGOU! 泅ｨ\n\n沐･ Aproveite ganhe atﾃｩ R$ 120 de DESCONTO usando o cupom BLACK 沐･\n\n沐 Nﾃ｣o perca essa chance de transformar seu negﾃｳcio com automaﾃｧﾃ｣o inteligente e poderosa! 汳ｼ汳･\n泅 Automatize suas vendas e conquiste mais liberdade com o Pack Typebot! 洟役汳ｬ\n\n竢ｰ Oferta limitada, nﾃ｣o fique de fora!\n\n汨 Garanta jﾃ｡ o seu desconto: https://packtypebot.com.br\n汳ｻ Cupom: BLACK","height":292.5581395348838,"width":444.6511627906978,"color":7},"id":"b252edfb-f219-4393-94ab-1233dd0c5546","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-560,80]}],"connections":{"RECUPERA ID BOTﾃグ 1":{"main":[[{"node":"RESPOSTA BOTﾃグ 1","type":"main","index":0}]]},"RECUPERA ID BOTﾃグ 2":{"main":[[{"node":"RESPOSTA BOTﾃグ 2","type":"main","index":0}]]},"RECUPERA ID BOTﾃグ 3":{"main":[[{"node":"RESPOSTA BOTﾃグ 3","type":"main","index":0}]]},"ENVIO DOS BOTﾃ髭S":{"main":[[{"node":"ARMAZENA ID BOTﾃグ","type":"main","index":0}]]},"VARIﾃ〃EIS":{"main":[[{"node":"GATILHO + ESCOLHA DO BOTﾃグ","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"VARIﾃ〃EIS","type":"main","index":0}]]},"GATILHO + ESCOLHA DO BOTﾃグ":{"main":[[{"node":"ENVIO DOS BOTﾃ髭S","type":"main","index":0}],[{"node":"RECUPERA ID BOTﾃグ 1","type":"main","index":0}],[{"node":"RECUPERA ID BOTﾃグ 2","type":"main","index":0}],[{"node":"RECUPERA ID BOTﾃグ 3","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"ee229a2e-9871-4452-8703-2aeedaea6bf2","triggerCount":0,"tags":[{"createdAt":"2025-02-26T19:32:15.972Z","updatedAt":"2025-02-26T19:32:15.972Z","id":"s1Y2vHAjtFNGh2QI","name":"Pack Typebot"}]}