extraindo-dados-de-serviços-para-os-quais-o-n8n-não-tem-uma-integração-Ya4856s1jJ5Udpkb.json
{"createdAt":"2025-02-26T19:34:11.009Z","updatedAt":"2025-02-26T19:34:11.009Z","id":"Ya4856s1jJ5Udpkb","name":"extraindo-dados-de-serviços-para-os-quais-o-n8n-não-tem-uma-integração","active":false,"nodes":[{"parameters":{},"id":"24c76a65-7154-4f89-b614-678305b25f45","name":"On clicking 'execute'","type":"n8n-nodes-base.manualTrigger","position":[-360,420],"typeVersion":1},{"parameters":{"content":"## Solicitação HTTP\n### Este fluxo de trabalho mostra os casos de uso mais comuns do nó de solicitação HTTP e como lidar com sua saída\n\n\n### Clique no botão `Executar fluxo de trabalho` e clique duas vezes nos nós para ver os itens de entrada e saída.","height":260,"width":440},"id":"a84d8b55-9a66-41ab-9a59-9d0d8e71d106","name":"Note","type":"n8n-nodes-base.stickyNote","position":[-920,280],"typeVersion":1},{"parameters":{"content":"## 3. Lidar com paginação\n### Às vezes você precisa fazer a mesma solicitação várias vezes para obter todos os dados necessários (paginação).\n\n### O processo de paginação é o seguinte:\n### 1. Percorrer as páginas da fonte de entrada (nó `HTTP Request` denominado \"Get my Starts\")\n### 2. Incremente a página no final de cada loop (feito com o nó `set` chamado \"Increment Page\") \n### 3. Pare o loop quando não houver mais páginas (marcado no nó `If` chamado \"Are we Finished?\")","height":460.847917534361,"width":986.3743856726365},"id":"0867ad57-3b9f-4545-9b7d-5e9eb4d152ec","name":"Note2","type":"n8n-nodes-base.stickyNote","position":[0,600],"typeVersion":1},{"parameters":{"values":{"number":[{"name":"page"},{"name":"perpage","value":15}],"string":[{"name":"githubUser","value":"that-one-tom"}]},"options":{}},"id":"c040fe8d-3688-4b4b-aacf-f67b2abd922d","name":"Set","type":"n8n-nodes-base.set","position":[60,860],"typeVersion":1},{"parameters":{"content":"## 2. Extração de dados\n### Neste exemplo buscamos os títulos do blog n8n usando o nó `HTTP request` e então usamos o nó `HTML extract` para passar.","height":280,"width":680},"id":"65e07b08-89bd-4d52-892d-76d0fb075bb7","name":"Note6","type":"n8n-nodes-base.stickyNote","position":[0,300],"typeVersion":1,"disabled":true},{"parameters":{"content":"## 1. Divida em itens\n### Neste exemplo, pegamos o corpo de um nó `HTTP Request` e o dividimos em itens que são mais fáceis de gerenciar.","height":280,"width":500},"id":"47da36ff-0d01-4aa1-87ee-1d16030ab989","name":"Note1","type":"n8n-nodes-base.stickyNote","position":[0,0],"typeVersion":1},{"parameters":{"fieldToSplitOut":"body","options":{}},"id":"cd4cf8b0-8bae-4309-a42a-05cac8e6536a","name":"Item Lists - Create Items from Body","type":"n8n-nodes-base.itemLists","position":[260,100],"notesInFlow":false,"typeVersion":1,"notes":"Create Items from Body"},{"parameters":{"sourceData":"binary","extractionValues":{"values":[{"key":"ArticleTitle","cssSelector":"#firstHeading"}]},"options":{}},"id":"d9719ea2-6c44-4b9a-89af-0d7c1d63fa9f","name":"HTML Extract - Extract Article Title","type":"n8n-nodes-base.htmlExtract","position":[240,420],"typeVersion":1},{"parameters":{"fieldToSplitOut":"body","options":{}},"id":"f7d637d3-cefc-4915-b758-d7ff54a83399","name":"Item Lists - Fetch Body","type":"n8n-nodes-base.itemLists","position":[440,860],"typeVersion":1,"alwaysOutputData":true},{"parameters":{"conditions":{"string":[{"value1":"={{$node[\"HTTP Request - Get my Stars\"].json[\"body\"]}}","operation":"isEmpty"}]}},"id":"af1abb6a-296b-4e75-85ff-588494be34d1","name":"If - Are we finished?","type":"n8n-nodes-base.if","position":[620,860],"executeOnce":true,"typeVersion":1},{"parameters":{"values":{"string":[{"name":"page","value":"={{$node[\"Set\"].json[\"page\"]++}}"}]},"options":{}},"id":"1b3c798d-f93c-44ca-ae8a-ce02e5336651","name":"Set - Increment Page","type":"n8n-nodes-base.set","position":[840,880],"executeOnce":true,"typeVersion":1},{"parameters":{"url":"https://jsonplaceholder.typicode.com/albums","options":{"response":{"response":{"fullResponse":true}}}},"id":"bc66594e-5f22-4520-9924-ea05679df238","name":"HTTP Request - Get Mock Albums","type":"n8n-nodes-base.httpRequest","position":[60,100],"typeVersion":3},{"parameters":{"url":"https://en.wikipedia.org/wiki/Special:Random","options":{"redirect":{"redirect":{"followRedirects":true}},"response":{"response":{"responseFormat":"file"}}}},"id":"0df964d5-c064-48ca-a06d-006a471eb5a5","name":"HTTP Request - Get Wikipedia Page","type":"n8n-nodes-base.httpRequest","position":[40,420],"typeVersion":3},{"parameters":{"url":"=https://api.github.com/users/{{$node[\"Set\"].json[\"githubUser\"]}}/starred","sendQuery":true,"queryParameters":{"parameters":[{"name":"per_page","value":"={{$node[\"Set\"].json[\"perpage\"]}}"},{"name":"page","value":"={{$node[\"Set\"].json[\"page\"]}}"}]},"options":{"response":{"response":{"fullResponse":true}}}},"id":"adcd937c-4087-4a39-a9c4-ca941ad26574","name":"HTTP Request - Get my Stars","type":"n8n-nodes-base.httpRequest","position":[260,860],"typeVersion":3},{"parameters":{"content":"Descrição do modelo\nVocê ainda pode usar o aplicativo em um fluxo de trabalho, mesmo que não tenhamos um nó para isso ou a operação existente para isso. Com o nó HTTP Request, é possível chamar qualquer ponto de API e usar os dados recebidos em seu fluxo de trabalho\n\nPrincipais casos de uso:\n\nConecte-se com aplicativos e serviços com os quais o n8n não tem integração\nRaspagem da Web\nComo funciona\nEsse fluxo de trabalho pode ser dividido em três ramos, cada um servindo a um propósito distinto:\n\n1. Dividindo em itens (solicitação HTTP - obter álbuns simulados):\n\nO fluxo de trabalho é iniciado com um gatilho manual (ao clicar em \"executar\").\nEle executa uma solicitação HTTP para recuperar dados de álbuns simulados de \" https://jsonplaceholder.typicode.com/albums\".\nOs dados obtidos são divididos em itens usando o nó Listas de Itens, facilitando o gerenciamento.\n2. Extração de dados (solicitação HTTP - obter página da Wikipedia e extrato HTML):\n\nOutro ramo do fluxo de trabalho envolve buscar uma página aleatória da Wikipédia usando uma solicitação HTTP para \" https://en.wikipedia.org/wiki/Special:Random\".\nO nó Extrair HTML extrai o título do artigo da página da Wikipédia buscada.\n3. Manipulando paginação (A ramificação final lida com o manuseio de paginação para uma solicitação da API do GitHub):\n\nEle envia uma solicitação HTTP para \" https://api.github.com/users/that-one-tom/starred\", com parâmetros como o número da página e itens por página definidos dinamicamente pelo nó Definir.\nO fluxo de trabalho usa condições (Se - Terminamos?) para verificar se há mais páginas para recuperar e incrementa o número da página adequadamente (Definir - Incrementar página).\nEsse processo se repete até que todas as páginas sejam buscadas, permitindo uma recuperação abrangente de dados.","height":620,"width":800,"color":4},"id":"8cdff4b3-be45-4b72-9c6c-60c007987598","name":"Note3","type":"n8n-nodes-base.stickyNote","position":[-1020,600],"typeVersion":1}],"connections":{"Set":{"main":[[{"node":"HTTP Request - Get my Stars","type":"main","index":0}]]},"Set - Increment Page":{"main":[[{"node":"HTTP Request - Get my Stars","type":"main","index":0}]]},"If - Are we finished?":{"main":[[],[{"node":"Set - Increment Page","type":"main","index":0}]]},"On clicking 'execute'":{"main":[[{"node":"Set","type":"main","index":0},{"node":"HTTP Request - Get Mock Albums","type":"main","index":0},{"node":"HTTP Request - Get Wikipedia Page","type":"main","index":0}]]},"Item Lists - Fetch Body":{"main":[[{"node":"If - Are we finished?","type":"main","index":0}]]},"HTTP Request - Get my Stars":{"main":[[{"node":"Item Lists - Fetch Body","type":"main","index":0}]]},"HTTP Request - Get Mock Albums":{"main":[[{"node":"Item Lists - Create Items from Body","type":"main","index":0}]]},"HTTP Request - Get Wikipedia Page":{"main":[[{"node":"HTML Extract - Extract Article Title","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"4998cc89-d0d1-47e9-889d-a5d7acbbbd08","triggerCount":0,"tags":[]}