kommo-teste-7p0On5F3sj4cx7cR.json
{"createdAt":"2025-02-26T19:56:05.303Z","updatedAt":"2025-02-26T20:38:14.891Z","id":"7p0On5F3sj4cx7cR","name":"Kommo teste","active":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"kommonps","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-420,-440],"id":"0a6ca321-88b8-4081-ab72-6cdcd4b2eede","name":"Webhook Kommo Receber os dados","webhookId":"c29b10c1-2b37-4b29-979c-2aa677cb6930"},{"parameters":{"url":"=https://{{ $json.body[\"account[subdomain]\"] }}.kommo.com/api/v4/leads/{{ $json.body[\"leads[add][0][id]\"] }}?with=contacts","sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"},{"name":"authorization","value":"Bearer  eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsImp0aSI6IjAwYmZjZTc5MTdiODRlOTM2ZDk3MjMzMGJjMjViM2NmNjY2M2NmMjRmOTYwNmQ0MmJkYTMyYTQzYmJhOGE4MTk4OWNmOWJkZjBiNTJlYzNhIn0.eyJhdWQiOiJhZmM4YmQ2Yy00NTA2LTQ5MTctOGJmYy0zMjc1YmM3ZDk4MTciLCJqdGkiOiIwMGJmY2U3OTE3Yjg0ZTkzNmQ5NzIzMzBiYzI1YjNjZjY2NjNjZjI0Zjk2MDZkNDJiZGEzMmE0M2JiYThhODE5ODljZjliZGYwYjUyZWMzYSIsImlhdCI6MTczOTgxODUxMywibmJmIjoxNzM5ODE4NTEzLCJleHAiOjE4OTc1MTY4MDAsInN1YiI6IjkwMTM5MDciLCJncmFudF90eXBlIjoiIiwiYWNjb3VudF9pZCI6MzA4MDcyNTksImJhc2VfZG9tYWluIjoia29tbW8uY29tIiwidmVyc2lvbiI6Miwic2NvcGVzIjpbImNybSIsImZpbGVzIiwiZmlsZXNfZGVsZXRlIiwibm90aWZpY2F0aW9ucyIsInB1c2hfbm90aWZpY2F0aW9ucyJdLCJoYXNoX3V1aWQiOiIxNDVjZmZjNy0yMmRlLTQzZTEtODhmMy1jYTllNDYzMDQ4NDEiLCJhcGlfZG9tYWluIjoiYXBpLWcua29tbW8uY29tIn0.jjhtVSlcH1ngrJA-xpPlbZ9JPpa9vPxjjjZwkN4dMrkxhqVy5Si5Z09VvqLYEI2kjZ8oiEwToDKfdU4Yr3ulk8BSFZK_PNtMJZHz4qfpW9HBPCPPF-vVdNdpg9Gq2UlueNzO4CUA3hzpenxHU6UYxbjo0PvAJCAhRGhUDGH5VkQFQ21HFBhP1Cxd8pquSO5cx1FVFnibLya9aUZpzQxhM4MmniUlrj3r0ZJ9zuUJGlTnN-ffZpgP4h1aLSBttszHvC4F1GzQ-TJFfghnB5ZjrOeliQejIq9irn_Z8cRx_iiHPywZ_1zF2AY0wAerG8waF4LG8Oxm5cVBaDimVkDg6A"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-120,-380],"id":"9ca72187-ad45-4f4d-b7da-7981bb911a2d","name":"HTTP Request - Pegar Id Contato"},{"parameters":{"authentication":"longLivedToken","resource":"contacts","filter":{"id":"={{ $json.contactId }}"},"options":{},"limit":10000},"type":"n8n-nodes-kommo.kommo","typeVersion":1,"position":[420,-280],"id":"62837efe-1ba9-4671-9715-1f647dee5e1f","name":"Kommo API Node","credentials":{"kommoLongLivedApi":{"id":"375fR3qn2nqo8rXk","name":"Kommo Long Lived Token account"}}},{"parameters":{"jsCode":"// Desserializa o JSON do campo \"data\"\nconst rawData = $json.data;\nconst lead = JSON.parse(rawData);\n\n// Extrai os dados principais da lead\nconst leadData = {\n  id: lead.id,\n  name: lead.name,\n  status_id: lead.status_id,\n  pipeline_id: lead.pipeline_id,\n  contactId: lead._embedded.contacts?.[0]?.id || null, // ID do primeiro contato vinculado\n};\n\nreturn {\n  json: leadData,\n};\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[120,-280],"id":"662e443c-b926-4980-946f-eaee3eecbc96","name":"Tratamento "}],"connections":{"Webhook Kommo Receber os dados":{"main":[[{"node":"HTTP Request - Pegar Id Contato","type":"main","index":0}]]},"HTTP Request - Pegar Id Contato":{"main":[[{"node":"Tratamento ","type":"main","index":0}]]},"Tratamento ":{"main":[[{"node":"Kommo API Node","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook Kommo Receber os dados":[{"json":{"headers":{"host":"n8n.cearatec.cloud","user-agent":"amoCRM-Webhooks/3.0","content-length":"191","accept-encoding":"gzip, br","cdn-loop":"cloudflare; loops=1","cf-connecting-ip":"169.150.216.79","cf-ipcountry":"US","cf-ray":"9148cd443e96f076-DFW","cf-visitor":"{\"scheme\":\"https\"}","content-type":"application/x-www-form-urlencoded","x-amocrm-requestid":"e2f7fb16-476e-445c-94cc-d74e502a7da0","x-forwarded-for":"169.150.216.79, 172.70.94.59","x-forwarded-host":"n8n.cearatec.cloud","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"00733d017f7d","x-real-ip":"172.70.94.59"},"params":{},"query":{},"body":{"leads[add][0][id]":"21174737","leads[add][0][status_id]":"77355128","leads[add][0][pipeline_id]":"10079220","account[id]":"30807259","account[subdomain]":"cearagpsv4"},"webhookUrl":"https://n8nwebhook.cearatec.cloud/webhook-test/kommonps","executionMode":"test"}}]},"versionId":"6d8eac75-5b6d-459e-aa1a-a219a526aac1","triggerCount":0,"tags":[]}