kommo-crx-nYRaDy2cBzbaX85R.json
{"createdAt":"2025-02-26T19:48:32.801Z","updatedAt":"2025-02-28T13:36:37.885Z","id":"nYRaDy2cBzbaX85R","name":"Kommo CRX","active":false,"nodes":[{"parameters":{"authentication":"longLivedToken","resource":"contacts","operation":"createContacts","collection":{"contact":[{"name":"={{ $('DadosMapeados1').first().json.nome }}","custom_fields_values":{"custom_field":[{"data":"{\"id\":836832,\"type\":\"multitext\"}","value":"={{ $json.telefoneFormatado }}"},{"data":"{\"id\":836834,\"type\":\"multitext\"}","value":"={{ $('DadosMapeados1').first().json.email }}"}]}}]}},"type":"n8n-nodes-kommo.kommo","typeVersion":1,"position":[940,-280],"id":"dfcc3a73-69b0-46d1-8fc2-fb122c542692","name":"Criar contato"},{"parameters":{"authentication":"longLivedToken","resource":"leads","operation":"createLeads","collection":{"lead":[{"name":"={{ $('DadosMapeados1').first().json.nome }}","pipeline_id":10321099,"status_id":79931323,"created_by":12573707,"responsible_user_id":12573707,"custom_fields_values":{"custom_field":[{"data":"{\"id\":836846,\"type\":\"tracking_data\"}","value":"={{ $('Correção de Fontes1').item.json.source_new }}"},{"data":"{\"id\":836842,\"type\":\"tracking_data\"}","value":"={{ $('Correção de Fontes1').item.json.medium_new }}"},{"data":"{\"id\":836848,\"type\":\"tracking_data\"}","value":"={{ $('Correção de Fontes1').item.json.term_new }}"},{"data":"{\"id\":836844,\"type\":\"tracking_data\"}","value":"={{ $('Correção de Fontes1').item.json.campaign_new }}"},{"data":"{\"id\":836840,\"type\":\"tracking_data\"}","value":"={{ $('Correção de Fontes1').item.json.content_new }}"},{"data":"{\"id\":988094,\"type\":\"select\"}","value":"LP x Make"}]},"_embedded":{"contacts":[{"id":{"contact":[{"id":"={{ $json._embedded.contacts[0].id }}"}]}}]}}]}},"type":"n8n-nodes-kommo.kommo","typeVersion":1,"position":[1120,-280],"id":"8f8bdda7-7a52-49eb-b410-807d629642a6","name":"Cria Lead"},{"parameters":{"httpMethod":"POST","path":"odontoart","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-280,-120],"id":"5d8e6b92-1b06-42d2-b47f-4032b37a321c","name":"Webhook1","webhookId":"2f64cbd1-9665-4459-a71c-ddf2bd181e7e"},{"parameters":{"jsCode":"const facebookAds = $('DadosMapeados1').all();\n\nfunction formatarTelefone(numeroTelefone) {\n    let telefoneLimpo = numeroTelefone.replace(/\\D/g, '');\n\n    let codigoPais = '+55';\n  \n    if (telefoneLimpo.length > 11 && telefoneLimpo.startsWith('55')) {\n        telefoneLimpo = telefoneLimpo.slice(2);\n    } else if (telefoneLimpo.length > 11) {\n        telefoneLimpo = telefoneLimpo.slice(telefoneLimpo.length - 11);\n    }\n\n    const ddd = telefoneLimpo.slice(0, 2);\n    let numero = telefoneLimpo.slice(2);\n\n    // Adição do nono dígito\n    if (parseInt(ddd) < 30 && numero.length === 8) {\n        numero = '9' + numero;\n    }\n\n    // Remoção do nono dígito\n    if (parseInt(ddd) >= 30 && numero.length === 9 && numero.startsWith('9')) {\n        numero = numero.slice(1);\n    }\n\n    return `${codigoPais} ${ddd} ${numero}`;\n}\n\nconst telefoneFormatado = formatarTelefone(facebookAds[0].json.telefone);\n\nreturn [\n  {\n    telefoneFormatado\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[480,-260],"id":"35844afc-d1e4-44c3-bdad-68c1756b2bcc","name":"telefone1","retryOnFail":true,"maxTries":2},{"parameters":{"assignments":{"assignments":[{"id":"6d6f93c1-4e74-4660-b138-9016b65ca68c","name":"nome","value":"={{ $('Webhook1').item.json.body.Nome }}","type":"string"},{"id":"c3f16fff-af14-484b-9275-d72018da6613","name":"email","value":"={{ $('Webhook1').item.json.body['E-mail'] }}","type":"string"},{"id":"e466ba01-ddb9-4200-bc4d-a56a26020567","name":"telefone","value":"={{ $('Webhook1').item.json.body.Celular }}","type":"string"},{"id":"ef38cf23-aa67-44ae-8a14-15d603da0df8","name":"utm_source","value":"={{ $json.body.utm_source }}","type":"string"},{"id":"eb7f08f6-a660-4f4f-8b78-a1e47bb9f04b","name":"utm_medium","value":"={{ $json.body.utm_medium }}","type":"string"},{"id":"3e4d29ea-743b-4292-992c-bfbaa98bebec","name":"utm_term","value":"={{ $json.body.utm_term }}","type":"string"},{"id":"8f7779c6-bc3e-478d-a36b-3aa164046982","name":"utm_campaign","value":"={{ $json.body.utm_campaign }}","type":"string"},{"id":"7de63352-7706-4082-ad85-764484c7cddb","name":"utm_content","value":"={{ $json.body.utm_content }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-60,-160],"id":"7b34c0c1-dd38-4c5b-bf7f-fe7c30510e11","name":"DadosMapeados1"},{"parameters":{"method":"POST","url":"https://rustic-elegant-guardian.glitch.me/api/adjust_source","sendHeaders":true,"specifyHeaders":"json","jsonHeaders":"{\n  \"x-access-token\":\"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VybmFtZSI6IkFQSSBOOE4gTkVXIiwiZXhwIjoxNzcxMzM5NDA4fQ.XkN3zfXa-WxHDjeVcxngmCpzerA9d50HEGG3TcmY2E0\"\n}","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"source\": \"{{ $json.body.utm_source }}\",\n  \"medium\": \"{{ $json.body.utm_medium }}\",\n  \"campaign\": \"{{ $json.body.utm_campaign }}\",\n  \"content\": \"{{ $json.body.utm_content }}\",\n  \"term\": \"{{ $json.body.utm_term }}\"\n}\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-580,-340],"id":"46205694-4d34-47a9-8058-5f4407b8ca48","name":"HTTP Request1","alwaysOutputData":false,"retryOnFail":true,"disabled":true},{"parameters":{"jsCode":"const dadosEntrada = $('DadosMapeados1').all();\n\nconst CORRESPONDENCIAS = {\n    \"INSTAGRAM_REELS\": \"FBADS\",\n    \"CTA LINK DA BIO\": \"LINK BIO\",\n    \"NAVBAR\": \"TRÁFEGO DIRETO\",\n    \"PAGINA-PLANOODONTO\": \"TRÁFEGO DIRETO\",\n    \"PAGINA-INICIAL\": \"TRÁFEGO DIRETO\",\n    \"CHATBOT\": \"TRÁFEGO DIRETO\",\n    \"CTA NO LINK DA BIO\": \"LINK BIO\",\n    \"INSTAGRAM_STORIES\": \"FBADS\",\n    \"NAV-BAR\": \"TRÁFEGO DIRETO\",\n    \"HOMEPAGE_BUTTONS\": \"TRÁFEGO DIRETO\",\n    \"HOME_BUTTON\": \"TRÁFEGO DIRETO\",\n    \"BOTAO\": \"TRÁFEGO DIRETO\",\n    \"FBADS\": \"FBADS\",\n    \"GOADS\": \"GOADS\"\n};\n\nconst PRIORIDADE_CAMPOS = [\"source\", \"campaign\", \"medium\", \"content\", \"term\"];\n\nfunction ajustarSource(source, campaign, medium, content, term) {\n    source = source.toUpperCase();\n    campaign = campaign.toUpperCase();\n    medium = medium.toUpperCase();\n    content = content.toUpperCase();\n    term = term.toUpperCase();\n\n    if (/^\\d+$/.test(source)) {\n        source = \"GOADS\";\n    } else if (/^OUTROS \\| \\d+$/.test(source)) {\n        source = \"GOADS\";\n    } else if (/^OUTROS \\| [\\w\\W]+/.test(source)) {\n        source = \"FBADS\";\n    } else {\n        const correspondenciasUpper = Object.fromEntries(\n            Object.entries(CORRESPONDENCIAS).map(([k, v]) => [k.toUpperCase(), v.toUpperCase()])\n        );\n\n        const valores = { source, campaign, medium, content, term };\n\n        for (let campo of PRIORIDADE_CAMPOS) {\n            if (correspondenciasUpper[valores[campo]]) {\n                source = correspondenciasUpper[valores[campo]];\n                break;\n            }\n        }\n    }\n\n    return {\n        source_new: source,\n        campaign_new: campaign,\n        medium_new: medium,\n        content_new: content,\n        term_new: term\n    };\n}\n\nconst entrada = dadosEntrada[0].json;\nconst resultado = ajustarSource(\n    entrada.utm_source || \"\", \n    entrada.utm_campaign || \"\", \n    entrada.utm_medium || \"\", \n    entrada.utm_content || \"\", \n    entrada.utm_term || \"\"\n);\n\nreturn [resultado];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[260,-280],"id":"9db203dc-56dc-432e-9c9e-7367707bff6c","name":"Correção de Fontes1"}],"connections":{"Criar contato":{"main":[[{"node":"Cria Lead","type":"main","index":0}]]},"Webhook1":{"main":[[{"node":"DadosMapeados1","type":"main","index":0}]]},"telefone1":{"main":[[{"node":"Criar contato","type":"main","index":0}]]},"DadosMapeados1":{"main":[[{"node":"Correção de Fontes1","type":"main","index":0}]]},"Correção de Fontes1":{"main":[[{"node":"telefone1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"7b91fb24-1e9c-456d-8bf1-639db2a5bafb","triggerCount":0,"tags":[{"createdAt":"2025-02-28T13:36:24.067Z","updatedAt":"2025-02-28T13:36:24.067Z","id":"5pJNpS6tPNDbDlPJ","name":"CRX"}]}