kommo-pesquisa-whatsapp-copy-QfvhUyPjoB8AHRii.json
{"createdAt":"2025-03-05T16:13:19.257Z","updatedAt":"2025-03-05T16:13:19.257Z","id":"QfvhUyPjoB8AHRii","name":"Kommo Pesquisa Whatsapp copy","active":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"49635ce1-e1b0-4f3f-8aed-47cc479bf839","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-880,-300],"id":"5e363236-2151-45f8-876c-e0a30f84f60d","name":"Webhook","webhookId":"49635ce1-e1b0-4f3f-8aed-47cc479bf839"},{"parameters":{"url":"=https://{{ $json.body[\"account[subdomain]\"] }}.kommo.com/api/v4/leads/{{ $json.body[\"leads[status][0][id]\"] }}?with=contacts","sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"},{"name":"authorization","value":"Bearer  eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsImp0aSI6IjAwYmZjZTc5MTdiODRlOTM2ZDk3MjMzMGJjMjViM2NmNjY2M2NmMjRmOTYwNmQ0MmJkYTMyYTQzYmJhOGE4MTk4OWNmOWJkZjBiNTJlYzNhIn0.eyJhdWQiOiJhZmM4YmQ2Yy00NTA2LTQ5MTctOGJmYy0zMjc1YmM3ZDk4MTciLCJqdGkiOiIwMGJmY2U3OTE3Yjg0ZTkzNmQ5NzIzMzBiYzI1YjNjZjY2NjNjZjI0Zjk2MDZkNDJiZGEzMmE0M2JiYThhODE5ODljZjliZGYwYjUyZWMzYSIsImlhdCI6MTczOTgxODUxMywibmJmIjoxNzM5ODE4NTEzLCJleHAiOjE4OTc1MTY4MDAsInN1YiI6IjkwMTM5MDciLCJncmFudF90eXBlIjoiIiwiYWNjb3VudF9pZCI6MzA4MDcyNTksImJhc2VfZG9tYWluIjoia29tbW8uY29tIiwidmVyc2lvbiI6Miwic2NvcGVzIjpbImNybSIsImZpbGVzIiwiZmlsZXNfZGVsZXRlIiwibm90aWZpY2F0aW9ucyIsInB1c2hfbm90aWZpY2F0aW9ucyJdLCJoYXNoX3V1aWQiOiIxNDVjZmZjNy0yMmRlLTQzZTEtODhmMy1jYTllNDYzMDQ4NDEiLCJhcGlfZG9tYWluIjoiYXBpLWcua29tbW8uY29tIn0.jjhtVSlcH1ngrJA-xpPlbZ9JPpa9vPxjjjZwkN4dMrkxhqVy5Si5Z09VvqLYEI2kjZ8oiEwToDKfdU4Yr3ulk8BSFZK_PNtMJZHz4qfpW9HBPCPPF-vVdNdpg9Gq2UlueNzO4CUA3hzpenxHU6UYxbjo0PvAJCAhRGhUDGH5VkQFQ21HFBhP1Cxd8pquSO5cx1FVFnibLya9aUZpzQxhM4MmniUlrj3r0ZJ9zuUJGlTnN-ffZpgP4h1aLSBttszHvC4F1GzQ-TJFfghnB5ZjrOeliQejIq9irn_Z8cRx_iiHPywZ_1zF2AY0wAerG8waF4LG8Oxm5cVBaDimVkDg6A"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-700,-240],"id":"2ef50718-65a6-40df-a3ff-449b1b4b71df","name":"HTTP Request - Pegar Id Contato"},{"parameters":{"promptType":"define","text":"=Esperamos que sua experiência tenha sido positiva e que você esteja satisfeito com nosso serviço.\nPara continuarmos melhorando, gostaríamos de saber sua opinião.\nÉ muito importante para nós! 🙏🏻\n \nPor favor, clique no link abaixo. ⬇️\nhttps://forms.gle/KmA1ZxPegqzhjWCC7","hasOutputParser":true,"options":{"systemMessage":"=Gere uma mensagem curta, simpática e personalizada para WhatsApp, seguindo estas regras:\n\n1. Use uma saudação dinâmica: \"Bom dia\", \"Boa tarde\" ou \"Boa noite\", dependendo do horário de envio.\n2. A mensagem deve ser breve, identificando-se como Renata do setor de pesquisa e satisfação da CearaGPS e pedindo a opinião do cliente de forma simpática.\n3. Inclua um link para o cliente responder.\n4. Encerre com um agradecimento breve e amigável.\n5. Mencione que espera que a experiência do cliente tenha sido boa ou positiva.\n6. Peça a opinião do cliente de forma simpática.\n7. Use emojis de forma moderada e adequada, sem exageros.\n8. A mensagem deve ser mais informal e variar a estrutura, evitando repetições.\n\n\nExemplo de estrutura:\n- [Saudação dinâmica], [Identificação e solicitação breve]. [Chamada para ação]. [Encerramento amigável].\n\nCertifique-se de variar os textos para evitar bloqueios no WhatsApp. Inclua emojis de forma moderada e adequada.\n\nVariáveis fornecidas:\n- Nome do cliente: {{ $json._embedded.contacts[0].name }}\n- Seu nome: Renata\n- Nome da empresa: CearaGPS\n- Link para feedback: https://forms.gle/KmA1ZxPegqzhjWCC7\n\nA mensagem gerada deve ser curta, direta e sem explicações adicionais. A saída deve conter **apenas a mensagem gerada**.\n\nA mensagem deve ser dinâmica, curta, direta e evitar repetição de estrutura.\n\nExemplo de estrutura:\n- Saudação dinâmica (Bom dia, Boa tarde ou Boa noite), seguido de identificação, solicitação de feedback, e o link para resposta. Finalize com um agradecimento simples e amigável.\n\n\n\n\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[0,-300],"id":"bc06321b-414c-4844-b817-29ae7e7441f4","name":"AI Agent"},{"parameters":{"url":"=https://cearagpsv4.kommo.com/api/v4/leads/{{ $json.body[\"leads[status][0][id]\"] }}\n","sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"},{"name":"authorization","value":"Bearer  eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsImp0aSI6IjAwYmZjZTc5MTdiODRlOTM2ZDk3MjMzMGJjMjViM2NmNjY2M2NmMjRmOTYwNmQ0MmJkYTMyYTQzYmJhOGE4MTk4OWNmOWJkZjBiNTJlYzNhIn0.eyJhdWQiOiJhZmM4YmQ2Yy00NTA2LTQ5MTctOGJmYy0zMjc1YmM3ZDk4MTciLCJqdGkiOiIwMGJmY2U3OTE3Yjg0ZTkzNmQ5NzIzMzBiYzI1YjNjZjY2NjNjZjI0Zjk2MDZkNDJiZGEzMmE0M2JiYThhODE5ODljZjliZGYwYjUyZWMzYSIsImlhdCI6MTczOTgxODUxMywibmJmIjoxNzM5ODE4NTEzLCJleHAiOjE4OTc1MTY4MDAsInN1YiI6IjkwMTM5MDciLCJncmFudF90eXBlIjoiIiwiYWNjb3VudF9pZCI6MzA4MDcyNTksImJhc2VfZG9tYWluIjoia29tbW8uY29tIiwidmVyc2lvbiI6Miwic2NvcGVzIjpbImNybSIsImZpbGVzIiwiZmlsZXNfZGVsZXRlIiwibm90aWZpY2F0aW9ucyIsInB1c2hfbm90aWZpY2F0aW9ucyJdLCJoYXNoX3V1aWQiOiIxNDVjZmZjNy0yMmRlLTQzZTEtODhmMy1jYTllNDYzMDQ4NDEiLCJhcGlfZG9tYWluIjoiYXBpLWcua29tbW8uY29tIn0.jjhtVSlcH1ngrJA-xpPlbZ9JPpa9vPxjjjZwkN4dMrkxhqVy5Si5Z09VvqLYEI2kjZ8oiEwToDKfdU4Yr3ulk8BSFZK_PNtMJZHz4qfpW9HBPCPPF-vVdNdpg9Gq2UlueNzO4CUA3hzpenxHU6UYxbjo0PvAJCAhRGhUDGH5VkQFQ21HFBhP1Cxd8pquSO5cx1FVFnibLya9aUZpzQxhM4MmniUlrj3r0ZJ9zuUJGlTnN-ffZpgP4h1aLSBttszHvC4F1GzQ-TJFfghnB5ZjrOeliQejIq9irn_Z8cRx_iiHPywZ_1zF2AY0wAerG8waF4LG8Oxm5cVBaDimVkDg6A"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-420,320],"id":"f4cee3d9-be72-476f-81fc-1371ccdc37aa","name":"HTTP Request"},{"parameters":{"jsCode":"// Desserializa o JSON do campo \"data\"\nconst rawData = $json.data;\nconst lead = JSON.parse(rawData);\n\n// Extrai os dados principais da lead\nconst leadData = {\n  id: lead.id,\n  name: lead.name,\n  status_id: lead.status_id,\n  pipeline_id: lead.pipeline_id,\n  contactId: lead._embedded.contacts?.[0]?.id || null, // ID do primeiro contato vinculado\n};\n\nreturn {\n  json: leadData,\n};\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-500,-280],"id":"0be8f236-1987-4ec3-9ac4-e9574fe6d960","name":"Tratamento "},{"parameters":{"method":"PATCH","url":"=https://cearagpsv4.kommo.com/api/v4/leads/{{ $json.id }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"},{"name":"authorization","value":"Bearer  eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsImp0aSI6IjAwYmZjZTc5MTdiODRlOTM2ZDk3MjMzMGJjMjViM2NmNjY2M2NmMjRmOTYwNmQ0MmJkYTMyYTQzYmJhOGE4MTk4OWNmOWJkZjBiNTJlYzNhIn0.eyJhdWQiOiJhZmM4YmQ2Yy00NTA2LTQ5MTctOGJmYy0zMjc1YmM3ZDk4MTciLCJqdGkiOiIwMGJmY2U3OTE3Yjg0ZTkzNmQ5NzIzMzBiYzI1YjNjZjY2NjNjZjI0Zjk2MDZkNDJiZGEzMmE0M2JiYThhODE5ODljZjliZGYwYjUyZWMzYSIsImlhdCI6MTczOTgxODUxMywibmJmIjoxNzM5ODE4NTEzLCJleHAiOjE4OTc1MTY4MDAsInN1YiI6IjkwMTM5MDciLCJncmFudF90eXBlIjoiIiwiYWNjb3VudF9pZCI6MzA4MDcyNTksImJhc2VfZG9tYWluIjoia29tbW8uY29tIiwidmVyc2lvbiI6Miwic2NvcGVzIjpbImNybSIsImZpbGVzIiwiZmlsZXNfZGVsZXRlIiwibm90aWZpY2F0aW9ucyIsInB1c2hfbm90aWZpY2F0aW9ucyJdLCJoYXNoX3V1aWQiOiIxNDVjZmZjNy0yMmRlLTQzZTEtODhmMy1jYTllNDYzMDQ4NDEiLCJhcGlfZG9tYWluIjoiYXBpLWcua29tbW8uY29tIn0.jjhtVSlcH1ngrJA-xpPlbZ9JPpa9vPxjjjZwkN4dMrkxhqVy5Si5Z09VvqLYEI2kjZ8oiEwToDKfdU4Yr3ulk8BSFZK_PNtMJZHz4qfpW9HBPCPPF-vVdNdpg9Gq2UlueNzO4CUA3hzpenxHU6UYxbjo0PvAJCAhRGhUDGH5VkQFQ21HFBhP1Cxd8pquSO5cx1FVFnibLya9aUZpzQxhM4MmniUlrj3r0ZJ9zuUJGlTnN-ffZpgP4h1aLSBttszHvC4F1GzQ-TJFfghnB5ZjrOeliQejIq9irn_Z8cRx_iiHPywZ_1zF2AY0wAerG8waF4LG8Oxm5cVBaDimVkDg6A"}]},"sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"status_id\": 77355132\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-420,140],"id":"18eb559d-b893-40a2-b938-0f2e0a536548","name":"HTTP Request2"},{"parameters":{"authentication":"longLivedToken","resource":"contacts","filter":{"id":"={{ $json.contactId }}"},"options":{}},"type":"n8n-nodes-kommo.kommo","typeVersion":1,"position":[-280,-400],"id":"033d2f90-620b-4f1e-9f91-ea5494a239e0","name":"Kommo API Node","credentials":{"kommoLongLivedApi":{"id":"375fR3qn2nqo8rXk","name":"Kommo Long Lived Token account"}}},{"parameters":{"modelName":"models/gemini-1.5-flash-8b-latest","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[60,-40],"id":"07a414a7-ddb6-4fc2-897c-6c796c8d0eef","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"xraXmBvI1uhKE52N","name":"Google Gemini(PaLM) Clenildon"}}},{"parameters":{"jsCode":"const leadDataArray = Array.isArray($json) ? $json : [$json];\n\nconst currentDateTime = new Date();\nconst formattedDate = currentDateTime.toLocaleDateString('pt-BR');\nconst formattedTime = currentDateTime.toLocaleTimeString('pt-BR', { hour12: false });\n\nconst result = leadDataArray.map(lead => ({\n  ...lead,\n  date: formattedDate,\n  time: formattedTime\n}));\n\nreturn result.map(item => ({ json: item }));\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-280,-180],"id":"2f3ce648-e9de-40b6-989c-1aee101b9b20","name":"Data Hora"},{"parameters":{"method":"POST","url":"https://evolutionapi.cearatec.cloud/message/sendText/pesquisa","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"=j7wllX1BzzLCINkqFF23FiUPsg5lRZRq"}]},"sendBody":true,"specifyBody":"json","jsonBody":"=  {\n    \"number\": \"{{ $('Kommo API Node').item.json._embedded.contacts[0].custom_fields_values[1].values[0].value }}\",\n    \"text\": \"{{ $json.messageText }}\",\n    \"options\": {\n      \"delay\": 1200,\n      \"linkPreview\": false,\n      \"mentionsEveryOne\": false,\n      \"mentioned\": [\n        \"{{ $('Kommo API Node').item.json._embedded.contacts[0].custom_fields_values[1].values[0].value }}\"\n      ]\n    }\n  }\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[520,-320],"id":"ffb5040a-58f6-440a-a472-042a737539bc","name":"Evolution Btn"},{"parameters":{"jsCode":"// Acessando o campo 'output' do JSON de entrada\nconst outputMessage = $json[\"output\"];\n\n// Retornando o valor como saída\nreturn [{ json: { messageText: outputMessage } }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[300,-320],"id":"ec8b026e-9fb9-4a15-b105-ca80abfdac9d","name":"Code"}],"connections":{"Webhook":{"main":[[{"node":"HTTP Request - Pegar Id Contato","type":"main","index":0}]]},"HTTP Request - Pegar Id Contato":{"main":[[{"node":"Tratamento ","type":"main","index":0}]]},"HTTP Request":{"main":[[]]},"Tratamento ":{"main":[[{"node":"Kommo API Node","type":"main","index":0},{"node":"Data Hora","type":"main","index":0}]]},"Kommo API Node":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Data Hora":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Code","type":"main","index":0}]]},"Code":{"main":[[{"node":"Evolution Btn","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook":[{"json":{"headers":{"host":"n8n.cearatec.cloud","user-agent":"amoCRM-Webhooks/3.0","content-length":"308","accept-encoding":"gzip, br","cdn-loop":"cloudflare; loops=1","cf-connecting-ip":"169.150.216.79","cf-ipcountry":"US","cf-ray":"9192c0bdbb0c6bf8-DFW","cf-visitor":"{\"scheme\":\"https\"}","content-type":"application/x-www-form-urlencoded","x-amocrm-requestid":"a33ad22b-61da-4392-8f7f-f7cf706822c4","x-forwarded-for":"169.150.216.79, 172.68.26.250","x-forwarded-host":"n8n.cearatec.cloud","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"00733d017f7d","x-real-ip":"172.68.26.250"},"params":{},"query":{},"body":{"leads[status][0][id]":"20929115","leads[status][0][status_id]":"77355128","leads[status][0][pipeline_id]":"10079220","leads[status][0][old_status_id]":"77355132","leads[status][0][old_pipeline_id]":"10079220","account[id]":"30807259","account[subdomain]":"cearagpsv4"},"webhookUrl":"https://n8nwebhook.cearatec.cloud/webhook-test/cearagps","executionMode":"test"}}]},"versionId":"101c06cb-60c2-4a4a-9d8f-128a116cebcf","triggerCount":1,"tags":[{"createdAt":"2025-02-26T18:31:00.506Z","updatedAt":"2025-02-26T18:31:00.506Z","id":"0JTDKZZNFUKcIJNo","name":"NPS-Ramos"}]}