kommo-crx-nYRaDy2cBzbaX85R.json
{"createdAt":"2025-02-26T19:48:32.801Z","updatedAt":"2025-02-26T19:54:31.178Z","id":"nYRaDy2cBzbaX85R","name":"Kommo CRX","active":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"odontoart","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-400,60],"id":"c8f48f17-19cc-421e-8f7c-9aab7cc3f14f","name":"Webhook","webhookId":"2f64cbd1-9665-4459-a71c-ddf2bd181e7e"},{"parameters":{"jsCode":"const facebookAds = $('DadosMapeados').all();\n\nfunction formatarTelefone(numeroTelefone) {\n    let telefoneLimpo = numeroTelefone.replace(/\\D/g, '');\n\n    let codigoPais = '+55';\n  \n    if (telefoneLimpo.length > 11 && telefoneLimpo.startsWith('55')) {\n        telefoneLimpo = telefoneLimpo.slice(2);\n    } else if (telefoneLimpo.length > 11) {\n        telefoneLimpo = telefoneLimpo.slice(telefoneLimpo.length - 11);\n    }\n\n    const ddd = telefoneLimpo.slice(0, 2);\n    let numero = telefoneLimpo.slice(2);\n\n    // Adição do nono dígito\n    if (parseInt(ddd) < 30 && numero.length === 8) {\n        numero = '9' + numero;\n    }\n\n    // Remoção do nono dígito\n    if (parseInt(ddd) >= 30 && numero.length === 9 && numero.startsWith('9')) {\n        numero = numero.slice(1);\n    }\n\n    return `${codigoPais} ${ddd} ${numero}`;\n}\n\nconst telefoneFormatado = formatarTelefone(facebookAds[0].json.telefone);\n\nreturn [\n  {\n    telefoneFormatado\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[280,60],"id":"db3eb257-4b59-442b-b807-038459b1c993","name":"telefone","retryOnFail":true,"maxTries":2},{"parameters":{"assignments":{"assignments":[{"id":"6d6f93c1-4e74-4660-b138-9016b65ca68c","name":"nome","value":"={{ $('Webhook').item.json.body.Nome }}","type":"string"},{"id":"c3f16fff-af14-484b-9275-d72018da6613","name":"email","value":"={{ $('Webhook').item.json.body['E-mail'] }}","type":"string"},{"id":"e466ba01-ddb9-4200-bc4d-a56a26020567","name":"telefone","value":"={{ $('Webhook').item.json.body.Celular }}","type":"string"},{"id":"ef38cf23-aa67-44ae-8a14-15d603da0df8","name":"utm_source","value":"={{ $json.body.utm_source }}","type":"string"},{"id":"eb7f08f6-a660-4f4f-8b78-a1e47bb9f04b","name":"utm_medium","value":"={{ $json.body.utm_medium }}","type":"string"},{"id":"3e4d29ea-743b-4292-992c-bfbaa98bebec","name":"utm_term","value":"={{ $json.body.utm_term }}","type":"string"},{"id":"8f7779c6-bc3e-478d-a36b-3aa164046982","name":"utm_campaign","value":"={{ $json.body.utm_campaign }}","type":"string"},{"id":"7de63352-7706-4082-ad85-764484c7cddb","name":"utm_content","value":"={{ $json.body.utm_content }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-180,60],"id":"4e365de3-6e30-4453-ba30-ade8d0ed075a","name":"DadosMapeados"},{"parameters":{},"type":"n8n-nodes-kommo.kommo","typeVersion":1,"position":[560,-200],"id":"0db79892-ee50-40e6-a76c-72523d3f3443","name":"Criar contato"},{"parameters":{},"type":"n8n-nodes-kommo.kommo","typeVersion":1,"position":[660,60],"id":"3cfe3e04-21eb-43bc-a0fe-fc2d74fa1175","name":"Cria Lead"},{"parameters":{"method":"POST","url":"https://rustic-elegant-guardian.glitch.me/api/adjust_source","sendHeaders":true,"specifyHeaders":"json","jsonHeaders":"{\n  \"x-access-token\":\"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VybmFtZSI6IkFQSSBOOE4gTkVXIiwiZXhwIjoxNzcxMzM5NDA4fQ.XkN3zfXa-WxHDjeVcxngmCpzerA9d50HEGG3TcmY2E0\"\n}","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"source\": \"{{ $json.body.utm_source }}\",\n  \"medium\": \"{{ $json.body.utm_medium }}\",\n  \"campaign\": \"{{ $json.body.utm_campaign }}\",\n  \"content\": \"{{ $json.body.utm_content }}\",\n  \"term\": \"{{ $json.body.utm_term }}\"\n}\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-400,-120],"id":"39ac7584-f376-4abb-9908-2328f00a7fed","name":"HTTP Request","alwaysOutputData":false,"retryOnFail":true,"disabled":true},{"parameters":{"jsCode":"const dadosEntrada = $('DadosMapeados').all();\n\nconst CORRESPONDENCIAS = {\n    \"INSTAGRAM_REELS\": \"FBADS\",\n    \"CTA LINK DA BIO\": \"LINK BIO\",\n    \"NAVBAR\": \"TRÁFEGO DIRETO\",\n    \"PAGINA-PLANOODONTO\": \"TRÁFEGO DIRETO\",\n    \"PAGINA-INICIAL\": \"TRÁFEGO DIRETO\",\n    \"CHATBOT\": \"TRÁFEGO DIRETO\",\n    \"CTA NO LINK DA BIO\": \"LINK BIO\",\n    \"INSTAGRAM_STORIES\": \"FBADS\",\n    \"NAV-BAR\": \"TRÁFEGO DIRETO\",\n    \"HOMEPAGE_BUTTONS\": \"TRÁFEGO DIRETO\",\n    \"HOME_BUTTON\": \"TRÁFEGO DIRETO\",\n    \"BOTAO\": \"TRÁFEGO DIRETO\",\n    \"FBADS\": \"FBADS\",\n    \"GOADS\": \"GOADS\"\n};\n\nconst PRIORIDADE_CAMPOS = [\"source\", \"campaign\", \"medium\", \"content\", \"term\"];\n\nfunction ajustarSource(source, campaign, medium, content, term) {\n    source = source.toUpperCase();\n    campaign = campaign.toUpperCase();\n    medium = medium.toUpperCase();\n    content = content.toUpperCase();\n    term = term.toUpperCase();\n\n    if (/^\\d+$/.test(source)) {\n        source = \"GOADS\";\n    } else if (/^OUTROS \\| \\d+$/.test(source)) {\n        source = \"GOADS\";\n    } else if (/^OUTROS \\| [\\w\\W]+/.test(source)) {\n        source = \"FBADS\";\n    } else {\n        const correspondenciasUpper = Object.fromEntries(\n            Object.entries(CORRESPONDENCIAS).map(([k, v]) => [k.toUpperCase(), v.toUpperCase()])\n        );\n\n        const valores = { source, campaign, medium, content, term };\n\n        for (let campo of PRIORIDADE_CAMPOS) {\n            if (correspondenciasUpper[valores[campo]]) {\n                source = correspondenciasUpper[valores[campo]];\n                break;\n            }\n        }\n    }\n\n    return {\n        source_new: source,\n        campaign_new: campaign,\n        medium_new: medium,\n        content_new: content,\n        term_new: term\n    };\n}\n\nconst entrada = dadosEntrada[0].json;\nconst resultado = ajustarSource(\n    entrada.utm_source || \"\", \n    entrada.utm_campaign || \"\", \n    entrada.utm_medium || \"\", \n    entrada.utm_content || \"\", \n    entrada.utm_term || \"\"\n);\n\nreturn [resultado];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[60,60],"id":"5b82283e-cb0a-4a1d-9991-4094ea0d1afc","name":"Correção de Fontes"}],"connections":{"Webhook":{"main":[[{"node":"DadosMapeados","type":"main","index":0}]]},"DadosMapeados":{"main":[[{"node":"Correção de Fontes","type":"main","index":0}]]},"Correção de Fontes":{"main":[[{"node":"telefone","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"5f9f7903-34e3-4782-b34c-43fbc072a445","triggerCount":0,"tags":[]}