kommo-crx-filtro-de-leads-d1yKCYRutcfRzqFS.json
{"createdAt":"2025-02-28T14:20:00.094Z","updatedAt":"2025-03-05T18:36:50.014Z","id":"d1yKCYRutcfRzqFS","name":"Kommo CRX Filtro de Leads","active":false,"nodes":[{"parameters":{"url":"=https://cearagpsv4.kommo.com/api/v4/leads/{{ $json.body[\"leads[status][0][id]\"] }}\n","sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"},{"name":"authorization","value":"Bearer  eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsImp0aSI6IjAwYmZjZTc5MTdiODRlOTM2ZDk3MjMzMGJjMjViM2NmNjY2M2NmMjRmOTYwNmQ0MmJkYTMyYTQzYmJhOGE4MTk4OWNmOWJkZjBiNTJlYzNhIn0.eyJhdWQiOiJhZmM4YmQ2Yy00NTA2LTQ5MTctOGJmYy0zMjc1YmM3ZDk4MTciLCJqdGkiOiIwMGJmY2U3OTE3Yjg0ZTkzNmQ5NzIzMzBiYzI1YjNjZjY2NjNjZjI0Zjk2MDZkNDJiZGEzMmE0M2JiYThhODE5ODljZjliZGYwYjUyZWMzYSIsImlhdCI6MTczOTgxODUxMywibmJmIjoxNzM5ODE4NTEzLCJleHAiOjE4OTc1MTY4MDAsInN1YiI6IjkwMTM5MDciLCJncmFudF90eXBlIjoiIiwiYWNjb3VudF9pZCI6MzA4MDcyNTksImJhc2VfZG9tYWluIjoia29tbW8uY29tIiwidmVyc2lvbiI6Miwic2NvcGVzIjpbImNybSIsImZpbGVzIiwiZmlsZXNfZGVsZXRlIiwibm90aWZpY2F0aW9ucyIsInB1c2hfbm90aWZpY2F0aW9ucyJdLCJoYXNoX3V1aWQiOiIxNDVjZmZjNy0yMmRlLTQzZTEtODhmMy1jYTllNDYzMDQ4NDEiLCJhcGlfZG9tYWluIjoiYXBpLWcua29tbW8uY29tIn0.jjhtVSlcH1ngrJA-xpPlbZ9JPpa9vPxjjjZwkN4dMrkxhqVy5Si5Z09VvqLYEI2kjZ8oiEwToDKfdU4Yr3ulk8BSFZK_PNtMJZHz4qfpW9HBPCPPF-vVdNdpg9Gq2UlueNzO4CUA3hzpenxHU6UYxbjo0PvAJCAhRGhUDGH5VkQFQ21HFBhP1Cxd8pquSO5cx1FVFnibLya9aUZpzQxhM4MmniUlrj3r0ZJ9zuUJGlTnN-ffZpgP4h1aLSBttszHvC4F1GzQ-TJFfghnB5ZjrOeliQejIq9irn_Z8cRx_iiHPywZ_1zF2AY0wAerG8waF4LG8Oxm5cVBaDimVkDg6A"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-100,300],"id":"49792dc9-0f62-4d35-b6e0-f20a7ca3c80a","name":"HTTP Request"},{"parameters":{"url":"=https://crx.kommo.com/api/v4/leads?query=558586930095","sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"},{"name":"authorization","value":"Bearer  eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsImp0aSI6IjAzNjdiNjk2NjU3NDEyODhlMmY5MTk0ZTRkNDY1OTJhMGJiOWM3MDI5ZTA5NDI5OTk0MWRhNWI5ODkwMTM1ZTEyZmY3M2ZmZGI3YmU1OTUyIn0.eyJhdWQiOiJkMTUyYTlhNS0wMTUxLTRhYjEtYTFkNS0xM2RlOGE3OGY5OGUiLCJqdGkiOiIwMzY3YjY5NjY1NzQxMjg4ZTJmOTE5NGU0ZDQ2NTkyYTBiYjljNzAyOWUwOTQyOTk5NDFkYTViOTg5MDEzNWUxMmZmNzNmZmRiN2JlNTk1MiIsImlhdCI6MTc0MTE4NTc2NiwibmJmIjoxNzQxMTg1NzY2LCJleHAiOjE3NDMzNzkyMDAsInN1YiI6IjkwMTM5MDciLCJncmFudF90eXBlIjoiIiwiYWNjb3VudF9pZCI6MzA4MDMzMDcsImJhc2VfZG9tYWluIjoia29tbW8uY29tIiwidmVyc2lvbiI6Miwic2NvcGVzIjpbImNybSIsImZpbGVzIiwiZmlsZXNfZGVsZXRlIiwibm90aWZpY2F0aW9ucyIsInB1c2hfbm90aWZpY2F0aW9ucyJdLCJoYXNoX3V1aWQiOiI3MmU0YmFjNC1kMTJhLTRkM2ItOTNhYi1hODhhNDAzOTMwZjEiLCJhcGlfZG9tYWluIjoiYXBpLWcua29tbW8uY29tIn0.hTFMoqq4-vv4X5TFu-OW6BUHWZXN7PT4c2EuV7LqFo0HP0mRt3u4U3cejQjCvI8PjB_DYqEBjG4WtJxb6mWy1wpypvKhxo774AGcmoXr36313rcNS39_u5V-xBHptENtQH7IxSjQ274DZVzyKbK60-pbA2YeIKJ2EVHtf8cSDTziDkTc-va8wtgWiTqFodKKrw5mcaUR8qgFxGLiC5_ekZgFaUYeBhMwjdh6T5NEjaib-Fi_ompx3_v1TEMXPr36an-WT_GTu0K2gmOv70zFE6Cnoj7Ucz_MHRdWZsB0QjmJdC6kYUzK7eyh3iORQE7sny-E-1k6YEQQCkYTDTwOwA"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-300,100],"id":"dc2972e8-3e86-4f48-b0f0-3c63afc3fc22","name":"HTTP Request2"},{"parameters":{"url":"=https://crx.kommo.com/api/v4/leads/pipelines","sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"},{"name":"authorization","value":"Bearer  eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsImp0aSI6IjAzNjdiNjk2NjU3NDEyODhlMmY5MTk0ZTRkNDY1OTJhMGJiOWM3MDI5ZTA5NDI5OTk0MWRhNWI5ODkwMTM1ZTEyZmY3M2ZmZGI3YmU1OTUyIn0.eyJhdWQiOiJkMTUyYTlhNS0wMTUxLTRhYjEtYTFkNS0xM2RlOGE3OGY5OGUiLCJqdGkiOiIwMzY3YjY5NjY1NzQxMjg4ZTJmOTE5NGU0ZDQ2NTkyYTBiYjljNzAyOWUwOTQyOTk5NDFkYTViOTg5MDEzNWUxMmZmNzNmZmRiN2JlNTk1MiIsImlhdCI6MTc0MTE4NTc2NiwibmJmIjoxNzQxMTg1NzY2LCJleHAiOjE3NDMzNzkyMDAsInN1YiI6IjkwMTM5MDciLCJncmFudF90eXBlIjoiIiwiYWNjb3VudF9pZCI6MzA4MDMzMDcsImJhc2VfZG9tYWluIjoia29tbW8uY29tIiwidmVyc2lvbiI6Miwic2NvcGVzIjpbImNybSIsImZpbGVzIiwiZmlsZXNfZGVsZXRlIiwibm90aWZpY2F0aW9ucyIsInB1c2hfbm90aWZpY2F0aW9ucyJdLCJoYXNoX3V1aWQiOiI3MmU0YmFjNC1kMTJhLTRkM2ItOTNhYi1hODhhNDAzOTMwZjEiLCJhcGlfZG9tYWluIjoiYXBpLWcua29tbW8uY29tIn0.hTFMoqq4-vv4X5TFu-OW6BUHWZXN7PT4c2EuV7LqFo0HP0mRt3u4U3cejQjCvI8PjB_DYqEBjG4WtJxb6mWy1wpypvKhxo774AGcmoXr36313rcNS39_u5V-xBHptENtQH7IxSjQ274DZVzyKbK60-pbA2YeIKJ2EVHtf8cSDTziDkTc-va8wtgWiTqFodKKrw5mcaUR8qgFxGLiC5_ekZgFaUYeBhMwjdh6T5NEjaib-Fi_ompx3_v1TEMXPr36an-WT_GTu0K2gmOv70zFE6Cnoj7Ucz_MHRdWZsB0QjmJdC6kYUzK7eyh3iORQE7sny-E-1k6YEQQCkYTDTwOwA"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-640,280],"id":"f18ff72a-54ef-4da3-9db8-150e33b835c0","name":"HTTP Request3"},{"parameters":{"jsCode":"// Loop sobre os itens do input\nfor (const item of $input.all()) {\n  if (item.json && item.json.data) {\n    try {\n      // Converte a string JSON em um objeto JavaScript\n      item.json.data = JSON.parse(item.json.data);\n    } catch (error) {\n      item.json.error = \"Erro ao processar JSON\";\n    }\n  }\n}\n\nreturn $input.all();\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-420,280],"id":"3d7cdc1b-00dc-423c-9f2f-0abd2fe4ef59","name":"Code1"},{"parameters":{"jsCode":"const targetPipelineIds = [10630032, 10630036, 10630220];\nconst inputData = $input.all();\nlet filteredLeads = [];\n\ninputData.forEach(item => {\n  const leads = item.json.data?._embedded?.leads || [];\n  \n  const filtered = leads.filter(lead => targetPipelineIds.includes(lead.pipeline_id));\n  \n  filteredLeads.push(...filtered);\n});\n\nreturn filteredLeads.map(lead => ({ json: lead }));\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[140,160],"id":"fc12af64-7812-4b12-9cc1-da2a53e5ea94","name":"Code"},{"parameters":{"httpMethod":"POST","path":"crx-verificarduplicidade","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-1000,-160],"id":"5a9addd0-588c-4495-93fd-da0f7847208d","name":"Webhook","webhookId":"b773af6e-9d03-4043-ba33-6e007281171e"},{"parameters":{"jsCode":"for (const item of $input.all()) {\n  if (item.json && item.json.data) {\n    try {\n      item.json.data = JSON.parse(item.json.data);\n    } catch (error) {\n      item.json.error = \"Erro ao processar JSON\";\n    }\n  }\n}\n\nreturn $input.all();\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-100,100],"id":"148eda56-c939-4855-b284-df3f12b722e3","name":"Transforma Dados Que vem do Kommo"},{"parameters":{"url":"=https://crx.kommo.com/api/v4/leads/{{ $json.body[\"leads[add][0][id]\"] }}?with=contacts","sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"},{"name":"authorization","value":"Bearer  eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsImp0aSI6IjAzNjdiNjk2NjU3NDEyODhlMmY5MTk0ZTRkNDY1OTJhMGJiOWM3MDI5ZTA5NDI5OTk0MWRhNWI5ODkwMTM1ZTEyZmY3M2ZmZGI3YmU1OTUyIn0.eyJhdWQiOiJkMTUyYTlhNS0wMTUxLTRhYjEtYTFkNS0xM2RlOGE3OGY5OGUiLCJqdGkiOiIwMzY3YjY5NjY1NzQxMjg4ZTJmOTE5NGU0ZDQ2NTkyYTBiYjljNzAyOWUwOTQyOTk5NDFkYTViOTg5MDEzNWUxMmZmNzNmZmRiN2JlNTk1MiIsImlhdCI6MTc0MTE4NTc2NiwibmJmIjoxNzQxMTg1NzY2LCJleHAiOjE3NDMzNzkyMDAsInN1YiI6IjkwMTM5MDciLCJncmFudF90eXBlIjoiIiwiYWNjb3VudF9pZCI6MzA4MDMzMDcsImJhc2VfZG9tYWluIjoia29tbW8uY29tIiwidmVyc2lvbiI6Miwic2NvcGVzIjpbImNybSIsImZpbGVzIiwiZmlsZXNfZGVsZXRlIiwibm90aWZpY2F0aW9ucyIsInB1c2hfbm90aWZpY2F0aW9ucyJdLCJoYXNoX3V1aWQiOiI3MmU0YmFjNC1kMTJhLTRkM2ItOTNhYi1hODhhNDAzOTMwZjEiLCJhcGlfZG9tYWluIjoiYXBpLWcua29tbW8uY29tIn0.hTFMoqq4-vv4X5TFu-OW6BUHWZXN7PT4c2EuV7LqFo0HP0mRt3u4U3cejQjCvI8PjB_DYqEBjG4WtJxb6mWy1wpypvKhxo774AGcmoXr36313rcNS39_u5V-xBHptENtQH7IxSjQ274DZVzyKbK60-pbA2YeIKJ2EVHtf8cSDTziDkTc-va8wtgWiTqFodKKrw5mcaUR8qgFxGLiC5_ekZgFaUYeBhMwjdh6T5NEjaib-Fi_ompx3_v1TEMXPr36an-WT_GTu0K2gmOv70zFE6Cnoj7Ucz_MHRdWZsB0QjmJdC6kYUzK7eyh3iORQE7sny-E-1k6YEQQCkYTDTwOwA"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-820,-160],"id":"6a83130a-bf58-4989-b945-020144aebcb3","name":"Pegar Contato Lead"},{"parameters":{"jsCode":"for (const item of $input.all()) {\n  if (item.json && item.json.data) {\n    try {\n      item.json.data = JSON.parse(item.json.data);\n    } catch (error) {\n      item.json.error = \"Erro ao processar JSON\";\n    }\n  }\n}\n\nreturn $input.all();\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-660,-160],"id":"6c1f64df-8259-4cd3-97fd-acc844d4f2b2","name":"Transforma Dados Lead"},{"parameters":{"resource":"contacts","filter":{"id":"={{ $json.data._embedded.contacts[0].id }}"},"options":{}},"type":"n8n-nodes-kommo.kommo","typeVersion":1,"position":[-480,-160],"id":"b78363f0-3cdb-4707-8edf-20cb2c84c323","name":"Kommo API Node","credentials":{"kommoOAuth2Api":{"id":"GJMoeGkhJthT3fHi","name":"Kommo CRX"}}},{"parameters":{"jsCode":"// Percorre os objetos do input JSON\nfor (const item of $input.all()) {\n  if (item.json && item.json._embedded && item.json._embedded.contacts) {\n    for (const contact of item.json._embedded.contacts) {\n      if (contact.custom_fields_values) {\n        for (const field of contact.custom_fields_values) {\n          if (field.field_name === \"Phone\" && field.values) {\n            for (const phone of field.values) {\n              if (phone.value) {\n                // Expressão regular para remover o 9 extra após o DDD\n                phone.original_value = phone.value; // Guarda o valor original\n                phone.value = phone.value.replace(/^(\\+55\\d{2})9(\\d{8})$/, \"$1$2\");\n              }\n            }\n          }\n        }\n      }\n    }\n  }\n}\n\nreturn $input.all();\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-260,-160],"id":"d11f6591-1abc-49b3-a48c-cf5f5465388f","name":"Tratamento do telefone"}],"connections":{"HTTP Request":{"main":[[]]},"HTTP Request3":{"main":[[{"node":"Code1","type":"main","index":0}]]},"HTTP Request2":{"main":[[{"node":"Transforma Dados Que vem do Kommo","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Pegar Contato Lead","type":"main","index":0}]]},"Transforma Dados Que vem do Kommo":{"main":[[{"node":"Code","type":"main","index":0}]]},"Pegar Contato Lead":{"main":[[{"node":"Transforma Dados Lead","type":"main","index":0}]]},"Transforma Dados Lead":{"main":[[{"node":"Kommo API Node","type":"main","index":0}]]},"Kommo API Node":{"main":[[{"node":"Tratamento do telefone","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook":[{"json":{"headers":{"host":"n8n.cearatec.cloud","user-agent":"amoCRM-Webhooks/3.0","content-length":"184","accept-encoding":"gzip, br","cdn-loop":"cloudflare; loops=1","cf-connecting-ip":"169.150.216.79","cf-ipcountry":"US","cf-ray":"91bb0f6baa133ad2-DFW","cf-visitor":"{\"scheme\":\"https\"}","content-type":"application/x-www-form-urlencoded","x-amocrm-requestid":"60ccee82-cebd-4c97-be25-494bf2c23465","x-forwarded-for":"169.150.216.79, 172.71.174.228","x-forwarded-host":"n8n.cearatec.cloud","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"00733d017f7d","x-real-ip":"172.71.174.228"},"params":{},"query":{},"body":{"leads[add][0][id]":"21980067","leads[add][0][status_id]":"81514936","leads[add][0][pipeline_id]":"10630032","account[id]":"30803307","account[subdomain]":"crx"},"webhookUrl":"https://n8nwebhook.cearatec.cloud/webhook-test/crx-verificarduplicidade","executionMode":"test"}}]},"versionId":"58ec25a2-692f-4880-a821-ecb140328ecb","triggerCount":1,"tags":[{"createdAt":"2025-02-26T18:31:00.506Z","updatedAt":"2025-02-26T18:31:00.506Z","id":"0JTDKZZNFUKcIJNo","name":"NPS-Ramos"}]}