my-workflow-3vR4qI3NnpwnuScA.json
{"createdAt":"2025-03-05T18:24:47.302Z","updatedAt":"2025-03-05T18:25:54.002Z","id":"3vR4qI3NnpwnuScA","name":"My workflow","active":false,"nodes":[{"parameters":{"content":"## Salva a tabela SQL como um arquivo CSV\n### Você pode enviá-lo por e-mail, fazer upload para o armazenamento de arquivos ou fazer download em seu computador.\n### Basta conectar um ou dois nós n8n extras aqui!","height":280,"width":682},"id":"30d091b1-a6aa-440a-8611-9e096d82c265","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[260,220],"typeVersion":1},{"parameters":{},"id":"633e86e8-860a-4ae3-9c89-8ef48b1539e8","name":"When clicking \"Execute Workflow\"","type":"n8n-nodes-base.manualTrigger","position":[-40,520],"typeVersion":1},{"parameters":{"values":{"string":[{"name":"TableName","value":"SalesLT.ProductCategory"}]},"options":{}},"id":"a1d364ed-6ed5-4aec-ac9e-fcd6b5725833","name":"TableName","type":"n8n-nodes-base.set","position":[160,520],"typeVersion":1},{"parameters":{"operation":"executeQuery","query":"=SELECT * FROM {{ $json[\"TableName\"] }}"},"id":"38bfdc66-1d8c-457e-97b5-0512cbaf310e","name":"LoadMSSQLData","type":"n8n-nodes-base.microsoftSql","position":[340,520],"typeVersion":1,"credentials":{"microsoftSql":{"id":"MpW3ToCylAcdPZWg","name":"Microsoft SQL account"}}},{"parameters":{"operation":"toFile","fileFormat":"csv","options":{"fileName":"={{ $('TableName').first().json.TableName }}.{{ $parameter[\"fileFormat\"] }}"}},"id":"83d123cd-add4-4f00-a9b2-93de2415b57e","name":"SaveCSV","type":"n8n-nodes-base.spreadsheetFile","position":[760,520],"typeVersion":1},{"parameters":{"binaryPropertyName":"=data","options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[980,520],"id":"077753ff-fc14-4982-9b8a-90d5cd57eefd","name":"Convert to File"}],"connections":{"When clicking \"Execute Workflow\"":{"main":[[{"node":"TableName","type":"main","index":0}]]},"TableName":{"main":[[{"node":"LoadMSSQLData","type":"main","index":0}]]},"LoadMSSQLData":{"main":[[{"node":"SaveCSV","type":"main","index":0}]]},"SaveCSV":{"main":[[{"node":"Convert to File","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"69e98c51-b556-477b-a3b3-eb0c40083c39","triggerCount":0,"tags":[]}