n8n-workflows-backup-OIZs58kx8M3PnNHJ.json
{"createdAt":"2025-02-26T18:58:54.448Z","updatedAt":"2025-02-26T19:23:36.200Z","id":"OIZs58kx8M3PnNHJ","name":"n8n-workflows-backup","active":false,"nodes":[{"parameters":{},"id":"8234a7f7-6663-4991-a69a-dc42aca9e88d","name":"Execute workflow","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-2560,40]},{"parameters":{"options":{}},"id":"7b412de3-f866-4778-b683-be7adb948afe","name":"Set date","type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[-2360,40]},{"parameters":{"operation":"formatDate","date":"={{ $json.currentDate }}","format":"custom","customFormat":"dd-MM-yyyy/H:mm","options":{}},"id":"94f6c931-a5bd-4112-977f-54eeed741877","name":"Format date","type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[-2160,40]},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"commitDate","value":"={{ $json.formattedDate }}"}]},"options":{}},"id":"bc6069d2-6456-4dbb-9816-df7b5aa68b9a","name":"Set commit date","type":"n8n-nodes-base.set","typeVersion":2,"position":[-1960,40]},{"parameters":{"authentication":"oAuth2","resource":"file","operation":"list","owner":{"__rl":true,"value":"https://github.com/ramosgrupo","mode":"url"},"repository":{"__rl":true,"value":"n8n-nodes-kommo","mode":"list","cachedResultName":"n8n-nodes-kommo","cachedResultUrl":"https://github.com/ramosgrupo/n8n-nodes-kommo"},"filePath":"="},"id":"8c8d2fdd-af72-4190-85b4-073a0c0d3f55","name":"List files from repository [GITHUB]","type":"n8n-nodes-base.github","typeVersion":1,"position":[-1760,60],"alwaysOutputData":true,"credentials":{"githubOAuth2Api":{"id":"GOD6vgK9mIWdt44T","name":"GitHub account"}}},{"parameters":{"operation":"aggregateItems","fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"name"}]},"options":{}},"id":"f9ca9dac-1005-4814-9c43-98484b220c38","name":"Combine file names [GITHUB]","type":"n8n-nodes-base.itemLists","typeVersion":2.1,"position":[-1560,40]},{"parameters":{"filters":{},"requestOptions":{}},"id":"e046588f-436c-4c42-88e9-9e1360d5718a","name":"Retrieve workflows [N8N]","type":"n8n-nodes-base.n8n","typeVersion":1,"position":[-1360,40],"credentials":{"n8nApi":{"id":"l2DQPVkOfFXSyQXB","name":"n8n account"}}},{"parameters":{"mode":"jsonToBinary","options":{"fileName":"={{ $json.name.replace(/\\s+/g, '-').toLowerCase() }}-{{ $json.id }}.json"}},"id":"09567972-58ee-4549-9157-6de2ab3f6730","name":"Move JSON to binary","type":"n8n-nodes-base.moveBinaryData","typeVersion":1,"position":[-1160,40]},{"parameters":{"batchSize":1,"options":{}},"id":"e8e4dba6-f4e8-4953-9f39-aeb936dbc793","name":"Split to single items","type":"n8n-nodes-base.splitInBatches","typeVersion":2,"position":[-920,40]},{"parameters":{"conditions":{"string":[{"value1":"={{ $node['Combine file names [GITHUB]'].json.name }}","operation":"contains","value2":"={{ $binary.data.fileName }}"}]}},"id":"7538a26e-6eb1-4122-80c4-c7ea4cd9e5c3","name":"Check if file exists in repository","type":"n8n-nodes-base.if","typeVersion":1,"position":[-680,-40]},{"parameters":{"authentication":"oAuth2","resource":"file","operation":"edit","owner":{"__rl":true,"value":"https://github.com/ramosgrupo","mode":"url"},"repository":{"__rl":true,"value":"n8n-nodes-kommo","mode":"list","cachedResultName":"n8n-nodes-kommo","cachedResultUrl":"https://github.com/ramosgrupo/n8n-nodes-kommo"},"filePath":"={{ $binary.data.fileName }}","binaryData":true,"commitMessage":"=backup-{{ $node['Set commit date'].json.commitDate }}"},"id":"56ff8179-13c4-4839-9a27-a9919ede0fda","name":"Update file [GITHUB]","type":"n8n-nodes-base.github","typeVersion":1,"position":[-460,-240],"credentials":{"githubOAuth2Api":{"id":"GOD6vgK9mIWdt44T","name":"GitHub account"}}},{"parameters":{"authentication":"oAuth2","resource":"file","owner":{"__rl":true,"value":"https://github.com/ramosgrupo","mode":"url"},"repository":{"__rl":true,"value":"n8n-nodes-kommo","mode":"list","cachedResultName":"n8n-nodes-kommo","cachedResultUrl":"https://github.com/ramosgrupo/n8n-nodes-kommo"},"filePath":"={{ $binary.data.fileName }}","binaryData":true,"commitMessage":"=backup-{{ $node['Set commit date'].json.commitDate }}"},"id":"3a094249-fe5d-42f0-9728-1c70bf5b7d36","name":"Upload file [GITHUB]","type":"n8n-nodes-base.github","typeVersion":1,"position":[-460,160],"credentials":{"githubOAuth2Api":{"id":"GOD6vgK9mIWdt44T","name":"GitHub account"}}}],"connections":{"Execute workflow":{"main":[[{"node":"Set date","type":"main","index":0}]]},"Set date":{"main":[[{"node":"Format date","type":"main","index":0}]]},"Format date":{"main":[[{"node":"Set commit date","type":"main","index":0}]]},"Set commit date":{"main":[[{"node":"List files from repository [GITHUB]","type":"main","index":0}]]},"List files from repository [GITHUB]":{"main":[[{"node":"Combine file names [GITHUB]","type":"main","index":0}]]},"Combine file names [GITHUB]":{"main":[[{"node":"Retrieve workflows [N8N]","type":"main","index":0}]]},"Retrieve workflows [N8N]":{"main":[[{"node":"Move JSON to binary","type":"main","index":0}]]},"Move JSON to binary":{"main":[[{"node":"Split to single items","type":"main","index":0}]]},"Split to single items":{"main":[[{"node":"Check if file exists in repository","type":"main","index":0}]]},"Check if file exists in repository":{"main":[[{"node":"Update file [GITHUB]","type":"main","index":0}],[{"node":"Upload file [GITHUB]","type":"main","index":0}]]},"Update file [GITHUB]":{"main":[[{"node":"Split to single items","type":"main","index":0}]]},"Upload file [GITHUB]":{"main":[[{"node":"Split to single items","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"759bb457-a4a0-4c16-8453-7306f47f6521","triggerCount":0,"tags":[]}