nps---grupo-ramos-pabx-Jj4nPmgtgrT0pRBw.json
{"createdAt":"2025-02-26T18:32:31.250Z","updatedAt":"2025-02-26T18:43:19.975Z","id":"Jj4nPmgtgrT0pRBw","name":"NPS - Grupo Ramos PABX","active":true,"nodes":[{"parameters":{"httpMethod":"POST","path":"nps02_teste","options":{}},"id":"29d9d029-bc04-4a21-802f-3acbb27df25d","name":"Webhook1","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-1660,280],"webhookId":"7dfa6834-557b-4040-b361-022a7e383e75"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"bca732c9-3102-42d7-8fe8-bedede0ca0b9","leftValue":"={{ $json.body.direction }}","rightValue":"INBOUND","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1460,280],"id":"d3aedf74-1cd9-470c-bca0-baf091835e8d","name":"If"},{"parameters":{"jsCode":"// Função para formatar o timestamp no formato brasileiro DD/MM/YYYY HH:mm:ss\nfunction formatTimestamp(timestamp) {\n    const date = new Date(timestamp);\n    const options = {\n        day: '2-digit',\n        month: '2-digit',\n        year: 'numeric',\n        hour: '2-digit',\n        minute: '2-digit',\n        second: '2-digit',\n        hour12: false,\n        timeZone: 'America/Fortaleza'\n    };\n    return date.toLocaleString('pt-BR', options).replace(',', ''); // Remove a vírgula entre data e hora\n}\n\n// Função para garantir que se uma lista estiver vazia, preencha com \"N/A\"\nfunction fillWithNA(dataArray) {\n    return dataArray.length > 0 ? dataArray : [\"N/A\"];\n}\n\n// Função para extrair participantes do tipo \"AGENT\" e dados de chamadas em estado \"STARTING\"\nfunction extractAgentsAndCallData(items) {\n    const participants = items[0].json.body.participants || []; // Acessa os participantes ou um array vazio\n    const callStates = items[0].json.body.callStates || []; // Acessa estados das chamadas ou um array vazio\n\n    // Inicializa os arrays para armazenar resultados\n    let callData = [];\n\n    // Iterar sobre os estados das chamadas para extrair dados\n    callStates.forEach(state => {\n        if (state.type === \"STARTING\") {\n            callData.push({\n                dataHora: formatTimestamp(state.timestamp), // Formata o timestamp\n                participants: fillWithNA(state.participants.map(participant => {\n                    // Extrai o nome, o número de extensão e o número do callee\n                    return {\n                        nameEmpresa: participant.type.name || \"N/A\",\n                        numeroEmpresa: participant.type.number || \"N/A\",\n                        numeroClient: participant.type.caller?.number || \"N/A\" // Utilizando optional chaining (?.)\n                    };\n                }))\n            });\n        }\n    });\n\n    // Preenche com \"N/A\" se agentes ou dados de chamadas estiverem vazios\n    return {\n        callData: fillWithNA(callData)\n    };\n}\n\n// Função principal para processar os dados e retornar resultados\nfunction processItems(items) {\n    const results = [];\n    const participantsData = items; // Recebe dados para processar como entrada\n\n    // Verifica se o JSON contém a mensagem de erro\n    if (participantsData[0].json.body.message === 'Nenhuma opção encontrada.') {\n        results.push({ message: 'Nenhuma opção encontrada. Tente outra busca.' });\n    } else {\n        // Extract ramal and operador when destinationNumber is \"1008\"\n        let participantsNumberData = []; // Inicializa array para armazenar números de destino\n\n        // Itera por cada entrada de dados\n        for (const data of participantsData) {\n            // Acessa os estados de todos os participantes em cada estado da chamada\n            for (const callState of data.json.body.callStates) {\n                const participants = callState.participants; // Acessa a lista de participantes\n                \n                // Itera pelos participantes e coleta os dados quando o status é \"IN_DIRECT_TRANSFER\"\n                for (const participant of participants) {\n                    if (participant.status && participant.status.value === \"IN_DIRECT_TRANSFER\") {\n                        // Acessa o número de destino e o nome do iniciador\n                        const destinationNumber = participant.status.destination?.number || null;\n                        const ramal = participant.status.initiator?.extensionNumber || null;\n                        const operador = participant.status.initiator?.name || null;\n\n                        // Verifica se o destinationNumber é igual a 1008\n                        if (destinationNumber === \"1000\") {\n                            // Cria um objeto com as informações do ramal e operador\n                            const numberInfo = {\n                                name: operador,\n                                ramal: ramal\n                            };\n\n                            participantsNumberData.push(numberInfo); // Armazena os dados encontrados\n                            break; // Para a execução após encontrar o primeiro registro com destinationNumber igual a 1008\n                        }\n                    }\n                }\n                // Encerra o loop das chamadas se um registro foi encontrado\n                if (participantsNumberData.length > 0) {\n                    break;\n                }\n            }\n        }\n\n        // Verifica os sistemas de resposta interativa\n        const ivrs = participantsData[0].json.body.interactiveVoiceResponseSystems || [];\n        const callStates = participantsData[0].json.body.callStates || [];\n\n        // Verificando os estados de chamada para capturar possíveis opções\n        callStates.forEach((state) => {\n            if (state.interactiveVoiceResponseSystems) {\n                state.interactiveVoiceResponseSystems.forEach((ivr) => {\n                    // Verifica se o valor da opção está presente nos detalhes do nó\n                    if (ivr.type.currentNode && ivr.type.currentNode.option) {\n                        results.push({\n                            id: ivr.id,\n                            option: ivr.type.currentNode.option,\n                            type: ivr.type.value\n                        });\n                    }\n                });\n            }\n        });\n\n        // Se nenhum sistema ou opção foi encontrado\n        if (results.length === 0) {\n            results.push({ message: 'Nenhuma opção disponível. A pesquisa não foi respondida.' });\n        }\n\n        // Retorna também os dados do ramal e operador quando destinationNumber é \"1008\"\n        return {\n            option: results,\n            agents: participantsNumberData.slice(0, 1),\n            callData: extractAgentsAndCallData(participantsData).callData\n        };\n    }\n\n    // Retornar os dados processados\n    const extractedData = extractAgentsAndCallData(items);\n    return {\n        option: results,\n        callData: extractedData.callData\n    };\n}\n\n// Chama a função principal e retorna os resultados\nreturn processItems(items);"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1240,180],"id":"495751d5-ea36-43d1-afcc-871cdb8cc253","name":"Dados PABX2"},{"parameters":{"jsCode":"/**\n * Formata o timestamp no formato brasileiro DD/MM/YYYY HH:mm:ss\n * @param {string} timestamp - Data e hora em formato ISO\n * @returns {string} - Data formatada\n */\nfunction formatTimestamp(timestamp) {\n    const date = new Date(timestamp);\n    const options = {\n        day: '2-digit',\n        month: '2-digit',\n        year: 'numeric',\n        hour: '2-digit',\n        minute: '2-digit',\n        second: '2-digit',\n        hour12: false,\n        timeZone: 'America/Fortaleza'\n    };\n    return date.toLocaleString('pt-BR', options).replace(',', ''); // Remove a vírgula entre data e hora\n}\n\n/**\n * Preenche um array vazio com \"N/A\"\n * @param {Array} dataArray - Array de dados\n * @returns {Array} - Retorna o array ou [\"N/A\"]\n */\nfunction fillWithNA(dataArray) {\n    return dataArray.length > 0 ? dataArray : [\"N/A\"];\n}\n\n/**\n * Extrai participantes do tipo \"LINE\" e dados de chamadas em estado \"ACTIVE\"\n * @param {Array} items - Lista de itens do JSON\n * @returns {Object} - Contém agentes e dados de chamadas\n */\nfunction extractAgentsAndCallData(items) {\n    const participants = items[0].json.body.participants || [];\n    const callStates = items[0].json.body.callStates || [];\n\n    let agents = [];\n    let callData = [];\n\n    // Iterar sobre os participantes para extrair AGENTS\n    participants.forEach(participant => {\n        if (participant.type && participant.type.value === \"LINE\") {\n            agents.push({\n                name: participant.type.name || \"N/A\",\n                ramal: participant.type.extensionNumber || \"N/A\"\n            });\n        }\n    });\n\n      // Iterar sobre os estados das chamadas para extrair dados\n    callStates.forEach(state => {\n        if (state.type === \"ACTIVE\") {\n            const phoneNumbers = state.participants.filter(participant => participant.type.value === \"PHONE_NUMBER\");\n\n            // Verifica se temos ao menos um PHONE_NUMBER e um LINE\n            if (phoneNumbers.length > 0 && agents.length > 0) {\n                // Pesquisa o primeiro participante com informações válidas\n                const validParticipants = state.participants.map(participant => ({\n                    nameEmpresa: participant.type.name || \"N/A\",\n                    numeroEmpresa: participant.type.number || \"N/A\",\n                    numeroClient: participant.type.callee?.number || \"N/A\"\n                }));\n\n                // Encontra o primeiro participante que não é \"N/A\"\n                const firstValidParticipant = validParticipants.find(p => p.nameEmpresa !== \"N/A\" && p.numeroEmpresa !== \"N/A\" && p.numeroClient !== \"N/A\");\n                \n                // Se um participante válido for encontrado, adiciona à callData\n                if (firstValidParticipant) {\n                    callData.push({\n                        dataHora: formatTimestamp(state.timestamp),\n                        participants: [firstValidParticipant] // Armazena somente o primeiro participante válido\n                    });\n                }\n            }\n        }\n    });\n\n    return {\n        agents: fillWithNA(agents),\n        callData: fillWithNA(callData)\n    };\n}\n\n/**\n * Processa os itens e retorna os resultados.\n * @param {Array} items - Lista de itens do JSON\n * @returns {Object} - Dados processados\n */\nfunction processItems(items) {\n    const results = [];\n\n    if (items[0].json.body.message === 'Nenhuma opção encontrada.') {\n        results.push({ message: 'Nenhuma opção encontrada. Tente outra busca.' });\n    } else {\n        const ivrs = items[0].json.body.interactiveVoiceResponseSystems || [];\n        const callStates = items[0].json.body.callStates || [];\n\n        callStates.forEach((state) => {\n            state.interactiveVoiceResponseSystems?.forEach((ivr) => {\n                if (ivr.type.currentNode && ivr.type.currentNode.option) {\n                    results.push({\n                        id: ivr.id,\n                        option: ivr.type.currentNode.option,\n                        type: ivr.type.value\n                    });\n                }\n            });\n        });\n\n        if (results.length === 0) {\n            results.push(null);\n        }\n    }\n\n    const extractedData = extractAgentsAndCallData(items);\n    return {\n        option: results,\n        agents: extractedData.agents,\n        callData: extractedData.callData\n    };\n}\n\n// Chama a função principal e retorna os resultados\nreturn processItems(items);\n\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1240,380],"id":"88999533-6432-4578-bad2-ed4c0887c7e7","name":"Dados PABX"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"11gka6tXU8F_wFlrKRdP6Eg3nDuD7e93tZWvfZUFStV8","mode":"id"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Telefonia Dados","cachedResultUrl":"https://docs.google.com/spreadsheets/d/11gka6tXU8F_wFlrKRdP6Eg3nDuD7e93tZWvfZUFStV8/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Operador":"={{ $json.Operador }}","Ramal":"={{ $json.Ramal }}","Numero Empresa":"={{ $json[\"Numero Empresa\"] }}","Empresa":"={{ $json.Empresa }}","Numero Cliente":"={{ $json[\"Numero Cliente\"] }}","Nota":"={{ $json.Nota }}","Protocolo":"={{ $json.Protocolo }}","Tipo de Ligação":"={{ $json[\"Status Ligação\"] }}","Setor":"={{ $json.Setor }}","Data":"={{ $json.Data }}","Hora":"={{ $json.Hora }}"},"matchingColumns":[],"schema":[{"id":"Protocolo","displayName":"Protocolo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Data","displayName":"Data","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Hora","displayName":"Hora","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Tipo de Ligação","displayName":"Tipo de Ligação","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Operador","displayName":"Operador","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Ramal","displayName":"Ramal","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Empresa","displayName":"Empresa","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Numero Empresa","displayName":"Numero Empresa","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Numero Cliente","displayName":"Numero Cliente","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Nota","displayName":"Nota","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Setor","displayName":"Setor","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"e73dbbd5-2d77-48c0-8e20-54c12bed0e40","name":"Google Sheets1","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[20,240],"alwaysOutputData":false,"credentials":{"googleSheetsOAuth2Api":{"id":"0T2HBTfyxGSnK2Gs","name":"Google Sheets account - Clenildon"}}},{"parameters":{"jsCode":"for (const item of $input.all()) {\n    // Verificar se \"Data Hora\" existe e não é nulo\n    const dataHoraOriginal = item.json[\"Data Hora\"];\n    \n    if (dataHoraOriginal) {\n        // Separar a data e a hora\n        const [data, hora] = dataHoraOriginal.split(\" \");\n        \n        // Formatar a data e a hora\n        const dataFormatada = data; // você pode formatar a data se necessário\n        const horaFormatada = hora; // mantendo a hora sem alterações\n        \n        // Sobrescrever o campo \"Data Hora\" com o valor formatado ou criar novos campos\n        item.json[\"Data\"] = dataFormatada;\n        item.json[\"Hora\"] = horaFormatada;\n    } else {\n        // Caso \"Data Hora\" esteja ausente ou seja nulo, usar um valor padrão\n        item.json[\"Data\"] = \"Data inválida\";\n        item.json[\"Hora\"] = \"Hora inválida\";\n    }\n\n    // Gerar um protocolo único\n    const now = new Date();\n    const dateCompact = now.getFullYear().toString().slice(2) +\n        String(now.getMonth() + 1).padStart(2, '0') +\n        String(now.getDate()).padStart(2, '0') +\n        String(now.getHours()).padStart(2, '0') +\n        String(now.getMinutes()).padStart(2, '0');\n    const randomPart = Math.floor(Math.random() * 100000).toString().padStart(5, '0');\n    const protocolo = `${dateCompact}${randomPart}`;\n    \n    // Adicionar o campo \"Protocolo\" com o valor único\n    item.json.Protocolo = protocolo;\n}\n\nreturn $input.all();\n\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-880,160],"id":"1d72981a-9332-498e-952c-7f8a778b4aad","name":"Code"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c47f7053-bec6-4e50-b691-79e1fed5407f","leftValue":"={{ $json.Nota }}","rightValue":3,"operator":{"type":"number","operation":"lte"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[0,0],"id":"1b8d6a33-cb89-4a8e-9d17-a668c3d69317","name":"Filter2"},{"parameters":{"sendTo":"sac@cearagps.com.br ","subject":"=Relatório de Avaliação Negativa - Protocolo {{ $json.Protocolo }}","message":"=<!DOCTYPE html>\n<html lang=\"pt-BR\">\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>Relatório de Avaliação - Atendimento</title>\n    <style>\n        body {\n            font-family: 'Arial', sans-serif;\n            margin: 0;\n            padding: 0;\n            background-color: #f3f4f6;\n            color: #333;\n        }\n\n        .container {\n            max-width: 600px;\n            margin: 40px auto;\n            background-color: #ffffff;\n            padding: 30px;\n            border-radius: 10px;\n            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);\n        }\n\n        h1 {\n            font-size: 24px;\n            color: #4a5568;\n            text-align: center;\n            margin-bottom: 20px;\n            border-bottom: 2px solid #e2e8f0;\n            padding-bottom: 10px;\n        }\n\n        p {\n            margin: 10px 0;\n            line-height: 1.6;\n        }\n\n        .highlight {\n            color: #e53e3e; /* Vermelho para a nota */\n            font-weight: bold;\n        }\n\n        .details {\n            margin-top: 20px;\n            padding: 20px;\n            background-color: #f7fafc;\n            border: 1px solid #e2e8f0;\n            border-radius: 8px;\n        }\n\n        .details p {\n            margin: 5px 0;\n        }\n\n        .details p strong {\n            color: #2d3748;\n        }\n\n        .footer {\n            text-align: center;\n            margin-top: 20px;\n            font-size: 14px;\n            color: #718096;\n        }\n\n        .footer strong {\n            color: #2d3748;\n        }\n    </style>\n</head>\n<body>\n    <div class=\"container\">\n        <h1>Relatório de Avaliação - Atendimento</h1>\n        <p>Prezado(a),</p>\n        <p>O cliente com número <span><b>{{ $json['Numero Cliente'] }}</b></span> avaliou negativamente o atendimento realizado na ligação de <span><b>{{ $json['Data Hora'] }}</b></span>, atribuindo a nota <span class=\"highlight\">{{ $json.Nota }}</span>.</p>\n        <div class=\"details\">\n            <p><strong>Detalhes da Ligação:</strong></p>\n            <p><strong>Operador:</strong> {{ $json.Operador }}</p>\n            <p><strong>Ramal:</strong> {{ $json.Ramal }}</p>\n            <p><strong>Empresa:</strong> {{ $json.Empresa }}</p>\n            <p><strong>Número da Empresa:</strong> {{ $json['Numero Empresa'] }}</p>\n            <p><strong>Número do Cliente:</strong> {{ $json['Numero Cliente'] }}</p>\n            <p><strong>Nota:</strong> <span class=\"highlight\">{{ $json.Nota }}</span></p>\n            <p><strong>Tipo da Ligação:</strong> {{ $json['Status Ligação'] }}</p>\n            <p><strong>Protocolo:</strong> {{ $json.Protocolo }}</p>\n        </div>\n        <p>Por favor, verifique o caso para possíveis ações de melhoria.</p>\n        <div class=\"footer\">\n            <p>Atenciosamente,</p>\n            <p><strong>T.I Grupo Ramos</strong></p>\n        </div>\n    </div>\n</body>\n</html>\n\n","options":{}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[400,-40],"id":"6d91dbab-8cfe-457b-bf3f-3deaaadf166c","name":"Gmail","webhookId":"e55b441d-2b6d-4aeb-a9f4-d92141c875bc","credentials":{"gmailOAuth2":{"id":"EQ4hyYPO2n2xYhrg","name":"Gmail account Clenildon"}}},{"parameters":{"assignments":{"assignments":[{"id":"0c8814f5-bb23-45fc-bb5f-bae6d314ca08","name":"Data Hora","value":"={{ $json.callData[0].dataHora }}","type":"string"},{"id":"db26c79b-0455-4dfb-83c6-4f1d1ac645b5","name":"Operador","value":"={{ $json.agents[0].name }}","type":"string"},{"id":"ba9b4a58-5eaf-4192-bf44-de7c2269f1db","name":"Ramal","value":"={{ $json.agents[0].ramal }}","type":"string"},{"id":"c1b0cea3-f133-4960-bc9d-3e991d13a049","name":"Empresa","value":"={{ $json.callData[0].participants[0].nameEmpresa }}","type":"string"},{"id":"de7a6c02-c40a-4f46-82f0-8ecdabf89da7","name":"Numero Empresa","value":"={{ $json.callData[0].participants[0].numeroEmpresa }}","type":"string"},{"id":"8613468b-9b16-45fe-b9b9-720b680833e8","name":"Numero Cliente","value":"={{ $json.callData[0].participants[0].numeroClient }}","type":"string"},{"id":"7f7a91cd-a3e5-4bb3-9c78-86f31133edb4","name":"Nota","value":"={{ $json.option[1].option}}","type":"number"},{"id":"7ee79f91-a97a-4bdf-a120-140c2979fc0c","name":"Protocolo","value":"","type":"string"},{"id":"f1123190-d5c0-4687-9e32-e6d6e2840599","name":"Status Ligação","value":"Receptiva","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1060,160],"id":"be6831d5-687c-4a52-9ebc-037bb686e248","name":"Formatando Dados - Recepitiva"},{"parameters":{"assignments":{"assignments":[{"id":"0c8814f5-bb23-45fc-bb5f-bae6d314ca08","name":"Data Hora","value":"={{ $json.callData[0].dataHora }}","type":"string"},{"id":"db26c79b-0455-4dfb-83c6-4f1d1ac645b5","name":"Operador","value":"={{ $json.agents[0].name }}","type":"string"},{"id":"ba9b4a58-5eaf-4192-bf44-de7c2269f1db","name":"Ramal","value":"={{ $json.agents[0].ramal }}","type":"string"},{"id":"c1b0cea3-f133-4960-bc9d-3e991d13a049","name":"Empresa","value":"={{ $json.callData[0].participants[0].nameEmpresa }}","type":"string"},{"id":"de7a6c02-c40a-4f46-82f0-8ecdabf89da7","name":"Numero Empresa","value":"={{ $json.callData[0].participants[0].numeroEmpresa }}","type":"string"},{"id":"8613468b-9b16-45fe-b9b9-720b680833e8","name":"Numero Cliente","value":"={{ $json.callData[0].participants[0].numeroClient }}","type":"string"},{"id":"7f7a91cd-a3e5-4bb3-9c78-86f31133edb4","name":"Nota","value":"={{ $json.option[0].option}}","type":"number"},{"id":"7ee79f91-a97a-4bdf-a120-140c2979fc0c","name":"Protocolo","value":"","type":"string"},{"id":"f1123190-d5c0-4687-9e32-e6d6e2840599","name":"Status Ligação","value":"Ativa","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1040,380],"id":"00c34b78-b3de-44a2-becf-00b9b9302673","name":"Formatando Dados Ativa"},{"parameters":{"jsCode":"for (const item of $input.all()) {\n    // Verificar se \"Data Hora\" existe e não é nulo\n    const dataHoraOriginal = item.json[\"Data Hora\"];\n    \n    if (dataHoraOriginal) {\n        // Separar a data e a hora\n        const [data, hora] = dataHoraOriginal.split(\" \");\n        \n        // Formatar a data e a hora\n        const dataFormatada = data; // você pode formatar a data se necessário\n        const horaFormatada = hora; // mantendo a hora sem alterações\n        \n        // Sobrescrever o campo \"Data Hora\" com o valor formatado ou criar novos campos\n        item.json[\"Data\"] = dataFormatada;\n        item.json[\"Hora\"] = horaFormatada;\n    } else {\n        // Caso \"Data Hora\" esteja ausente ou seja nulo, usar um valor padrão\n        item.json[\"Data\"] = \"Data inválida\";\n        item.json[\"Hora\"] = \"Hora inválida\";\n    }\n\n    // Gerar um protocolo único\n    const now = new Date();\n    const dateCompact = now.getFullYear().toString().slice(2) +\n        String(now.getMonth() + 1).padStart(2, '0') +\n        String(now.getDate()).padStart(2, '0') +\n        String(now.getHours()).padStart(2, '0') +\n        String(now.getMinutes()).padStart(2, '0');\n    const randomPart = Math.floor(Math.random() * 100000).toString().padStart(5, '0');\n    const protocolo = `${dateCompact}${randomPart}`;\n    \n    // Adicionar o campo \"Protocolo\" com o valor único\n    item.json.Protocolo = protocolo;\n}\n\nreturn $input.all();\n\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-860,380],"id":"7e71ff47-3420-454c-8db9-ad37f9e4aa78","name":"Code1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e96fa4d6-b989-4374-a06c-3e5b0461ec2d","leftValue":"={{ $json.Nota }}","rightValue":"","operator":{"type":"number","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[-480,380],"id":"c20272e1-5509-4181-b137-aea0814fecf1","name":"Verificar se Há Nota"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"37c49396-6e9b-4f51-866c-80267885d30f","leftValue":"={{ $json.Nota }}","rightValue":"","operator":{"type":"number","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[-520,140],"id":"720d0f2d-f9ef-43e2-8c51-08944eceaace","name":"Verificar se há Nota Recepitiva"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c47f7053-bec6-4e50-b691-79e1fed5407f","leftValue":"={{ $json.Nota }}","rightValue":3,"operator":{"type":"number","operation":"lte"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[220,520],"id":"f90ac5ef-a4dd-46e9-9a62-56b78bf63671","name":"Filter"},{"parameters":{"sendTo":"sac@cearagps.com.br ","subject":"=Relatório de Avaliação Negativa - Protocolo {{ $json.Protocolo }}","message":"=<!DOCTYPE html>\n<html lang=\"pt-BR\">\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>Relatório de Avaliação - Atendimento</title>\n    <style>\n        body {\n            font-family: 'Arial', sans-serif;\n            margin: 0;\n            padding: 0;\n            background-color: #f3f4f6;\n            color: #333;\n        }\n\n        .container {\n            max-width: 600px;\n            margin: 40px auto;\n            background-color: #ffffff;\n            padding: 30px;\n            border-radius: 10px;\n            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);\n        }\n\n        h1 {\n            font-size: 24px;\n            color: #4a5568;\n            text-align: center;\n            margin-bottom: 20px;\n            border-bottom: 2px solid #e2e8f0;\n            padding-bottom: 10px;\n        }\n\n        p {\n            margin: 10px 0;\n            line-height: 1.6;\n        }\n\n        .highlight {\n            color: #e53e3e; /* Vermelho para a nota */\n            font-weight: bold;\n        }\n\n        .details {\n            margin-top: 20px;\n            padding: 20px;\n            background-color: #f7fafc;\n            border: 1px solid #e2e8f0;\n            border-radius: 8px;\n        }\n\n        .details p {\n            margin: 5px 0;\n        }\n\n        .details p strong {\n            color: #2d3748;\n        }\n\n        .footer {\n            text-align: center;\n            margin-top: 20px;\n            font-size: 14px;\n            color: #718096;\n        }\n\n        .footer strong {\n            color: #2d3748;\n        }\n    </style>\n</head>\n<body>\n    <div class=\"container\">\n        <h1>Relatório de Avaliação - Atendimento</h1>\n        <p>Prezado(a),</p>\n        <p>O cliente com número <span><b>{{ $json['Numero Cliente'] }}</b></span> avaliou negativamente o atendimento realizado na ligação de <span><b>{{ $json['Data Hora'] }}</b></span>, atribuindo a nota <span class=\"highlight\">{{ $json.Nota }}</span>.</p>\n        <div class=\"details\">\n            <p><strong>Detalhes da Ligação:</strong></p>\n            <p><strong>Operador:</strong> {{ $json.Operador }}</p>\n            <p><strong>Ramal:</strong> {{ $json.Ramal }}</p>\n            <p><strong>Empresa:</strong> {{ $json.Empresa }}</p>\n            <p><strong>Número da Empresa:</strong> {{ $json['Numero Empresa'] }}</p>\n            <p><strong>Número do Cliente:</strong> {{ $json['Numero Cliente'] }}</p>\n            <p><strong>Nota:</strong> <span class=\"highlight\">{{ $json.Nota }}</span></p>\n            <p><strong>Tipo da Ligação:</strong> {{ $json['Status Ligação'] }}</p>\n            <p><strong>Protocolo:</strong> {{ $json.Protocolo }}</p>\n        </div>\n        <p>Por favor, verifique o caso para possíveis ações de melhoria.</p>\n        <div class=\"footer\">\n            <p>Atenciosamente,</p>\n            <p><strong>T.I Grupo Ramos</strong></p>\n        </div>\n    </div>\n</body>\n</html>\n\n","options":{}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[420,520],"id":"81ce6f43-91f7-4ab4-9664-08e38b59469c","name":"Gmail1","webhookId":"e55b441d-2b6d-4aeb-a9f4-d92141c875bc","credentials":{"gmailOAuth2":{"id":"EQ4hyYPO2n2xYhrg","name":"Gmail account Clenildon"}}},{"parameters":{"jsCode":"// Loop sobre os itens de entrada e adiciona um novo campo chamado \"Setor\"\nfor (const item of $input.all()) {\n  // Define um valor padrão para o setor\n  let setor;\n\n  // Acessa o ramal da propriedade do item\n  const ramal = item.json.Ramal;\n\n  // Mapeia os ramais para seus respectivos setores\n  if ([\"6100\", \"6101\", \"6102\", \"6103\", \"6104\", \"6105\", \"6106\", \"6107\", \"6108\", \"6109\", \"6110\", \"6111\", \"6112\", \"6130\", \"6132\"].includes(ramal)) {\n    setor = \"Central\";\n  } else if (ramal === \"6113\") {\n    setor = \"Agendamento\";\n  } else if (ramal === \"6116\") {\n    setor = \"Administrativo\";\n  } else if ([\"6117\", \"6118\", \"6119\", \"6120\", \"6121\", \"6122\", \"6123\", \"6124\"].includes(ramal)) {\n    setor = \"Recebiveis\";\n  } else if ([\"6128\", \"6129\", \"6131\", \"6114\", \"6115\"].includes(ramal)) {\n    setor = \"Comercial\";\n  } else if (ramal === \"6133\") {\n    setor = \"Sucesso do Cliente\";\n  } else if (ramal === \"6134\") {\n    setor = \"TI\";\n  } else if (ramal === \"6125\") {\n    setor = \"Suporte CRX\";\n  } else if (ramal === \"6126\") {\n    setor = \"Comercial CRX\";\n  } else if (ramal === \"6127\") {\n    setor = \"Financeiro CRX\";\n  } else {\n    setor = \"Desconhecido\"; // Para ramais que não se encaixam nas regras\n  }\n\n  // Adiciona o setor ao item\n  item.json.Setor = setor;\n}\n\nreturn $input.all();\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-700,160],"id":"0cb13a15-7a26-4ac3-8c80-35eb48cc70db","name":"Campo setor Logica"},{"parameters":{"jsCode":"// Loop sobre os itens de entrada e adiciona um novo campo chamado \"Setor\"\nfor (const item of $input.all()) {\n  // Define um valor padrão para o setor\n  let setor;\n\n  // Acessa o ramal da propriedade do item\n  const ramal = item.json.Ramal;\n\n  // Mapeia os ramais para seus respectivos setores\n  if ([\"6100\", \"6101\", \"6102\", \"6103\", \"6104\", \"6105\", \"6106\", \"6107\", \"6108\", \"6109\", \"6110\", \"6111\", \"6112\", \"6130\", \"6132\"].includes(ramal)) {\n    setor = \"Central\";\n  } else if (ramal === \"6113\") {\n    setor = \"Agendamento\";\n  } else if (ramal === \"6116\") {\n    setor = \"Administrativo\";\n  } else if ([\"6117\", \"6118\", \"6119\", \"6120\", \"6121\", \"6122\", \"6123\", \"6124\"].includes(ramal)) {\n    setor = \"Recebiveis\";\n  } else if ([\"6128\", \"6129\", \"6131\", \"6114\", \"6115\"].includes(ramal)) {\n    setor = \"Comercial\";\n  } else if (ramal === \"6133\") {\n    setor = \"Sucesso do Cliente\";\n  } else if (ramal === \"6134\") {\n    setor = \"TI\";\n  } else if (ramal === \"6125\") {\n    setor = \"Suporte CRX\";\n  } else if (ramal === \"6126\") {\n    setor = \"Comercial CRX\";\n  } else if (ramal === \"6127\") {\n    setor = \"Financeiro CRX\";\n  } else {\n    setor = \"Desconhecido\"; // Para ramais que não se encaixam nas regras\n  }\n\n  // Adiciona o setor ao item\n  item.json.Setor = setor;\n}\n\nreturn $input.all();\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-700,380],"id":"ce7c43f1-29f7-40de-928e-81f3a447bd6d","name":"Campo setor Logica1"},{"parameters":{"jsCode":"for (const item of $input.all()) {\n    // Verificar se \"Data Hora\" existe e não é nulo\n    const dataHoraOriginal = item.json[\"Data Hora\"];\n    \n    if (dataHoraOriginal) {\n        // Adicionar \"às\" ao valor de \"Data Hora\", separando data e hora\n        const [data, hora] = dataHoraOriginal.split(\" \");\n        const dataHoraFormatada = `${data} às ${hora}`;\n        \n        // Sobrescrever o campo \"Data Hora\" com o valor formatado\n        item.json[\"Data Hora\"] = dataHoraFormatada;\n    } else {\n        // Caso \"Data Hora\" esteja ausente ou seja nulo, usar um valor padrão\n        item.json[\"Data Hora\"] = \"Data/Hora inválida\";\n    }\n}\n\nreturn $input.all();"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-280,40],"id":"f2340b41-41b5-453a-8bdb-3beba35e9d45","name":"Code2"},{"parameters":{"jsCode":"for (const item of $input.all()) {\n    // Verificar se \"Data Hora\" existe e não é nulo\n    const dataHoraOriginal = item.json[\"Data Hora\"];\n    \n    if (dataHoraOriginal) {\n        // Adicionar \"às\" ao valor de \"Data Hora\", separando data e hora\n        const [data, hora] = dataHoraOriginal.split(\" \");\n        const dataHoraFormatada = `${data} às ${hora}`;\n        \n        // Sobrescrever o campo \"Data Hora\" com o valor formatado\n        item.json[\"Data Hora\"] = dataHoraFormatada;\n    } else {\n        // Caso \"Data Hora\" esteja ausente ou seja nulo, usar um valor padrão\n        item.json[\"Data Hora\"] = \"Data/Hora inválida\";\n    }\n}\n\nreturn $input.all();\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-200,460],"id":"167bbf8e-46d3-447f-a6c1-138cdfa3fe58","name":"Code3"}],"connections":{"Webhook1":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"Dados PABX2","type":"main","index":0}],[{"node":"Dados PABX","type":"main","index":0}]]},"Dados PABX":{"main":[[{"node":"Formatando Dados Ativa","type":"main","index":0}]]},"Dados PABX2":{"main":[[{"node":"Formatando Dados - Recepitiva","type":"main","index":0}]]},"Code":{"main":[[{"node":"Campo setor Logica","type":"main","index":0}]]},"Filter2":{"main":[[{"node":"Gmail","type":"main","index":0}]]},"Formatando Dados - Recepitiva":{"main":[[{"node":"Code","type":"main","index":0}]]},"Formatando Dados Ativa":{"main":[[{"node":"Code1","type":"main","index":0}]]},"Code1":{"main":[[{"node":"Campo setor Logica1","type":"main","index":0}]]},"Verificar se Há Nota":{"main":[[{"node":"Google Sheets1","type":"main","index":0},{"node":"Code3","type":"main","index":0}]]},"Verificar se há Nota Recepitiva":{"main":[[{"node":"Google Sheets1","type":"main","index":0},{"node":"Code2","type":"main","index":0}]]},"Filter":{"main":[[{"node":"Gmail1","type":"main","index":0}]]},"Campo setor Logica":{"main":[[{"node":"Verificar se há Nota Recepitiva","type":"main","index":0}]]},"Campo setor Logica1":{"main":[[{"node":"Verificar se Há Nota","type":"main","index":0}]]},"Code2":{"main":[[{"node":"Filter2","type":"main","index":0}]]},"Code3":{"main":[[{"node":"Filter","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook1":[{"json":{"headers":{"host":"n8n.cearatec.cloud","user-agent":"axios/1.7.9","content-length":"89022","accept":"application/json, text/plain, */*","accept-encoding":"gzip, br","cdn-loop":"cloudflare; loops=1","cf-connecting-ip":"131.196.234.42","cf-ipcountry":"BR","cf-ray":"913efc75cfc464ae-GIG","cf-visitor":"{\"scheme\":\"https\"}","content-type":"application/json","x-forwarded-for":"131.196.234.42, 172.69.90.233","x-forwarded-host":"n8n.cearatec.cloud","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"00733d017f7d","x-real-ip":"172.69.90.233"},"params":{},"query":{},"body":{"conversationSpaceId":"7cdfcc36-b3e0-3e3d-b8d1-211fa3b8416d","callCreated":"2025-02-18T15:13:00.755Z","callEnded":"2025-02-18T15:17:39.882Z","callInitiator":"DIRECT","direction":"INBOUND","accountKey":"8621343684556870338","participants":[{"id":"e85b4a95-ba2d-5844-9fcc-bfad75cbc4cc","originator":"e85b4a95-ba2d-5844-9fcc-bfad75cbc4cc","legId":"f0029216-ad5e-42ba-82ab-cd63d1068c79","recordings":[{"id":"9f12f677-a944-4139-bfbb-7d9df8a98001","startTimestamp":"2025-02-18T15:13:01.237Z"}],"type":{"value":"PHONE_NUMBER","phoneNumberId":"c30dc08d-d7cc-4cad-a967-8db6552e558f","number":"+558534846006","caller":{"name":"","number":"+5585991996437"}}},{"id":"8c9fd079-6d7b-5969-b781-f10e47b5baa8","originator":"e85b4a95-ba2d-5844-9fcc-bfad75cbc4cc","legId":"71f2fab6-42bd-4737-a60f-2a8c58724247","type":{"value":"LINE","lineId":"bac33411-d5c9-4e5d-9461-4a7cc329f785","deviceId":"635600a6-0d11-4357-a9c4-75139875aea2","extensionNumber":"6102","name":"Naiane Silva","userId":"3f4df4dd-7810-41d4-8bcb-f158fa28b00c","userKey":"1841396546972194501"}},{"id":"e10a4b40-b4d2-5730-8304-07dd47cfd7e6","originator":"e85b4a95-ba2d-5844-9fcc-bfad75cbc4cc","legId":"dc95dcbe-f57b-4dbf-b457-0b97440c6f48","type":{"value":"LINE","lineId":"d2f8be4c-8904-4b91-abed-096bbabc5be5","deviceId":"6f50913b-e575-4521-a548-21470cbc2a84","extensionNumber":"6109","name":"Edson Richard","userId":"86d9b1d2-b171-4728-ae99-0dd7584257ec","userKey":"2764277129304118981"}},{"id":"7468e4f9-6af1-5d44-8752-35748cf99ac0","originator":"e85b4a95-ba2d-5844-9fcc-bfad75cbc4cc","legId":"9c43be89-0672-4401-bfad-00e9aad0badc","type":{"value":"LINE","lineId":"2930f16a-6000-4227-8e87-efa54aec2af0","deviceId":"9f9b7bfc-9659-4d12-a3c9-d35940814e1a","extensionNumber":"6105","name":"Maria Tabosa","userId":"18062f56-8190-497e-8fc2-efcc4e95103c","userKey":"8884126963668129476"}},{"id":"68591b02-bd59-547f-beda-2756fc73519a","originator":"e85b4a95-ba2d-5844-9fcc-bfad75cbc4cc","legId":"d441184b-d7c9-40b9-a296-94d0ea2c5104","type":{"value":"LINE","lineId":"93a6aebd-c92b-4006-909f-becf7a8d4904","deviceId":"4466a079-92c0-4762-9f63-3beb1e89bb74","extensionNumber":"6132","name":"Ezequiel Bastos Gomes","userId":"69f0378a-afde-407c-8de8-eaba1950e57c","userKey":"375577123926687954"}},{"id":"ccc711af-628e-58ee-8fe4-62263d7cf9ef","originator":"e85b4a95-ba2d-5844-9fcc-bfad75cbc4cc","legId":"115127f1-4ae4-4914-bf4b-149b783871d4","type":{"value":"LINE","lineId":"8ebb51c1-2c74-4890-b90c-d5f4f42941ad","deviceId":"05176e67-b02b-4e1c-b695-320d42361138","extensionNumber":"6101","name":"Bruno Lima","userId":"e06997f2-fa80-4c6b-a250-2910e26f4ea9","userKey":"8088426891321054917"}},{"id":"ed07b01e-4439-5879-a1fd-bd582343eca0","originator":"e85b4a95-ba2d-5844-9fcc-bfad75cbc4cc","legId":"d1bee713-97bc-41bb-a85a-587b425ccf1d","recordings":[{"id":"f4a602c6-5ee8-4f43-9f90-fc9ef673bba1","startTimestamp":"2025-02-18T15:14:10.259Z"}],"type":{"value":"AGENT","lineId":"bac33411-d5c9-4e5d-9461-4a7cc329f785","deviceId":"635600a6-0d11-4357-a9c4-75139875aea2","extensionNumber":"6102","name":"Naiane Silva","userId":"3f4df4dd-7810-41d4-8bcb-f158fa28b00c","userKey":"1841396546972194501","interactiveVoiceResponseSystemId":"a9523280-71f1-578a-b19d-ec190fc0d101","skills":[],"matchedSkills":[]}},{"id":"dedd7376-01ab-51b1-b2e3-800e4847a68a","originator":"e85b4a95-ba2d-5844-9fcc-bfad75cbc4cc","legId":"a927695d-46f8-486b-982f-198166e8cb4d","type":{"value":"LINE","lineId":"d2f8be4c-8904-4b91-abed-096bbabc5be5","deviceId":"6f50913b-e575-4521-a548-21470cbc2a84","extensionNumber":"6109","name":"Edson Richard","userId":"86d9b1d2-b171-4728-ae99-0dd7584257ec","userKey":"2764277129304118981"}},{"id":"06f689e2-61cc-5987-a0fe-162287dd97a9","originator":"e85b4a95-ba2d-5844-9fcc-bfad75cbc4cc","legId":"9233424d-c9a7-42a1-be60-289c0ccc3712","type":{"value":"LINE","lineId":"2930f16a-6000-4227-8e87-efa54aec2af0","deviceId":"9f9b7bfc-9659-4d12-a3c9-d35940814e1a","extensionNumber":"6105","name":"Maria Tabosa","userId":"18062f56-8190-497e-8fc2-efcc4e95103c","userKey":"8884126963668129476"}},{"id":"05029994-7e05-5a73-b68c-896adca77a90","originator":"e85b4a95-ba2d-5844-9fcc-bfad75cbc4cc","legId":"8a247f55-570c-4478-a51f-5c994680223e","type":{"value":"LINE","lineId":"93a6aebd-c92b-4006-909f-becf7a8d4904","deviceId":"4466a079-92c0-4762-9f63-3beb1e89bb74","extensionNumber":"6132","name":"Ezequiel Bastos Gomes","userId":"69f0378a-afde-407c-8de8-eaba1950e57c","userKey":"375577123926687954"}},{"id":"b83041fc-f175-5689-96b1-62aeeb644107","originator":"e85b4a95-ba2d-5844-9fcc-bfad75cbc4cc","legId":"7bc0e164-5b80-40f8-ad5d-deabfd4c92c7","type":{"value":"LINE","lineId":"8ebb51c1-2c74-4890-b90c-d5f4f42941ad","deviceId":"05176e67-b02b-4e1c-b695-320d42361138","extensionNumber":"6101","name":"Bruno Lima","userId":"e06997f2-fa80-4c6b-a250-2910e26f4ea9","userKey":"8088426891321054917"}}],"interactiveVoiceResponseSystems":[{"id":"9cef3eb7-7844-5e1d-a7ff-d5401b1d6c57","originator":"e85b4a95-ba2d-5844-9fcc-bfad75cbc4cc","type":{"value":"CALL_QUEUE","queueId":"185c6134-2c47-466f-9c0a-296b91b7571d","queueName":"CearaGPS-Central/Suporte","queueType":"ICR","leftQueueReason":"ANSWERED","callbackOffered":false,"configuredWrapUpDuration":0,"callerWaitDuration":28490}}],"associatedConversations":[],"hangupOriginatorId":"ed07b01e-4439-5879-a1fd-bd582343eca0","callStates":[{"id":"d4450014-3a49-5a20-b937-912f4bf68c20","type":"STARTING","sequenceNumber":1,"timestamp":"2025-02-18T15:13:00.755Z","participants":[{"id":"e85b4a95-ba2d-5844-9fcc-bfad75cbc4cc","legId":"f0029216-ad5e-42ba-82ab-cd63d1068c79","originator":"e85b4a95-ba2d-5844-9fcc-bfad75cbc4cc","type":{"name":"CearaGPS","value":"PHONE_NUMBER","caller":{"name":"","number":"+5585991996437"},"number":"+558534846006","phoneNumberId":"c30dc08d-d7cc-4cad-a967-8db6552e558f"},"status":{"value":"RINGING"}}]},{"id":"364ff2ae-b1ec-56c5-875b-9dc2d7ed4ada","type":"ACTIVE","sequenceNumber":2,"timestamp":"2025-02-18T15:13:00.778Z","participants":[{"id":"e85b4a95-ba2d-5844-9fcc-bfad75cbc4cc","legId":"f0029216-ad5e-42ba-82ab-cd63d1068c79","originator":"e85b4a95-ba2d-5844-9fcc-bfad75cbc4cc","type":{"name":"CearaGPS","value":"PHONE_NUMBER","caller":{"name":"","number":"+5585991996437"},"number":"+558534846006","phoneNumberId":"c30dc08d-d7cc-4cad-a967-8db6552e558f"},"status":{"value":"IN_INTERACTIVE_VOICE_RESPONSE"}}],"interactiveVoiceResponseSystems":[{"id":"a9523280-71f1-578a-b19d-ec190fc0d101","type":{"value":"DIAL_PLAN","dialPlanId":"cd4881b6-8506-4853-ac5f-4720d3d74582","currentNode":{"id":"AttendantPromptNode_1002","type":"AttendantPromptNode"},"executionId":"770f5828-1978-4bc3-a3a2-cb4bf1b5d1d8","previousNode":{"id":"","connector":""}},"status":{"value":"CONNECTED"},"originator":"e85b4a95-ba2d-5844-9fcc-bfad75cbc4cc"}]},{"id":"0c35b37b-1b67-510c-a841-52abce6cab70","type":"ACTIVE","sequenceNumber":3,"timestamp":"2025-02-18T15:13:41.534Z","participants":[{"id":"e85b4a95-ba2d-5844-9fcc-bfad75cbc4cc","legId":"f0029216-ad5e-42ba-82ab-cd63d1068c79","originator":"e85b4a95-ba2d-5844-9fcc-bfad75cbc4cc","type":{"name":"CearaGPS","value":"PHONE_NUMBER","caller":{"name":"","number":"+5585991996437"},"number":"+558534846006","phoneNumberId":"c30dc08d-d7cc-4cad-a967-8db6552e558f"},"recordings":[{"id":"9f12f677-a944-4139-bfbb-7d9df8a98001","startTimestamp":"2025-02-18T15:13:01.237Z"}],"status":{"value":"IN_INTERACTIVE_VOICE_RESPONSE"}}],"interactiveVoiceResponseSystems":[{"id":"a9523280-71f1-578a-b19d-ec190fc0d101","type":{"value":"DIAL_PLAN","dialPlanId":"cd4881b6-8506-4853-ac5f-4720d3d74582","currentNode":{"id":"AttendantPromptNode_1002","type":"AttendantPromptNode","option":"5","result":"DIALED_OPTION"},"executionId":"770f5828-1978-4bc3-a3a2-cb4bf1b5d1d8","previousNode":{"id":"","connector":""}},"status":{"value":"CONNECTED"},"originator":"e85b4a95-ba2d-5844-9fcc-bfad75cbc4cc"}]},{"id":"533a0306-3e3b-5a75-affe-0f243bcabcb4","type":"ACTIVE","sequenceNumber":4,"timestamp":"2025-02-18T15:13:41.534Z","participants":[{"id":"e85b4a95-ba2d-5844-9fcc-bfad75cbc4cc","legId":"f0029216-ad5e-42ba-82ab-cd63d1068c79","originator":"e85b4a95-ba2d-5844-9fcc-bfad75cbc4cc","type":{"name":"CearaGPS","value":"PHONE_NUMBER","caller":{"name":"","number":"+5585991996437"},"number":"+558534846006","phoneNumberId":"c30dc08d-d7cc-4cad-a967-8db6552e558f"},"recordings":[{"id":"9f12f677-a944-4139-bfbb-7d9df8a98001","startTimestamp":"2025-02-18T15:13:01.237Z"}],"status":{"value":"IN_INTERACTIVE_VOICE_RESPONSE"}}],"interactiveVoiceResponseSystems":[{"id":"a9523280-71f1-578a-b19d-ec190fc0d101","type":{"value":"DIAL_PLAN","dialPlanId":"cd4881b6-8506-4853-ac5f-4720d3d74582","currentNode":{"id":"ModifyCallerIdNode_1077","type":"ModifyCallerIdNode"},"executionId":"770f5828-1978-4bc3-a3a2-cb4bf1b5d1d8","previousNode":{"id":"AttendantPromptNode_1002","connector":"option_5"}},"status":{"value":"CONNECTED"},"originator":"e85b4a95-ba2d-5844-9fcc-bfad75cbc4cc"}]},{"id":"45ffa984-f956-58d1-b53a-73c6381e453c","type":"ACTIVE","sequenceNumber":5,"timestamp":"2025-02-18T15:13:41.535Z","participants":[{"id":"e85b4a95-ba2d-5844-9fcc-bfad75cbc4cc","legId":"f0029216-ad5e-42ba-82ab-cd63d1068c79","originator":"e85b4a95-ba2d-5844-9fcc-bfad75cbc4cc","type":{"name":"CearaGPS","value":"PHONE_NUMBER","caller":{"name":"","number":"+5585991996437"},"number":"+558534846006","phoneNumberId":"c30dc08d-d7cc-4cad-a967-8db6552e558f"},"recordings":[{"id":"9f12f677-a944-4139-bfbb-7d9df8a98001","startTimestamp":"2025-02-18T15:13:01.237Z"}],"status":{"value":"IN_INTERACTIVE_VOICE_RESPONSE"}}],"interactiveVoiceResponseSystems":[{"id":"a9523280-71f1-578a-b19d-ec190fc0d101","type":{"value":"DIAL_PLAN","dialPlanId":"cd4881b6-8506-4853-ac5f-4720d3d74582","currentNode":{"id":"ModifyCallerIdNode_1077","type":"ModifyCallerIdNode","result":"CONTINUE"},"executionId":"770f5828-1978-4bc3-a3a2-cb4bf1b5d1d8","previousNode":{"id":"AttendantPromptNode_1002","connector":"option_5"}},"status":{"value":"CONNECTED"},"originator":"e85b4a95-ba2d-5844-9fcc-bfad75cbc4cc"}]},{"id":"812cbefe-c46e-5030-bc2f-895adb623388","type":"ACTIVE","sequenceNumber":6,"timestamp":"2025-02-18T15:13:41.635Z","participants":[{"id":"e85b4a95-ba2d-5844-9fcc-bfad75cbc4cc","legId":"f0029216-ad5e-42ba-82ab-cd63d1068c79","originator":"e85b4a95-ba2d-5844-9fcc-bfad75cbc4cc","type":{"name":"CearaGPS","value":"PHONE_NUMBER","caller":{"name":"","number":"+5585991996437"},"number":"+558534846006","phoneNumberId":"c30dc08d-d7cc-4cad-a967-8db6552e558f"},"recordings":[{"id":"9f12f677-a944-4139-bfbb-7d9df8a98001","startTimestamp":"2025-02-18T15:13:01.237Z"}],"status":{"value":"IN_INTERACTIVE_VOICE_RESPONSE"}}],"interactiveVoiceResponseSystems":[{"id":"a9523280-71f1-578a-b19d-ec190fc0d101","type":{"value":"DIAL_PLAN","dialPlanId":"cd4881b6-8506-4853-ac5f-4720d3d74582","currentNode":{"id":"CallQueueNode_1078","type":"CallQueueNode"},"executionId":"770f5828-1978-4bc3-a3a2-cb4bf1b5d1d8","previousNode":{"id":"ModifyCallerIdNode_1077","connector":"nextNode"}},"status":{"value":"CONNECTED"},"originator":"e85b4a95-ba2d-5844-9fcc-bfad75cbc4cc"}]},{"id":"a5801c80-1083-51ef-984a-ac22828c1931","type":"ACTIVE","sequenceNumber":7,"timestamp":"2025-02-18T15:13:41.666Z","participants":[{"id":"e85b4a95-ba2d-5844-9fcc-bfad75cbc4cc","legId":"f0029216-ad5e-42ba-82ab-cd63d1068c79","originator":"e85b4a95-ba2d-5844-9fcc-bfad75cbc4cc","type":{"name":"CearaGPS","value":"PHONE_NUMBER","caller":{"name":"","number":"+5585991996437"},"number":"+558534846006","phoneNumberId":"c30dc08d-d7cc-4cad-a967-8db6552e558f"},"recordings":[{"id":"9f12f677-a944-4139-bfbb-7d9df8a98001","startTimestamp":"2025-02-18T15:13:01.237Z"}],"status":{"value":"IN_INTERACTIVE_VOICE_RESPONSE"}}],"interactiveVoiceResponseSystems":[{"id":"9cef3eb7-7844-5e1d-a7ff-d5401b1d6c57","type":{"value":"CALL_QUEUE","queueId":"185c6134-2c47-466f-9c0a-296b91b7571d","queueName":"CearaGPS-Central/Suporte","queueType":"ICR","configuredWrapUpDuration":0},"status":{"value":"CONNECTED"},"originator":"e85b4a95-ba2d-5844-9fcc-bfad75cbc4cc"},{"id":"a9523280-71f1-578a-b19d-ec190fc0d101","type":{"value":"DIAL_PLAN","dialPlanId":"cd4881b6-8506-4853-ac5f-4720d3d74582","currentNode":{"id":"CallQueueNode_1078","type":"CallQueueNode"},"executionId":"770f5828-1978-4bc3-a3a2-cb4bf1b5d1d8","previousNode":{"id":"ModifyCallerIdNode_1077","connector":"nextNode"}},"status":{"value":"CONNECTED"},"originator":"e85b4a95-ba2d-5844-9fcc-bfad75cbc4cc"}]},{"id":"b0b5e68b-ad4c-534a-bacd-73589ceb26b6","type":"ACTIVE","sequenceNumber":8,"timestamp":"2025-02-18T15:13:42.040Z","participants":[{"id":"8c9fd079-6d7b-5969-b781-f10e47b5baa8","legId":"71f2fab6-42bd-4737-a60f-2a8c58724247","originator":"e85b4a95-ba2d-5844-9fcc-bfad75cbc4cc","type":{"name":"Naiane Silva","value":"LINE","device":{"id":"635600a6-0d11-4357-a9c4-75139875aea2","model":"goto.clients"},"lineId":"bac33411-d5c9-4e5d-9461-4a7cc329f785","deviceId":"635600a6-0d11-4357-a9c4-75139875aea2","extensionNumber":"6102"},"status":{"value":"RINGING"}},{"id":"e85b4a95-ba2d-5844-9fcc-bfad75cbc4cc","legId":"f0029216-ad5e-42ba-82ab-cd63d1068c79","originator":"e85b4a95-ba2d-5844-9fcc-bfad75cbc4cc","type":{"name":"CearaGPS","value":"PHONE_NUMBER","caller":{"name":"","number":"+5585991996437"},"number":"+558534846006","phoneNumberId":"c30dc08d-d7cc-4cad-a967-8db6552e558f"},"recordings":[{"id":"9f12f677-a944-4139-bfbb-7d9df8a98001","startTimestamp":"2025-02-18T15:13:01.237Z"}],"status":{"value":"IN_INTERACTIVE_VOICE_RESPONSE"}}],"interactiveVoiceResponseSystems":[{"id":"9cef3eb7-7844-5e1d-a7ff-d5401b1d6c57","type":{"value":"CALL_QUEUE","queueId":"185c6134-2c47-466f-9c0a-296b91b7571d","queueName":"CearaGPS-Central/Suporte","queueType":"ICR","configuredWrapUpDuration":0},"status":{"value":"CONNECTED"},"originator":"e85b4a95-ba2d-5844-9fcc-bfad75cbc4cc"},{"id":"a9523280-71f1-578a-b19d-ec190fc0d101","type":{"value":"DIAL_PLAN","dialPlanId":"cd4881b6-8506-4853-ac5f-4720d3d74582","currentNode":{"id":"CallQueueNode_1078","type":"CallQueueNode"},"executionId":"770f5828-1978-4bc3-a3a2-cb4bf1b5d1d8","previousNode":{"id":"ModifyCallerIdNode_1077","connector":"nextNode"}},"status":{"value":"CONNECTED"},"originator":"e85b4a95-ba2d-5844-9fcc-bfad75cbc4cc"}]},{"id":"aa5e7200-9042-553a-a7eb-3bc9482545a9","type":"ACTIVE","sequenceNumber":9,"timestamp":"2025-02-18T15:13:42.040Z","participants":[{"id":"8c9fd079-6d7b-5969-b781-f10e47b5baa8","legId":"71f2fab6-42bd-4737-a60f-2a8c58724247","originator":"e85b4a95-ba2d-5844-9fcc-bfad75cbc4cc","type":{"name":"Naiane Silva","value":"LINE","device":{"id":"635600a6-0d11-4357-a9c4-75139875aea2","model":"goto.clients"},"lineId":"bac33411-d5c9-4e5d-9461-4a7cc329f785","deviceId":"635600a6-0d11-4357-a9c4-75139875aea2","extensionNumber":"6102"},"status":{"value":"DISCONNECTING"}},{"id":"e85b4a95-ba2d-5844-9fcc-bfad75cbc4cc","legId":"f0029216-ad5e-42ba-82ab-cd63d1068c79","originator":"e85b4a95-ba2d-5844-9fcc-bfad75cbc4cc","type":{"name":"CearaGPS","value":"PHONE_NUMBER","caller":{"name":"","number":"+5585991996437"},"number":"+558534846006","phoneNumberId":"c30dc08d-d7cc-4cad-a967-8db6552e558f"},"recordings":[{"id":"9f12f677-a944-4139-bfbb-7d9df8a98001","startTimestamp":"2025-02-18T15:13:01.237Z"}],"status":{"value":"IN_INTERACTIVE_VOICE_RESPONSE"}}],"interactiveVoiceResponseSystems":[{"id":"9cef3eb7-7844-5e1d-a7ff-d5401b1d6c57","type":{"value":"CALL_QUEUE","queueId":"185c6134-2c47-466f-9c0a-296b91b7571d","queueName":"CearaGPS-Central/Suporte","queueType":"ICR","configuredWrapUpDuration":0},"status":{"value":"CONNECTED"},"originator":"e85b4a95-ba2d-5844-9fcc-bfad75cbc4cc"},{"id":"a9523280-71f1-578a-b19d-ec190fc0d101","type":{"value":"DIAL_PLAN","dialPlanId":"cd4881b6-8506-4853-ac5f-4720d3d74582","currentNode":{"id":"CallQueueNode_1078","type":"CallQueueNode"},"executionId":"770f5828-1978-4bc3-a3a2-cb4bf1b5d1d8","previousNode":{"id":"ModifyCallerIdNode_1077","connector":"nextNode"}},"status":{"value":"CONNECTED"},"originator":"e85b4a95-ba2d-5844-9fcc-bfad75cbc4cc"}]},{"id":"b2ac748a-5c19-5e74-a0b3-95cb9d9f119e","type":"ACTIVE","sequenceNumber":10,"timestamp":"2025-02-18T15:13:42.041Z","participants":[{"id":"e10a4b40-b4d2-5730-8304-07dd47cfd7e6","legId":"dc95dcbe-f57b-4dbf-b457-0b97440c6f48","originator":"e85b4a95-ba2d-5844-9fcc-bfad75cbc4cc","type":{"name":"Edson Richard","value":"LINE","device":{"id":"6f50913b-e575-4521-a548-21470cbc2a84","model":"goto.clients"},"lineId":"d2f8be4c-8904-4b91-abed-096bbabc5be5","deviceId":"6f50913b-e575-4521-a548-21470cbc2a84","extensionNumber":"6109"},"status":{"value":"RINGING"}},{"id":"e85b4a95-ba2d-5844-9fcc-bfad75cbc4cc","legId":"f0029216-ad5e-42ba-82ab-cd63d1068c79","originator":"e85b4a95-ba2d-5844-9fcc-bfad75cbc4cc","type":{"name":"CearaGPS","value":"PHONE_NUMBER","caller":{"name":"","number":"+5585991996437"},"number":"+558534846006","phoneNumberId":"c30dc08d-d7cc-4cad-a967-8db6552e558f"},"recordings":[{"id":"9f12f677-a944-4139-bfbb-7d9df8a98001","startTimestamp":"2025-02-18T15:13:01.237Z"}],"status":{"value":"IN_INTERACTIVE_VOICE_RESPONSE"}}],"interactiveVoiceResponseSystems":[{"id":"9cef3eb7-7844-5e1d-a7ff-d5401b1d6c57","type":{"value":"CALL_QUEUE","queueId":"185c6134-2c47-466f-9c0a-296b91b7571d","queueName":"CearaGPS-Central/Suporte","queueType":"ICR","configuredWrapUpDuration":0},"status":{"value":"CONNECTED"},"originator":"e85b4a95-ba2d-5844-9fcc-bfad75cbc4cc"},{"id":"a9523280-71f1-578a-b19d-ec190fc0d101","type":{"value":"DIAL_PLAN","dialPlanId":"cd4881b6-8506-4853-ac5f-4720d3d74582","currentNode":{"id":"CallQueueNode_1078","type":"CallQueueNode"},"executionId":"770f5828-1978-4bc3-a3a2-cb4bf1b5d1d8","previousNode":{"id":"ModifyCallerIdNode_1077","connector":"nextNode"}},"status":{"value":"CONNECTED"},"originator":"e85b4a95-ba2d-5844-9fcc-bfad75cbc4cc"}]},{"id":"ac2a29dc-03e4-5a59-beb3-0d6f9a97e6d9","type":"ACTIVE","sequenceNumber":11,"timestamp":"2025-02-18T15:13:42.041Z","participants":[{"id":"e10a4b40-b4d2-5730-8304-07dd47cfd7e6","legId":"dc95dcbe-f57b-4dbf-b457-0b97440c6f48","originator":"e85b4a95-ba2d-5844-9fcc-bfad75cbc4cc","type":{"name":"Edson Richard","value":"LINE","device":{"id":"6f50913b-e575-4521-a548-21470cbc2a84","model":"goto.clients"},"lineId":"d2f8be4c-8904-4b91-abed-096bbabc5be5","deviceId":"6f50913b-e575-4521-a548-21470cbc2a84","extensionNumber":"6109"},"status":{"value":"DISCONNECTING"}},{"id":"e85b4a95-ba2d-5844-9fcc-bfad75cbc4cc","legId":"f0029216-ad5e-42ba-82ab-cd63d1068c79","originator":"e85b4a95-ba2d-5844-9fcc-bfad75cbc4cc","type":{"name":"CearaGPS","value":"PHONE_NUMBER","caller":{"name":"","number":"+5585991996437"},"number":"+558534846006","phoneNumberId":"c30dc08d-d7cc-4cad-a967-8db6552e558f"},"recordings":[{"id":"9f12f677-a944-4139-bfbb-7d9df8a98001","startTimestamp":"2025-02-18T15:13:01.237Z"}],"status":{"value":"IN_INTERACTIVE_VOICE_RESPONSE"}}],"interactiveVoiceResponseSystems":[{"id":"9cef3eb7-7844-5e1d-a7ff-d5401b1d6c57","type":{"value":"CALL_QUEUE","queueId":"185c6134-2c47-466f-9c0a-296b91b7571d","queueName":"CearaGPS-Central/Suporte","queueType":"ICR","configuredWrapUpDuration":0},"status":{"value":"CONNECTED"},"originator":"e85b4a95-ba2d-5844-9fcc-bfad75cbc4cc"},{"id":"a9523280-71f1-578a-b19d-ec190fc0d101","type":{"value":"DIAL_PLAN","dialPlanId":"cd4881b6-8506-4853-ac5f-4720d3d74582","currentNode":{"id":"CallQueueNode_1078","type":"CallQueueNode"},"executionId":"770f5828-1978-4bc3-a3a2-cb4bf1b5d1d8","previousNode":{"id":"ModifyCallerIdNode_1077","connector":"nextNode"}},"status":{"value":"CONNECTED"},"originator":"e85b4a95-ba2d-5844-9fcc-bfad75cbc4cc"}]},{"id":"cfa0c3cd-d9ca-5481-b393-a2e3404add1a","type":"ACTIVE","sequenceNumber":12,"timestamp":"2025-02-18T15:13:42.042Z","participants":[{"id":"7468e4f9-6af1-5d44-8752-35748cf99ac0","legId":"9c43be89-0672-4401-bfad-00e9aad0badc","originator":"e85b4a95-ba2d-5844-9fcc-bfad75cbc4cc","type":{"name":"Maria Tabosa","value":"LINE","device":{"id":"9f9b7bfc-9659-4d12-a3c9-d35940814e1a","model":"goto.clients"},"lineId":"2930f16a-6000-4227-8e87-efa54aec2af0","deviceId":"9f9b7bfc-9659-4d12-a3c9-d35940814e1a","extensionNumber":"6105"},"status":{"value":"RINGING"}},{"id":"e85b4a95-ba2d-5844-9fcc-bfad75cbc4cc","legId":"f0029216-ad5e-42ba-82ab-cd63d1068c79","originator":"e85b4a95-ba2d-5844-9fcc-bfad75cbc4cc","type":{"name":"CearaGPS","value":"PHONE_NUMBER","caller":{"name":"","number":"+5585991996437"},"number":"+558534846006","phoneNumberId":"c30dc08d-d7cc-4cad-a967-8db6552e558f"},"recordings":[{"id":"9f12f677-a944-4139-bfbb-7d9df8a98001","startTimestamp":"2025-02-18T15:13:01.237Z"}],"status":{"value":"IN_INTERACTIVE_VOICE_RESPONSE"}}],"interactiveVoiceResponseSystems":[{"id":"9cef3eb7-7844-5e1d-a7ff-d5401b1d6c57","type":{"value":"CALL_QUEUE","queueId":"185c6134-2c47-466f-9c0a-296b91b7571d","queueName":"CearaGPS-Central/Suporte","queueType":"ICR","configuredWrapUpDuration":0},"status":{"value":"CONNECTED"},"originator":"e85b4a95-ba2d-5844-9fcc-bfad75cbc4cc"},{"id":"a9523280-71f1-578a-b19d-ec190fc0d101","type":{"value":"DIAL_PLAN","dialPlanId":"cd4881b6-8506-4853-ac5f-4720d3d74582","currentNode":{"id":"CallQueueNode_1078","type":"CallQueueNode"},"executionId":"770f5828-1978-4bc3-a3a2-cb4bf1b5d1d8","previousNode":{"id":"ModifyCallerIdNode_1077","connector":"nextNode"}},"status":{"value":"CONNECTED"},"originator":"e85b4a95-ba2d-5844-9fcc-bfad75cbc4cc"}]},{"id":"b54bbb4d-cde0-5885-8c6f-35bdf86f5572","type":"ACTIVE","sequenceNumber":13,"timestamp":"2025-02-18T15:13:42.043Z","participants":[{"id":"68591b02-bd59-547f-beda-2756fc73519a","legId":"d441184b-d7c9-40b9-a296-94d0ea2c5104","originator":"e85b4a95-ba2d-5844-9fcc-bfad75cbc4cc","type":{"name":"Ezequiel Bastos Gomes","value":"LINE","device":{"id":"4466a079-92c0-4762-9f63-3beb1e89bb74","model":"goto.clients"},"lineId":"93a6aebd-c92b-4006-909f-becf7a8d4904","deviceId":"4466a079-92c0-4762-9f63-3beb1e89bb74","extensionNumber":"6132"},"status":{"value":"RINGING"}},{"id":"7468e4f9-6af1-5d44-8752-35748cf99ac0","legId":"9c43be89-0672-4401-bfad-00e9aad0badc","originator":"e85b4a95-ba2d-5844-9fcc-bfad75cbc4cc","type":{"name":"Maria Tabosa","value":"LINE","device":{"id":"9f9b7bfc-9659-4d12-a3c9-d35940814e1a","model":"goto.clients"},"lineId":"2930f16a-6000-4227-8e87-efa54aec2af0","deviceId":"9f9b7bfc-9659-4d12-a3c9-d35940814e1a","extensionNumber":"6105"},"status":{"value":"RINGING"}},{"id":"e85b4a95-ba2d-5844-9fcc-bfad75cbc4cc","legId":"f0029216-ad5e-42ba-82ab-cd63d1068c79","originator":"e85b4a95-ba2d-5844-9fcc-bfad75cbc4cc","type":{"name":"CearaGPS","value":"PHONE_NUMBER","caller":{"name":"","number":"+5585991996437"},"number":"+558534846006","phoneNumberId":"c30dc08d-d7cc-4cad-a967-8db6552e558f"},"recordings":[{"id":"9f12f677-a944-4139-bfbb-7d9df8a98001","startTimestamp":"2025-02-18T15:13:01.237Z"}],"status":{"value":"IN_INTERACTIVE_VOICE_RESPONSE"}}],"interactiveVoiceResponseSystems":[{"id":"9cef3eb7-7844-5e1d-a7ff-d5401b1d6c57","type":{"value":"CALL_QUEUE","queueId":"185c6134-2c47-466f-9c0a-296b91b7571d","queueName":"CearaGPS-Central/Suporte","queueType":"ICR","configuredWrapUpDuration":0},"status":{"value":"CONNECTED"},"originator":"e85b4a95-ba2d-5844-9fcc-bfad75cbc4cc"},{"id":"a9523280-71f1-578a-b19d-ec190fc0d101","type":{"value":"DIAL_PLAN","dialPlanId":"cd4881b6-8506-4853-ac5f-4720d3d74582","currentNode":{"id":"CallQueueNode_1078","type":"CallQueueNode"},"executionId":"770f5828-1978-4bc3-a3a2-cb4bf1b5d1d8","previousNode":{"id":"ModifyCallerIdNode_1077","connector":"nextNode"}},"status":{"value":"CONNECTED"},"originator":"e85b4a95-ba2d-5844-9fcc-bfad75cbc4cc"}]},{"id":"9c54269a-ad5f-50d5-80f3-141b60dd1585","type":"ACTIVE","sequenceNumber":14,"timestamp":"2025-02-18T15:13:42.044Z","participants":[{"id":"68591b02-bd59-547f-beda-2756fc73519a","legId":"d441184b-d7c9-40b9-a296-94d0ea2c5104","originator":"e85b4a95-ba2d-5844-9fcc-bfad75cbc4cc","type":{"name":"Ezequiel Bastos Gomes","value":"LINE","device":{"id":"4466a079-92c0-4762-9f63-3beb1e89bb74","model":"goto.clients"},"lineId":"93a6aebd-c92b-4006-909f-becf7a8d4904","deviceId":"4466a079-92c0-4762-9f63-3beb1e89bb74","extensionNumber":"6132"},"status":{"value":"RINGING"}},{"id":"7468e4f9-6af1-5d44-8752-35748cf99ac0","legId":"9c43be89-0672-4401-bfad-00e9aad0badc","originator":"e85b4a95-ba2d-5844-9fcc-bfad75cbc4cc","type":{"name":"Maria Tabosa","value":"LINE","device":{"id":"9f9b7bfc-9659-4d12-a3c9-d35940814e1a","model":"goto.clients"},"lineId":"2930f16a-6000-4227-8e87-efa54aec2af0","deviceId":"9f9b7bfc-9659-4d12-a3c9-d35940814e1a","extensionNumber":"6105"},"status":{"value":"RINGING"}},{"id":"ccc711af-628e-58ee-8fe4-62263d7cf9ef","legId":"115127f1-4ae4-4914-bf4b-149b783871d4","originator":"e85b4a95-ba2d-5844-9fcc-bfad75cbc4cc","type":{"name":"Bruno Lima","value":"LINE","device":{"id":"05176e67-b02b-4e1c-b695-320d42361138","model":"goto.clients"},"lineId":"8ebb51c1-2c74-4890-b90c-d5f4f42941ad","deviceId":"05176e67-b02b-4e1c-b695-320d42361138","extensionNumber":"6101"},"status":{"value":"RINGING"}},{"id":"e85b4a95-ba2d-5844-9fcc-bfad75cbc4cc","legId":"f0029216-ad5e-42ba-82ab-cd63d1068c79","originator":"e85b4a95-ba2d-5844-9fcc-bfad75cbc4cc","type":{"name":"CearaGPS","value":"PHONE_NUMBER","caller":{"name":"","number":"+5585991996437"},"number":"+558534846006","phoneNumberId":"c30dc08d-d7cc-4cad-a967-8db6552e558f"},"recordings":[{"id":"9f12f677-a944-4139-bfbb-7d9df8a98001","startTimestamp":"2025-02-18T15:13:01.237Z"}],"status":{"value":"IN_INTERACTIVE_VOICE_RESPONSE"}}],"interactiveVoiceResponseSystems":[{"id":"9cef3eb7-7844-5e1d-a7ff-d5401b1d6c57","type":{"value":"CALL_QUEUE","queueId":"185c6134-2c47-466f-9c0a-296b91b7571d","queueName":"CearaGPS-Central/Suporte","queueType":"ICR","configuredWrapUpDuration":0},"status":{"value":"CONNECTED"},"originator":"e85b4a95-ba2d-5844-9fcc-bfad75cbc4cc"},{"id":"a9523280-71f1-578a-b19d-ec190fc0d101","type":{"value":"DIAL_PLAN","dialPlanId":"cd4881b6-8506-4853-ac5f-4720d3d74582","currentNode":{"id":"CallQueueNode_1078","type":"CallQueueNode"},"executionId":"770f5828-1978-4bc3-a3a2-cb4bf1b5d1d8","previousNode":{"id":"ModifyCallerIdNode_1077","connector":"nextNode"}},"status":{"value":"CONNECTED"},"originator":"e85b4a95-ba2d-5844-9fcc-bfad75cbc4cc"}]},{"id":"349f12fe-6b00-5aa3-a924-85b995978897","type":"ACTIVE","sequenceNumber":15,"timestamp":"2025-02-18T15:13:48.334Z","participants":[{"id":"68591b02-bd59-547f-beda-2756fc73519a","legId":"d441184b-d7c9-40b9-a296-94d0ea2c5104","originator":"e85b4a95-ba2d-5844-9fcc-bfad75cbc4cc","type":{"name":"Ezequiel Bastos Gomes","value":"LINE","device":{"id":"4466a079-92c0-4762-9f63-3beb1e89bb74","model":"goto.clients"},"lineId":"93a6aebd-c92b-4006-909f-becf7a8d4904","deviceId":"4466a079-92c0-4762-9f63-3beb1e89bb74","extensionNumber":"6132"},"status":{"value":"RINGING"}},{"id":"7468e4f9-6af1-5d44-8752-35748cf99ac0","legId":"9c43be89-0672-4401-bfad-00e9aad0badc","originator":"e85b4a95-ba2d-5844-9fcc-bfad75cbc4cc","type":{"name":"Maria Tabosa","value":"LINE","device":{"id":"9f9b7bfc-9659-4d12-a3c9-d35940814e1a","model":"goto.clients"},"lineId":"2930f16a-6000-4227-8e87-efa54aec2af0","deviceId":"9f9b7bfc-9659-4d12-a3c9-d35940814e1a","extensionNumber":"6105"},"status":{"value":"RINGING"}},{"id":"ccc711af-628e-58ee-8fe4-62263d7cf9ef","legId":"115127f1-4ae4-4914-bf4b-149b783871d4","originator":"e85b4a95-ba2d-5844-9fcc-bfad75cbc4cc","type":{"name":"Bruno Lima","value":"LINE","device":{"id":"05176e67-b02b-4e1c-b695-320d42361138","model":"goto.clients"},"lineId":"8ebb51c1-2c74-4890-b90c-d5f4f42941ad","deviceId":"05176e67-b02b-4e1c-b695-320d42361138","extensionNumber":"6101"},"status":{"value":"DISCONNECTING"}},{"id":"e85b4a95-ba2d-5844-9fcc-bfad75cbc4cc","legId":"f0029216-ad5e-42ba-82ab-cd63d1068c79","originator":"e85b4a95-ba2d-5844-9fcc-bfad75cbc4cc","type":{"name":"CearaGPS","value":"PHONE_NUMBER","caller":{"name":"","number":"+5585991996437"},"number":"+558534846006","phoneNumberId":"c30dc08d-d7cc-4cad-a967-8db6552e558f"},"recordings":[{"id":"9f12f677-a944-4139-bfbb-7d9df8a98001","startTimestamp":"2025-02-18T15:13:01.237Z"}],"status":{"value":"IN_INTERACTIVE_VOICE_RESPONSE"}}],"interactiveVoiceResponseSystems":[{"id":"9cef3eb7-7844-5e1d-a7ff-d5401b1d6c57","type":{"value":"CALL_QUEUE","queueId":"185c6134-2c47-466f-9c0a-296b91b7571d","queueName":"CearaGPS-Central/Suporte","queueType":"ICR","configuredWrapUpDuration":0},"status":{"value":"CONNECTED"},"originator":"e85b4a95-ba2d-5844-9fcc-bfad75cbc4cc"},{"id":"a9523280-71f1-578a-b19d-ec190fc0d101","type":{"value":"DIAL_PLAN","dialPlanId":"cd4881b6-8506-4853-ac5f-4720d3d74582","currentNode":{"id":"CallQueueNode_1078","type":"CallQueueNode"},"executionId":"770f5828-1978-4bc3-a3a2-cb4bf1b5d1d8","previousNode":{"id":"ModifyCallerIdNode_1077","connector":"nextNode"}},"status":{"value":"CONNECTED"},"originator":"e85b4a95-ba2d-5844-9fcc-bfad75cbc4cc"}]},{"id":"d3477deb-345b-5d2f-a00a-482ef33c844b","type":"ACTIVE","sequenceNumber":16,"timestamp":"2025-02-18T15:14:01.213Z","participants":[{"id":"68591b02-bd59-547f-beda-2756fc73519a","legId":"d441184b-d7c9-40b9-a296-94d0ea2c5104","originator":"e85b4a95-ba2d-5844-9fcc-bfad75cbc4cc","type":{"name":"Ezequiel Bastos Gomes","value":"LINE","device":{"id":"4466a079-92c0-4762-9f63-3beb1e89bb74","model":"goto.clients"},"lineId":"93a6aebd-c92b-4006-909f-becf7a8d4904","deviceId":"4466a079-92c0-4762-9f63-3beb1e89bb74","extensionNumber":"6132"},"status":{"value":"DISCONNECTING"}},{"id":"7468e4f9-6af1-5d44-8752-35748cf99ac0","legId":"9c43be89-0672-4401-bfad-00e9aad0badc","originator":"e85b4a95-ba2d-5844-9fcc-bfad75cbc4cc","type":{"name":"Maria Tabosa","value":"LINE","device":{"id":"9f9b7bfc-9659-4d12-a3c9-d35940814e1a","model":"goto.clients"},"lineId":"2930f16a-6000-4227-8e87-efa54aec2af0","deviceId":"9f9b7bfc-9659-4d12-a3c9-d35940814e1a","extensionNumber":"6105"},"status":{"value":"RINGING"}},{"id":"e85b4a95-ba2d-5844-9fcc-bfad75cbc4cc","legId":"f0029216-ad5e-42ba-82ab-cd63d1068c79","originator":"e85b4a95-ba2d-5844-9fcc-bfad75cbc4cc","type":{"name":"CearaGPS","value":"PHONE_NUMBER","caller":{"name":"","number":"+5585991996437"},"number":"+558534846006","phoneNumberId":"c30dc08d-d7cc-4cad-a967-8db6552e558f"},"recordings":[{"id":"9f12f677-a944-4139-bfbb-7d9df8a98001","startTimestamp":"2025-02-18T15:13:01.237Z"}],"status":{"value":"IN_INTERACTIVE_VOICE_RESPONSE"}}],"interactiveVoiceResponseSystems":[{"id":"9cef3eb7-7844-5e1d-a7ff-d5401b1d6c57","type":{"value":"CALL_QUEUE","queueId":"185c6134-2c47-466f-9c0a-296b91b7571d","queueName":"CearaGPS-Central/Suporte","queueType":"ICR","configuredWrapUpDuration":0},"status":{"value":"CONNECTED"},"originator":"e85b4a95-ba2d-5844-9fcc-bfad75cbc4cc"},{"id":"a9523280-71f1-578a-b19d-ec190fc0d101","type":{"value":"DIAL_PLAN","dialPlanId":"cd4881b6-8506-4853-ac5f-4720d3d74582","currentNode":{"id":"CallQueueNode_1078","type":"CallQueueNode"},"executionId":"770f5828-1978-4bc3-a3a2-cb4bf1b5d1d8","previousNode":{"id":"ModifyCallerIdNode_1077","connector":"nextNode"}},"status":{"value":"CONNECTED"},"originator":"e85b4a95-ba2d-5844-9fcc-bfad75cbc4cc"}]},{"id":"f34540cc-cfb9-5857-80c8-ab9c816e0f7a","type":"ACTIVE","sequenceNumber":17,"timestamp":"2025-02-18T15:14:02.045Z","participants":[{"id":"7468e4f9-6af1-5d44-8752-35748cf99ac0","legId":"9c43be89-0672-4401-bfad-00e9aad0badc","originator":"e85b4a95-ba2d-5844-9fcc-bfad75cbc4cc","type":{"name":"Maria Tabosa","value":"LINE","device":{"id":"9f9b7bfc-9659-4d12-a3c9-d35940814e1a","model":"goto.clients"},"lineId":"2930f16a-6000-4227-8e87-efa54aec2af0","deviceId":"9f9b7bfc-9659-4d12-a3c9-d35940814e1a","extensionNumber":"6105"},"status":{"value":"DISCONNECTING"}},{"id":"e85b4a95-ba2d-5844-9fcc-bfad75cbc4cc","legId":"f0029216-ad5e-42ba-82ab-cd63d1068c79","originator":"e85b4a95-ba2d-5844-9fcc-bfad75cbc4cc","type":{"name":"CearaGPS","value":"PHONE_NUMBER","caller":{"name":"","number":"+5585991996437"},"number":"+558534846006","phoneNumberId":"c30dc08d-d7cc-4cad-a967-8db6552e558f"},"recordings":[{"id":"9f12f677-a944-4139-bfbb-7d9df8a98001","startTimestamp":"2025-02-18T15:13:01.237Z"}],"status":{"value":"IN_INTERACTIVE_VOICE_RESPONSE"}}],"interactiveVoiceResponseSystems":[{"id":"9cef3eb7-7844-5e1d-a7ff-d5401b1d6c57","type":{"value":"CALL_QUEUE","queueId":"185c6134-2c47-466f-9c0a-296b91b7571d","queueName":"CearaGPS-Central/Suporte","queueType":"ICR","configuredWrapUpDuration":0},"status":{"value":"CONNECTED"},"originator":"e85b4a95-ba2d-5844-9fcc-bfad75cbc4cc"},{"id":"a9523280-71f1-578a-b19d-ec190fc0d101","type":{"value":"DIAL_PLAN","dialPlanId":"cd4881b6-8506-4853-ac5f-4720d3d74582","currentNode":{"id":"CallQueueNode_1078","type":"CallQueueNode"},"executionId":"770f5828-1978-4bc3-a3a2-cb4bf1b5d1d8","previousNode":{"id":"ModifyCallerIdNode_1077","connector":"nextNode"}},"status":{"value":"CONNECTED"},"originator":"e85b4a95-ba2d-5844-9fcc-bfad75cbc4cc"}]},{"id":"75bda0c0-25af-59f4-ac7a-54f222f10ba5","type":"ACTIVE","sequenceNumber":18,"timestamp":"2025-02-18T15:14:02.260Z","participants":[{"id":"e85b4a95-ba2d-5844-9fcc-bfad75cbc4cc","legId":"f0029216-ad5e-42ba-82ab-cd63d1068c79","originator":"e85b4a95-ba2d-5844-9fcc-bfad75cbc4cc","type":{"name":"CearaGPS","value":"PHONE_NUMBER","caller":{"name":"","number":"+5585991996437"},"number":"+558534846006","phoneNumberId":"c30dc08d-d7cc-4cad-a967-8db6552e558f"},"recordings":[{"id":"9f12f677-a944-4139-bfbb-7d9df8a98001","startTimestamp":"2025-02-18T15:13:01.237Z"}],"status":{"value":"IN_INTERACTIVE_VOICE_RESPONSE"}},{"id":"ed07b01e-4439-5879-a1fd-bd582343eca0","legId":"d1bee713-97bc-41bb-a85a-587b425ccf1d","originator":"e85b4a95-ba2d-5844-9fcc-bfad75cbc4cc","type":{"name":"Naiane Silva","value":"LINE","device":{"id":"635600a6-0d11-4357-a9c4-75139875aea2","model":"goto.clients"},"lineId":"bac33411-d5c9-4e5d-9461-4a7cc329f785","deviceId":"635600a6-0d11-4357-a9c4-75139875aea2","extensionNumber":"6102"},"status":{"value":"RINGING"}}],"interactiveVoiceResponseSystems":[{"id":"9cef3eb7-7844-5e1d-a7ff-d5401b1d6c57","type":{"value":"CALL_QUEUE","queueId":"185c6134-2c47-466f-9c0a-296b91b7571d","queueName":"CearaGPS-Central/Suporte","queueType":"ICR","configuredWrapUpDuration":0},"status":{"value":"CONNECTED"},"originator":"e85b4a95-ba2d-5844-9fcc-bfad75cbc4cc"},{"id":"a9523280-71f1-578a-b19d-ec190fc0d101","type":{"value":"DIAL_PLAN","dialPlanId":"cd4881b6-8506-4853-ac5f-4720d3d74582","currentNode":{"id":"CallQueueNode_1078","type":"CallQueueNode"},"executionId":"770f5828-1978-4bc3-a3a2-cb4bf1b5d1d8","previousNode":{"id":"ModifyCallerIdNode_1077","connector":"nextNode"}},"status":{"value":"CONNECTED"},"originator":"e85b4a95-ba2d-5844-9fcc-bfad75cbc4cc"}]},{"id":"fdd089de-e29b-511b-9a32-ee3686f09f13","type":"ACTIVE","sequenceNumber":19,"timestamp":"2025-02-18T15:14:02.262Z","participants":[{"id":"dedd7376-01ab-51b1-b2e3-800e4847a68a","legId":"a927695d-46f8-486b-982f-198166e8cb4d","originator":"e85b4a95-ba2d-5844-9fcc-bfad75cbc4cc","type":{"name":"Edson Richard","value":"LINE","device":{"id":"6f50913b-e575-4521-a548-21470cbc2a84","model":"goto.clients"},"lineId":"d2f8be4c-8904-4b91-abed-096bbabc5be5","deviceId":"6f50913b-e575-4521-a548-21470cbc2a84","extensionNumber":"6109"},"status":{"value":"RINGING"}},{"id":"e85b4a95-ba2d-5844-9fcc-bfad75cbc4cc","legId":"f0029216-ad5e-42ba-82ab-cd63d1068c79","originator":"e85b4a95-ba2d-5844-9fcc-bfad75cbc4cc","type":{"name":"CearaGPS","value":"PHONE_NUMBER","caller":{"name":"","number":"+5585991996437"},"number":"+558534846006","phoneNumberId":"c30dc08d-d7cc-4cad-a967-8db6552e558f"},"recordings":[{"id":"9f12f677-a944-4139-bfbb-7d9df8a98001","startTimestamp":"2025-02-18T15:13:01.237Z"}],"status":{"value":"IN_INTERACTIVE_VOICE_RESPONSE"}},{"id":"ed07b01e-4439-5879-a1fd-bd582343eca0","legId":"d1bee713-97bc-41bb-a85a-587b425ccf1d","originator":"e85b4a95-ba2d-5844-9fcc-bfad75cbc4cc","type":{"name":"Naiane Silva","value":"LINE","device":{"id":"635600a6-0d11-4357-a9c4-75139875aea2","model":"goto.clients"},"lineId":"bac33411-d5c9-4e5d-9461-4a7cc329f785","deviceId":"635600a6-0d11-4357-a9c4-75139875aea2","extensionNumber":"6102"},"status":{"value":"RINGING"}}],"interactiveVoiceResponseSystems":[{"id":"9cef3eb7-7844-5e1d-a7ff-d5401b1d6c57","type":{"value":"CALL_QUEUE","queueId":"185c6134-2c47-466f-9c0a-296b91b7571d","queueName":"CearaGPS-Central/Suporte","queueType":"ICR","configuredWrapUpDuration":0},"status":{"value":"CONNECTED"},"originator":"e85b4a95-ba2d-5844-9fcc-bfad75cbc4cc"},{"id":"a9523280-71f1-578a-b19d-ec190fc0d101","type":{"value":"DIAL_PLAN","dialPlanId":"cd4881b6-8506-4853-ac5f-4720d3d74582","currentNode":{"id":"CallQueueNode_1078","type":"CallQueueNode"},"executionId":"770f5828-1978-4bc3-a3a2-cb4bf1b5d1d8","previousNode":{"id":"ModifyCallerIdNode_1077","connector":"nextNode"}},"status":{"value":"CONNECTED"},"originator":"e85b4a95-ba2d-5844-9fcc-bfad75cbc4cc"}]},{"id":"deceb454-71a9-56b5-9f45-55221da213bf","type":"ACTIVE","sequenceNumber":20,"timestamp":"2025-02-18T15:14:02.262Z","participants":[{"id":"dedd7376-01ab-51b1-b2e3-800e4847a68a","legId":"a927695d-46f8-486b-982f-198166e8cb4d","originator":"e85b4a95-ba2d-5844-9fcc-bfad75cbc4cc","type":{"name":"Edson Richard","value":"LINE","device":{"id":"6f50913b-e575-4521-a548-21470cbc2a84","model":"goto.clients"},"lineId":"d2f8be4c-8904-4b91-abed-096bbabc5be5","deviceId":"6f50913b-e575-4521-a548-21470cbc2a84","extensionNumber":"6109"},"status":{"value":"DISCONNECTING"}},{"id":"e85b4a95-ba2d-5844-9fcc-bfad75cbc4cc","legId":"f0029216-ad5e-42ba-82ab-cd63d1068c79","originator":"e85b4a95-ba2d-5844-9fcc-bfad75cbc4cc","type":{"name":"CearaGPS","value":"PHONE_NUMBER","caller":{"name":"","number":"+5585991996437"},"number":"+558534846006","phoneNumberId":"c30dc08d-d7cc-4cad-a967-8db6552e558f"},"recordings":[{"id":"9f12f677-a944-4139-bfbb-7d9df8a98001","startTimestamp":"2025-02-18T15:13:01.237Z"}],"status":{"value":"IN_INTERACTIVE_VOICE_RESPONSE"}},{"id":"ed07b01e-4439-5879-a1fd-bd582343eca0","legId":"d1bee713-97bc-41bb-a85a-587b425ccf1d","originator":"e85b4a95-ba2d-5844-9fcc-bfad75cbc4cc","type":{"name":"Naiane Silva","value":"LINE","device":{"id":"635600a6-0d11-4357-a9c4-75139875aea2","model":"goto.clients"},"lineId":"bac33411-d5c9-4e5d-9461-4a7cc329f785","deviceId":"635600a6-0d11-4357-a9c4-75139875aea2","extensionNumber":"6102"},"status":{"value":"RINGING"}}],"interactiveVoiceResponseSystems":[{"id":"9cef3eb7-7844-5e1d-a7ff-d5401b1d6c57","type":{"value":"CALL_QUEUE","queueId":"185c6134-2c47-466f-9c0a-296b91b7571d","queueName":"CearaGPS-Central/Suporte","queueType":"ICR","configuredWrapUpDuration":0},"status":{"value":"CONNECTED"},"originator":"e85b4a95-ba2d-5844-9fcc-bfad75cbc4cc"},{"id":"a9523280-71f1-578a-b19d-ec190fc0d101","type":{"value":"DIAL_PLAN","dialPlanId":"cd4881b6-8506-4853-ac5f-4720d3d74582","currentNode":{"id":"CallQueueNode_1078","type":"CallQueueNode"},"executionId":"770f5828-1978-4bc3-a3a2-cb4bf1b5d1d8","previousNode":{"id":"ModifyCallerIdNode_1077","connector":"nextNode"}},"status":{"value":"CONNECTED"},"originator":"e85b4a95-ba2d-5844-9fcc-bfad75cbc4cc"}]},{"id":"5d4db323-0ca9-5a29-ad33-eca2287b1bbf","type":"ACTIVE","sequenceNumber":21,"timestamp":"2025-02-18T15:14:02.263Z","participants":[{"id":"06f689e2-61cc-5987-a0fe-162287dd97a9","legId":"9233424d-c9a7-42a1-be60-289c0ccc3712","originator":"e85b4a95-ba2d-5844-9fcc-bfad75cbc4cc","type":{"name":"Maria Tabosa","value":"LINE","device":{"id":"9f9b7bfc-9659-4d12-a3c9-d35940814e1a","model":"goto.clients"},"lineId":"2930f16a-6000-4227-8e87-efa54aec2af0","deviceId":"9f9b7bfc-9659-4d12-a3c9-d35940814e1a","extensionNumber":"6105"},"status":{"value":"RINGING"}},{"id":"e85b4a95-ba2d-5844-9fcc-bfad75cbc4cc","legId":"f0029216-ad5e-42ba-82ab-cd63d1068c79","originator":"e85b4a95-ba2d-5844-9fcc-bfad75cbc4cc","type":{"name":"CearaGPS","value":"PHONE_NUMBER","caller":{"name":"","number":"+5585991996437"},"number":"+558534846006","phoneNumberId":"c30dc08d-d7cc-4cad-a967-8db6552e558f"},"recordings":[{"id":"9f12f677-a944-4139-bfbb-7d9df8a98001","startTimestamp":"2025-02-18T15:13:01.237Z"}],"status":{"value":"IN_INTERACTIVE_VOICE_RESPONSE"}},{"id":"ed07b01e-4439-5879-a1fd-bd582343eca0","legId":"d1bee713-97bc-41bb-a85a-587b425ccf1d","originator":"e85b4a95-ba2d-5844-9fcc-bfad75cbc4cc","type":{"name":"Naiane Silva","value":"LINE","device":{"id":"635600a6-0d11-4357-a9c4-75139875aea2","model":"goto.clients"},"lineId":"bac33411-d5c9-4e5d-9461-4a7cc329f785","deviceId":"635600a6-0d11-4357-a9c4-75139875aea2","extensionNumber":"6102"},"status":{"value":"RINGING"}}],"interactiveVoiceResponseSystems":[{"id":"9cef3eb7-7844-5e1d-a7ff-d5401b1d6c57","type":{"value":"CALL_QUEUE","queueId":"185c6134-2c47-466f-9c0a-296b91b7571d","queueName":"CearaGPS-Central/Suporte","queueType":"ICR","configuredWrapUpDuration":0},"status":{"value":"CONNECTED"},"originator":"e85b4a95-ba2d-5844-9fcc-bfad75cbc4cc"},{"id":"a9523280-71f1-578a-b19d-ec190fc0d101","type":{"value":"DIAL_PLAN","dialPlanId":"cd4881b6-8506-4853-ac5f-4720d3d74582","currentNode":{"id":"CallQueueNode_1078","type":"CallQueueNode"},"executionId":"770f5828-1978-4bc3-a3a2-cb4bf1b5d1d8","previousNode":{"id":"ModifyCallerIdNode_1077","connector":"nextNode"}},"status":{"value":"CONNECTED"},"originator":"e85b4a95-ba2d-5844-9fcc-bfad75cbc4cc"}]},{"id":"db61ca4c-9815-59ab-bb73-ff53c47f0f34","type":"ACTIVE","sequenceNumber":22,"timestamp":"2025-02-18T15:14:02.264Z","participants":[{"id":"05029994-7e05-5a73-b68c-896adca77a90","legId":"8a247f55-570c-4478-a51f-5c994680223e","originator":"e85b4a95-ba2d-5844-9fcc-bfad75cbc4cc","type":{"name":"Ezequiel Bastos Gomes","value":"LINE","device":{"id":"4466a079-92c0-4762-9f63-3beb1e89bb74","model":"goto.clients"},"lineId":"93a6aebd-c92b-4006-909f-becf7a8d4904","deviceId":"4466a079-92c0-4762-9f63-3beb1e89bb74","extensionNumber":"6132"},"status":{"value":"RINGING"}},{"id":"06f689e2-61cc-5987-a0fe-162287dd97a9","legId":"9233424d-c9a7-42a1-be60-289c0ccc3712","originator":"e85b4a95-ba2d-5844-9fcc-bfad75cbc4cc","type":{"name":"Maria Tabosa","value":"LINE","device":{"id":"9f9b7bfc-9659-4d12-a3c9-d35940814e1a","model":"goto.clients"},"lineId":"2930f16a-6000-4227-8e87-efa54aec2af0","deviceId":"9f9b7bfc-9659-4d12-a3c9-d35940814e1a","extensionNumber":"6105"},"status":{"value":"RINGING"}},{"id":"e85b4a95-ba2d-5844-9fcc-bfad75cbc4cc","legId":"f0029216-ad5e-42ba-82ab-cd63d1068c79","originator":"e85b4a95-ba2d-5844-9fcc-bfad75cbc4cc","type":{"name":"CearaGPS","value":"PHONE_NUMBER","caller":{"name":"","number":"+5585991996437"},"number":"+558534846006","phoneNumberId":"c30dc08d-d7cc-4cad-a967-8db6552e558f"},"recordings":[{"id":"9f12f677-a944-4139-bfbb-7d9df8a98001","startTimestamp":"2025-02-18T15:13:01.237Z"}],"status":{"value":"IN_INTERACTIVE_VOICE_RESPONSE"}},{"id":"ed07b01e-4439-5879-a1fd-bd582343eca0","legId":"d1bee713-97bc-41bb-a85a-587b425ccf1d","originator":"e85b4a95-ba2d-5844-9fcc-bfad75cbc4cc","type":{"name":"Naiane Silva","value":"LINE","device":{"id":"635600a6-0d11-4357-a9c4-75139875aea2","model":"goto.clients"},"lineId":"bac33411-d5c9-4e5d-9461-4a7cc329f785","deviceId":"635600a6-0d11-4357-a9c4-75139875aea2","extensionNumber":"6102"},"status":{"value":"RINGING"}}],"interactiveVoiceResponseSystems":[{"id":"9cef3eb7-7844-5e1d-a7ff-d5401b1d6c57","type":{"value":"CALL_QUEUE","queueId":"185c6134-2c47-466f-9c0a-296b91b7571d","queueName":"CearaGPS-Central/Suporte","queueType":"ICR","configuredWrapUpDuration":0},"status":{"value":"CONNECTED"},"originator":"e85b4a95-ba2d-5844-9fcc-bfad75cbc4cc"},{"id":"a9523280-71f1-578a-b19d-ec190fc0d101","type":{"value":"DIAL_PLAN","dialPlanId":"cd4881b6-8506-4853-ac5f-4720d3d74582","currentNode":{"id":"CallQueueNode_1078","type":"CallQueueNode"},"executionId":"770f5828-1978-4bc3-a3a2-cb4bf1b5d1d8","previousNode":{"id":"ModifyCallerIdNode_1077","connector":"nextNode"}},"status":{"value":"CONNECTED"},"originator":"e85b4a95-ba2d-5844-9fcc-bfad75cbc4cc"}]},{"id":"9ee29de9-4f8c-50de-a705-fa13909d7b14","type":"ACTIVE","sequenceNumber":23,"timestamp":"2025-02-18T15:14:02.265Z","participants":[{"id":"05029994-7e05-5a73-b68c-896adca77a90","legId":"8a247f55-570c-4478-a51f-5c994680223e","originator":"e85b4a95-ba2d-5844-9fcc-bfad75cbc4cc","type":{"name":"Ezequiel Bastos Gomes","value":"LINE","device":{"id":"4466a079-92c0-4762-9f63-3beb1e89bb74","model":"goto.clients"},"lineId":"93a6aebd-c92b-4006-909f-becf7a8d4904","deviceId":"4466a079-92c0-4762-9f63-3beb1e89bb74","extensionNumber":"6132"},"status":{"value":"RINGING"}},{"id":"06f689e2-61cc-5987-a0fe-162287dd97a9","legId":"9233424d-c9a7-42a1-be60-289c0ccc3712","originator":"e85b4a95-ba2d-5844-9fcc-bfad75cbc4cc","type":{"name":"Maria Tabosa","value":"LINE","device":{"id":"9f9b7bfc-9659-4d12-a3c9-d35940814e1a","model":"goto.clients"},"lineId":"2930f16a-6000-4227-8e87-efa54aec2af0","deviceId":"9f9b7bfc-9659-4d12-a3c9-d35940814e1a","extensionNumber":"6105"},"status":{"value":"RINGING"}},{"id":"b83041fc-f175-5689-96b1-62aeeb644107","legId":"7bc0e164-5b80-40f8-ad5d-deabfd4c92c7","originator":"e85b4a95-ba2d-5844-9fcc-bfad75cbc4cc","type":{"name":"Bruno Lima","value":"LINE","device":{"id":"05176e67-b02b-4e1c-b695-320d42361138","model":"goto.clients"},"lineId":"8ebb51c1-2c74-4890-b90c-d5f4f42941ad","deviceId":"05176e67-b02b-4e1c-b695-320d42361138","extensionNumber":"6101"},"status":{"value":"RINGING"}},{"id":"e85b4a95-ba2d-5844-9fcc-bfad75cbc4cc","legId":"f0029216-ad5e-42ba-82ab-cd63d1068c79","originator":"e85b4a95-ba2d-5844-9fcc-bfad75cbc4cc","type":{"name":"CearaGPS","value":"PHONE_NUMBER","caller":{"name":"","number":"+5585991996437"},"number":"+558534846006","phoneNumberId":"c30dc08d-d7cc-4cad-a967-8db6552e558f"},"recordings":[{"id":"9f12f677-a944-4139-bfbb-7d9df8a98001","startTimestamp":"2025-02-18T15:13:01.237Z"}],"status":{"value":"IN_INTERACTIVE_VOICE_RESPONSE"}},{"id":"ed07b01e-4439-5879-a1fd-bd582343eca0","legId":"d1bee713-97bc-41bb-a85a-587b425ccf1d","originator":"e85b4a95-ba2d-5844-9fcc-bfad75cbc4cc","type":{"name":"Naiane Silva","value":"LINE","device":{"id":"635600a6-0d11-4357-a9c4-75139875aea2","model":"goto.clients"},"lineId":"bac33411-d5c9-4e5d-9461-4a7cc329f785","deviceId":"635600a6-0d11-4357-a9c4-75139875aea2","extensionNumber":"6102"},"status":{"value":"RINGING"}}],"interactiveVoiceResponseSystems":[{"id":"9cef3eb7-7844-5e1d-a7ff-d5401b1d6c57","type":{"value":"CALL_QUEUE","queueId":"185c6134-2c47-466f-9c0a-296b91b7571d","queueName":"CearaGPS-Central/Suporte","queueType":"ICR","configuredWrapUpDuration":0},"status":{"value":"CONNECTED"},"originator":"e85b4a95-ba2d-5844-9fcc-bfad75cbc4cc"},{"id":"a9523280-71f1-578a-b19d-ec190fc0d101","type":{"value":"DIAL_PLAN","dialPlanId":"cd4881b6-8506-4853-ac5f-4720d3d74582","currentNode":{"id":"CallQueueNode_1078","type":"CallQueueNode"},"executionId":"770f5828-1978-4bc3-a3a2-cb4bf1b5d1d8","previousNode":{"id":"ModifyCallerIdNode_1077","connector":"nextNode"}},"status":{"value":"CONNECTED"},"originator":"e85b4a95-ba2d-5844-9fcc-bfad75cbc4cc"}]},{"id":"cdbc4160-4653-58f0-8e87-82a6798359ea","type":"ACTIVE","sequenceNumber":24,"timestamp":"2025-02-18T15:14:02.265Z","participants":[{"id":"05029994-7e05-5a73-b68c-896adca77a90","legId":"8a247f55-570c-4478-a51f-5c994680223e","originator":"e85b4a95-ba2d-5844-9fcc-bfad75cbc4cc","type":{"name":"Ezequiel Bastos Gomes","value":"LINE","device":{"id":"4466a079-92c0-4762-9f63-3beb1e89bb74","model":"goto.clients"},"lineId":"93a6aebd-c92b-4006-909f-becf7a8d4904","deviceId":"4466a079-92c0-4762-9f63-3beb1e89bb74","extensionNumber":"6132"},"status":{"value":"RINGING"}},{"id":"06f689e2-61cc-5987-a0fe-162287dd97a9","legId":"9233424d-c9a7-42a1-be60-289c0ccc3712","originator":"e85b4a95-ba2d-5844-9fcc-bfad75cbc4cc","type":{"name":"Maria Tabosa","value":"LINE","device":{"id":"9f9b7bfc-9659-4d12-a3c9-d35940814e1a","model":"goto.clients"},"lineId":"2930f16a-6000-4227-8e87-efa54aec2af0","deviceId":"9f9b7bfc-9659-4d12-a3c9-d35940814e1a","extensionNumber":"6105"},"status":{"value":"RINGING"}},{"id":"b83041fc-f175-5689-96b1-62aeeb644107","legId":"7bc0e164-5b80-40f8-ad5d-deabfd4c92c7","originator":"e85b4a95-ba2d-5844-9fcc-bfad75cbc4cc","type":{"name":"Bruno Lima","value":"LINE","device":{"id":"05176e67-b02b-4e1c-b695-320d42361138","model":"goto.clients"},"lineId":"8ebb51c1-2c74-4890-b90c-d5f4f42941ad","deviceId":"05176e67-b02b-4e1c-b695-320d42361138","extensionNumber":"6101"},"status":{"value":"DISCONNECTING"}},{"id":"e85b4a95-ba2d-5844-9fcc-bfad75cbc4cc","legId":"f0029216-ad5e-42ba-82ab-cd63d1068c79","originator":"e85b4a95-ba2d-5844-9fcc-bfad75cbc4cc","type":{"name":"CearaGPS","value":"PHONE_NUMBER","caller":{"name":"","number":"+5585991996437"},"number":"+558534846006","phoneNumberId":"c30dc08d-d7cc-4cad-a967-8db6552e558f"},"recordings":[{"id":"9f12f677-a944-4139-bfbb-7d9df8a98001","startTimestamp":"2025-02-18T15:13:01.237Z"}],"status":{"value":"IN_INTERACTIVE_VOICE_RESPONSE"}},{"id":"ed07b01e-4439-5879-a1fd-bd582343eca0","legId":"d1bee713-97bc-41bb-a85a-587b425ccf1d","originator":"e85b4a95-ba2d-5844-9fcc-bfad75cbc4cc","type":{"name":"Naiane Silva","value":"LINE","device":{"id":"635600a6-0d11-4357-a9c4-75139875aea2","model":"goto.clients"},"lineId":"bac33411-d5c9-4e5d-9461-4a7cc329f785","deviceId":"635600a6-0d11-4357-a9c4-75139875aea2","extensionNumber":"6102"},"status":{"value":"RINGING"}}],"interactiveVoiceResponseSystems":[{"id":"9cef3eb7-7844-5e1d-a7ff-d5401b1d6c57","type":{"value":"CALL_QUEUE","queueId":"185c6134-2c47-466f-9c0a-296b91b7571d","queueName":"CearaGPS-Central/Suporte","queueType":"ICR","configuredWrapUpDuration":0},"status":{"value":"CONNECTED"},"originator":"e85b4a95-ba2d-5844-9fcc-bfad75cbc4cc"},{"id":"a9523280-71f1-578a-b19d-ec190fc0d101","type":{"value":"DIAL_PLAN","dialPlanId":"cd4881b6-8506-4853-ac5f-4720d3d74582","currentNode":{"id":"CallQueueNode_1078","type":"CallQueueNode"},"executionId":"770f5828-1978-4bc3-a3a2-cb4bf1b5d1d8","previousNode":{"id":"ModifyCallerIdNode_1077","connector":"nextNode"}},"status":{"value":"CONNECTED"},"originator":"e85b4a95-ba2d-5844-9fcc-bfad75cbc4cc"}]},{"id":"995b3035-be6f-5dfe-a7b0-448bd28a0445","type":"ACTIVE","sequenceNumber":25,"timestamp":"2025-02-18T15:14:04.887Z","participants":[{"id":"05029994-7e05-5a73-b68c-896adca77a90","legId":"8a247f55-570c-4478-a51f-5c994680223e","originator":"e85b4a95-ba2d-5844-9fcc-bfad75cbc4cc","type":{"name":"Ezequiel Bastos Gomes","value":"LINE","device":{"id":"4466a079-92c0-4762-9f63-3beb1e89bb74","model":"goto.clients"},"lineId":"93a6aebd-c92b-4006-909f-becf7a8d4904","deviceId":"4466a079-92c0-4762-9f63-3beb1e89bb74","extensionNumber":"6132"},"status":{"value":"RINGING"}},{"id":"06f689e2-61cc-5987-a0fe-162287dd97a9","legId":"9233424d-c9a7-42a1-be60-289c0ccc3712","originator":"e85b4a95-ba2d-5844-9fcc-bfad75cbc4cc","type":{"name":"Maria Tabosa","value":"LINE","device":{"id":"9f9b7bfc-9659-4d12-a3c9-d35940814e1a","model":"goto.clients"},"lineId":"2930f16a-6000-4227-8e87-efa54aec2af0","deviceId":"9f9b7bfc-9659-4d12-a3c9-d35940814e1a","extensionNumber":"6105"},"status":{"value":"DISCONNECTING"}},{"id":"e85b4a95-ba2d-5844-9fcc-bfad75cbc4cc","legId":"f0029216-ad5e-42ba-82ab-cd63d1068c79","originator":"e85b4a95-ba2d-5844-9fcc-bfad75cbc4cc","type":{"name":"CearaGPS","value":"PHONE_NUMBER","caller":{"name":"","number":"+5585991996437"},"number":"+558534846006","phoneNumberId":"c30dc08d-d7cc-4cad-a967-8db6552e558f"},"recordings":[{"id":"9f12f677-a944-4139-bfbb-7d9df8a98001","startTimestamp":"2025-02-18T15:13:01.237Z"}],"status":{"value":"IN_INTERACTIVE_VOICE_RESPONSE"}},{"id":"ed07b01e-4439-5879-a1fd-bd582343eca0","legId":"d1bee713-97bc-41bb-a85a-587b425ccf1d","originator":"e85b4a95-ba2d-5844-9fcc-bfad75cbc4cc","type":{"name":"Naiane Silva","value":"LINE","device":{"id":"635600a6-0d11-4357-a9c4-75139875aea2","model":"goto.clients"},"lineId":"bac33411-d5c9-4e5d-9461-4a7cc329f785","deviceId":"635600a6-0d11-4357-a9c4-75139875aea2","extensionNumber":"6102"},"status":{"value":"RINGING"}}],"interactiveVoiceResponseSystems":[{"id":"9cef3eb7-7844-5e1d-a7ff-d5401b1d6c57","type":{"value":"CALL_QUEUE","queueId":"185c6134-2c47-466f-9c0a-296b91b7571d","queueName":"CearaGPS-Central/Suporte","queueType":"ICR","configuredWrapUpDuration":0},"status":{"value":"CONNECTED"},"originator":"e85b4a95-ba2d-5844-9fcc-bfad75cbc4cc"},{"id":"a9523280-71f1-578a-b19d-ec190fc0d101","type":{"value":"DIAL_PLAN","dialPlanId":"cd4881b6-8506-4853-ac5f-4720d3d74582","currentNode":{"id":"CallQueueNode_1078","type":"CallQueueNode"},"executionId":"770f5828-1978-4bc3-a3a2-cb4bf1b5d1d8","previousNode":{"id":"ModifyCallerIdNode_1077","connector":"nextNode"}},"status":{"value":"CONNECTED"},"originator":"e85b4a95-ba2d-5844-9fcc-bfad75cbc4cc"}]},{"id":"b69b0572-8853-5eab-bd1d-fa65dd618591","type":"ACTIVE","sequenceNumber":26,"timestamp":"2025-02-18T15:14:05.726Z","participants":[{"id":"05029994-7e05-5a73-b68c-896adca77a90","legId":"8a247f55-570c-4478-a51f-5c994680223e","originator":"e85b4a95-ba2d-5844-9fcc-bfad75cbc4cc","type":{"name":"Ezequiel Bastos Gomes","value":"LINE","device":{"id":"4466a079-92c0-4762-9f63-3beb1e89bb74","model":"goto.clients"},"lineId":"93a6aebd-c92b-4006-909f-becf7a8d4904","deviceId":"4466a079-92c0-4762-9f63-3beb1e89bb74","extensionNumber":"6132"},"status":{"value":"DISCONNECTING"}},{"id":"e85b4a95-ba2d-5844-9fcc-bfad75cbc4cc","legId":"f0029216-ad5e-42ba-82ab-cd63d1068c79","originator":"e85b4a95-ba2d-5844-9fcc-bfad75cbc4cc","type":{"name":"CearaGPS","value":"PHONE_NUMBER","caller":{"name":"","number":"+5585991996437"},"number":"+558534846006","phoneNumberId":"c30dc08d-d7cc-4cad-a967-8db6552e558f"},"recordings":[{"id":"9f12f677-a944-4139-bfbb-7d9df8a98001","startTimestamp":"2025-02-18T15:13:01.237Z"}],"status":{"value":"IN_INTERACTIVE_VOICE_RESPONSE"}},{"id":"ed07b01e-4439-5879-a1fd-bd582343eca0","legId":"d1bee713-97bc-41bb-a85a-587b425ccf1d","originator":"e85b4a95-ba2d-5844-9fcc-bfad75cbc4cc","type":{"name":"Naiane Silva","value":"LINE","device":{"id":"635600a6-0d11-4357-a9c4-75139875aea2","model":"goto.clients"},"lineId":"bac33411-d5c9-4e5d-9461-4a7cc329f785","deviceId":"635600a6-0d11-4357-a9c4-75139875aea2","extensionNumber":"6102"},"status":{"value":"RINGING"}}],"interactiveVoiceResponseSystems":[{"id":"9cef3eb7-7844-5e1d-a7ff-d5401b1d6c57","type":{"value":"CALL_QUEUE","queueId":"185c6134-2c47-466f-9c0a-296b91b7571d","queueName":"CearaGPS-Central/Suporte","queueType":"ICR","configuredWrapUpDuration":0},"status":{"value":"CONNECTED"},"originator":"e85b4a95-ba2d-5844-9fcc-bfad75cbc4cc"},{"id":"a9523280-71f1-578a-b19d-ec190fc0d101","type":{"value":"DIAL_PLAN","dialPlanId":"cd4881b6-8506-4853-ac5f-4720d3d74582","currentNode":{"id":"CallQueueNode_1078","type":"CallQueueNode"},"executionId":"770f5828-1978-4bc3-a3a2-cb4bf1b5d1d8","previousNode":{"id":"ModifyCallerIdNode_1077","connector":"nextNode"}},"status":{"value":"CONNECTED"},"originator":"e85b4a95-ba2d-5844-9fcc-bfad75cbc4cc"}]},{"id":"062dd5f5-dddf-5af4-9b0e-102ed9074ecb","type":"ACTIVE","sequenceNumber":27,"timestamp":"2025-02-18T15:14:10.250Z","participants":[{"id":"e85b4a95-ba2d-5844-9fcc-bfad75cbc4cc","legId":"f0029216-ad5e-42ba-82ab-cd63d1068c79","originator":"e85b4a95-ba2d-5844-9fcc-bfad75cbc4cc","type":{"name":"CearaGPS","value":"PHONE_NUMBER","caller":{"name":"","number":"+5585991996437"},"number":"+558534846006","phoneNumberId":"c30dc08d-d7cc-4cad-a967-8db6552e558f"},"recordings":[{"id":"9f12f677-a944-4139-bfbb-7d9df8a98001","startTimestamp":"2025-02-18T15:13:01.237Z"}],"status":{"value":"CONNECTED"}},{"id":"ed07b01e-4439-5879-a1fd-bd582343eca0","legId":"d1bee713-97bc-41bb-a85a-587b425ccf1d","originator":"e85b4a95-ba2d-5844-9fcc-bfad75cbc4cc","type":{"name":"Naiane Silva","value":"LINE","device":{"id":"635600a6-0d11-4357-a9c4-75139875aea2","model":"goto.clients"},"lineId":"bac33411-d5c9-4e5d-9461-4a7cc329f785","deviceId":"635600a6-0d11-4357-a9c4-75139875aea2","extensionNumber":"6102"},"status":{"value":"RINGING"}}],"interactiveVoiceResponseSystems":[{"id":"9cef3eb7-7844-5e1d-a7ff-d5401b1d6c57","type":{"value":"CALL_QUEUE","queueId":"185c6134-2c47-466f-9c0a-296b91b7571d","queueName":"CearaGPS-Central/Suporte","queueType":"ICR","configuredWrapUpDuration":0},"status":{"value":"CONNECTED"},"originator":"e85b4a95-ba2d-5844-9fcc-bfad75cbc4cc"},{"id":"a9523280-71f1-578a-b19d-ec190fc0d101","type":{"value":"DIAL_PLAN","dialPlanId":"cd4881b6-8506-4853-ac5f-4720d3d74582","currentNode":{"id":"CallQueueNode_1078","type":"CallQueueNode"},"executionId":"770f5828-1978-4bc3-a3a2-cb4bf1b5d1d8","previousNode":{"id":"ModifyCallerIdNode_1077","connector":"nextNode"}},"status":{"value":"CONNECTED"},"originator":"e85b4a95-ba2d-5844-9fcc-bfad75cbc4cc"}]},{"id":"56d8beba-d2ae-5408-9cdb-2b468d1be97b","type":"ACTIVE","sequenceNumber":28,"timestamp":"2025-02-18T15:14:10.250Z","participants":[{"id":"e85b4a95-ba2d-5844-9fcc-bfad75cbc4cc","legId":"f0029216-ad5e-42ba-82ab-cd63d1068c79","originator":"e85b4a95-ba2d-5844-9fcc-bfad75cbc4cc","type":{"name":"CearaGPS","value":"PHONE_NUMBER","caller":{"name":"","number":"+5585991996437"},"number":"+558534846006","phoneNumberId":"c30dc08d-d7cc-4cad-a967-8db6552e558f"},"recordings":[{"id":"9f12f677-a944-4139-bfbb-7d9df8a98001","startTimestamp":"2025-02-18T15:13:01.237Z"}],"status":{"value":"CONNECTED"}},{"id":"ed07b01e-4439-5879-a1fd-bd582343eca0","legId":"d1bee713-97bc-41bb-a85a-587b425ccf1d","originator":"e85b4a95-ba2d-5844-9fcc-bfad75cbc4cc","type":{"name":"Naiane Silva","value":"LINE","device":{"id":"635600a6-0d11-4357-a9c4-75139875aea2","model":"goto.clients"},"lineId":"bac33411-d5c9-4e5d-9461-4a7cc329f785","deviceId":"635600a6-0d11-4357-a9c4-75139875aea2","extensionNumber":"6102"},"status":{"value":"CONNECTED"}}],"interactiveVoiceResponseSystems":[{"id":"9cef3eb7-7844-5e1d-a7ff-d5401b1d6c57","type":{"value":"CALL_QUEUE","queueId":"185c6134-2c47-466f-9c0a-296b91b7571d","queueName":"CearaGPS-Central/Suporte","queueType":"ICR","configuredWrapUpDuration":0},"status":{"value":"CONNECTED"},"originator":"e85b4a95-ba2d-5844-9fcc-bfad75cbc4cc"},{"id":"a9523280-71f1-578a-b19d-ec190fc0d101","type":{"value":"DIAL_PLAN","dialPlanId":"cd4881b6-8506-4853-ac5f-4720d3d74582","currentNode":{"id":"CallQueueNode_1078","type":"CallQueueNode"},"executionId":"770f5828-1978-4bc3-a3a2-cb4bf1b5d1d8","previousNode":{"id":"ModifyCallerIdNode_1077","connector":"nextNode"}},"status":{"value":"CONNECTED"},"originator":"e85b4a95-ba2d-5844-9fcc-bfad75cbc4cc"}]},{"id":"adbd68f7-37fa-59c4-a8dd-9c8d57bbad6c","type":"ACTIVE","sequenceNumber":29,"timestamp":"2025-02-18T15:14:43.878Z","participants":[{"id":"e85b4a95-ba2d-5844-9fcc-bfad75cbc4cc","legId":"f0029216-ad5e-42ba-82ab-cd63d1068c79","originator":"e85b4a95-ba2d-5844-9fcc-bfad75cbc4cc","type":{"name":"CearaGPS","value":"PHONE_NUMBER","caller":{"name":"","number":"+5585991996437"},"number":"+558534846006","phoneNumberId":"c30dc08d-d7cc-4cad-a967-8db6552e558f"},"recordings":[{"id":"9f12f677-a944-4139-bfbb-7d9df8a98001","startTimestamp":"2025-02-18T15:13:01.237Z"}],"status":{"value":"CONNECTED"}},{"id":"ed07b01e-4439-5879-a1fd-bd582343eca0","legId":"d1bee713-97bc-41bb-a85a-587b425ccf1d","originator":"e85b4a95-ba2d-5844-9fcc-bfad75cbc4cc","type":{"name":"Naiane Silva","value":"LINE","device":{"id":"635600a6-0d11-4357-a9c4-75139875aea2","model":"goto.clients"},"lineId":"bac33411-d5c9-4e5d-9461-4a7cc329f785","deviceId":"635600a6-0d11-4357-a9c4-75139875aea2","extensionNumber":"6102"},"recordings":[{"id":"f4a602c6-5ee8-4f43-9f90-fc9ef673bba1","startTimestamp":"2025-02-18T15:14:10.259Z"}],"status":{"value":"ON_HOLD"}}],"interactiveVoiceResponseSystems":[{"id":"9cef3eb7-7844-5e1d-a7ff-d5401b1d6c57","type":{"value":"CALL_QUEUE","queueId":"185c6134-2c47-466f-9c0a-296b91b7571d","queueName":"CearaGPS-Central/Suporte","queueType":"ICR","configuredWrapUpDuration":0},"status":{"value":"CONNECTED"},"originator":"e85b4a95-ba2d-5844-9fcc-bfad75cbc4cc"},{"id":"a9523280-71f1-578a-b19d-ec190fc0d101","type":{"value":"DIAL_PLAN","dialPlanId":"cd4881b6-8506-4853-ac5f-4720d3d74582","currentNode":{"id":"CallQueueNode_1078","type":"CallQueueNode"},"executionId":"770f5828-1978-4bc3-a3a2-cb4bf1b5d1d8","previousNode":{"id":"ModifyCallerIdNode_1077","connector":"nextNode"}},"status":{"value":"CONNECTED"},"originator":"e85b4a95-ba2d-5844-9fcc-bfad75cbc4cc"}]},{"id":"5ec21907-4f22-5d31-9c4f-428ded8980ff","type":"ACTIVE","sequenceNumber":30,"timestamp":"2025-02-18T15:14:43.878Z","participants":[{"id":"e85b4a95-ba2d-5844-9fcc-bfad75cbc4cc","legId":"f0029216-ad5e-42ba-82ab-cd63d1068c79","originator":"e85b4a95-ba2d-5844-9fcc-bfad75cbc4cc","type":{"name":"CearaGPS","value":"PHONE_NUMBER","caller":{"name":"","number":"+5585991996437"},"number":"+558534846006","phoneNumberId":"c30dc08d-d7cc-4cad-a967-8db6552e558f"},"recordings":[{"id":"9f12f677-a944-4139-bfbb-7d9df8a98001","startTimestamp":"2025-02-18T15:13:01.237Z"}],"status":{"value":"ON_HOLD"}},{"id":"ed07b01e-4439-5879-a1fd-bd582343eca0","legId":"d1bee713-97bc-41bb-a85a-587b425ccf1d","originator":"e85b4a95-ba2d-5844-9fcc-bfad75cbc4cc","type":{"name":"Naiane Silva","value":"LINE","device":{"id":"635600a6-0d11-4357-a9c4-75139875aea2","model":"goto.clients"},"lineId":"bac33411-d5c9-4e5d-9461-4a7cc329f785","deviceId":"635600a6-0d11-4357-a9c4-75139875aea2","extensionNumber":"6102"},"recordings":[{"id":"f4a602c6-5ee8-4f43-9f90-fc9ef673bba1","startTimestamp":"2025-02-18T15:14:10.259Z"}],"status":{"value":"ON_HOLD"}}],"interactiveVoiceResponseSystems":[{"id":"9cef3eb7-7844-5e1d-a7ff-d5401b1d6c57","type":{"value":"CALL_QUEUE","queueId":"185c6134-2c47-466f-9c0a-296b91b7571d","queueName":"CearaGPS-Central/Suporte","queueType":"ICR","configuredWrapUpDuration":0},"status":{"value":"CONNECTED"},"originator":"e85b4a95-ba2d-5844-9fcc-bfad75cbc4cc"},{"id":"a9523280-71f1-578a-b19d-ec190fc0d101","type":{"value":"DIAL_PLAN","dialPlanId":"cd4881b6-8506-4853-ac5f-4720d3d74582","currentNode":{"id":"CallQueueNode_1078","type":"CallQueueNode"},"executionId":"770f5828-1978-4bc3-a3a2-cb4bf1b5d1d8","previousNode":{"id":"ModifyCallerIdNode_1077","connector":"nextNode"}},"status":{"value":"CONNECTED"},"originator":"e85b4a95-ba2d-5844-9fcc-bfad75cbc4cc"}]},{"id":"29b485f1-6110-5daa-9aed-ddd72ff3a2f8","type":"ACTIVE","sequenceNumber":31,"timestamp":"2025-02-18T15:15:18.273Z","participants":[{"id":"e85b4a95-ba2d-5844-9fcc-bfad75cbc4cc","legId":"f0029216-ad5e-42ba-82ab-cd63d1068c79","originator":"e85b4a95-ba2d-5844-9fcc-bfad75cbc4cc","type":{"name":"CearaGPS","value":"PHONE_NUMBER","caller":{"name":"","number":"+5585991996437"},"number":"+558534846006","phoneNumberId":"c30dc08d-d7cc-4cad-a967-8db6552e558f"},"recordings":[{"id":"9f12f677-a944-4139-bfbb-7d9df8a98001","startTimestamp":"2025-02-18T15:13:01.237Z"}],"status":{"value":"ON_HOLD"}},{"id":"ed07b01e-4439-5879-a1fd-bd582343eca0","legId":"d1bee713-97bc-41bb-a85a-587b425ccf1d","originator":"e85b4a95-ba2d-5844-9fcc-bfad75cbc4cc","type":{"name":"Naiane Silva","value":"LINE","device":{"id":"635600a6-0d11-4357-a9c4-75139875aea2","model":"goto.clients"},"lineId":"bac33411-d5c9-4e5d-9461-4a7cc329f785","deviceId":"635600a6-0d11-4357-a9c4-75139875aea2","extensionNumber":"6102"},"recordings":[{"id":"f4a602c6-5ee8-4f43-9f90-fc9ef673bba1","startTimestamp":"2025-02-18T15:14:10.259Z"}],"status":{"value":"CONNECTED"}}],"interactiveVoiceResponseSystems":[{"id":"9cef3eb7-7844-5e1d-a7ff-d5401b1d6c57","type":{"value":"CALL_QUEUE","queueId":"185c6134-2c47-466f-9c0a-296b91b7571d","queueName":"CearaGPS-Central/Suporte","queueType":"ICR","configuredWrapUpDuration":0},"status":{"value":"CONNECTED"},"originator":"e85b4a95-ba2d-5844-9fcc-bfad75cbc4cc"},{"id":"a9523280-71f1-578a-b19d-ec190fc0d101","type":{"value":"DIAL_PLAN","dialPlanId":"cd4881b6-8506-4853-ac5f-4720d3d74582","currentNode":{"id":"CallQueueNode_1078","type":"CallQueueNode"},"executionId":"770f5828-1978-4bc3-a3a2-cb4bf1b5d1d8","previousNode":{"id":"ModifyCallerIdNode_1077","connector":"nextNode"}},"status":{"value":"CONNECTED"},"originator":"e85b4a95-ba2d-5844-9fcc-bfad75cbc4cc"}]},{"id":"5efdee52-d83f-560b-95e7-5894be8afa0c","type":"ACTIVE","sequenceNumber":32,"timestamp":"2025-02-18T15:15:18.273Z","participants":[{"id":"e85b4a95-ba2d-5844-9fcc-bfad75cbc4cc","legId":"f0029216-ad5e-42ba-82ab-cd63d1068c79","originator":"e85b4a95-ba2d-5844-9fcc-bfad75cbc4cc","type":{"name":"CearaGPS","value":"PHONE_NUMBER","caller":{"name":"","number":"+5585991996437"},"number":"+558534846006","phoneNumberId":"c30dc08d-d7cc-4cad-a967-8db6552e558f"},"recordings":[{"id":"9f12f677-a944-4139-bfbb-7d9df8a98001","startTimestamp":"2025-02-18T15:13:01.237Z"}],"status":{"value":"CONNECTED"}},{"id":"ed07b01e-4439-5879-a1fd-bd582343eca0","legId":"d1bee713-97bc-41bb-a85a-587b425ccf1d","originator":"e85b4a95-ba2d-5844-9fcc-bfad75cbc4cc","type":{"name":"Naiane Silva","value":"LINE","device":{"id":"635600a6-0d11-4357-a9c4-75139875aea2","model":"goto.clients"},"lineId":"bac33411-d5c9-4e5d-9461-4a7cc329f785","deviceId":"635600a6-0d11-4357-a9c4-75139875aea2","extensionNumber":"6102"},"recordings":[{"id":"f4a602c6-5ee8-4f43-9f90-fc9ef673bba1","startTimestamp":"2025-02-18T15:14:10.259Z"}],"status":{"value":"CONNECTED"}}],"interactiveVoiceResponseSystems":[{"id":"9cef3eb7-7844-5e1d-a7ff-d5401b1d6c57","type":{"value":"CALL_QUEUE","queueId":"185c6134-2c47-466f-9c0a-296b91b7571d","queueName":"CearaGPS-Central/Suporte","queueType":"ICR","configuredWrapUpDuration":0},"status":{"value":"CONNECTED"},"originator":"e85b4a95-ba2d-5844-9fcc-bfad75cbc4cc"},{"id":"a9523280-71f1-578a-b19d-ec190fc0d101","type":{"value":"DIAL_PLAN","dialPlanId":"cd4881b6-8506-4853-ac5f-4720d3d74582","currentNode":{"id":"CallQueueNode_1078","type":"CallQueueNode"},"executionId":"770f5828-1978-4bc3-a3a2-cb4bf1b5d1d8","previousNode":{"id":"ModifyCallerIdNode_1077","connector":"nextNode"}},"status":{"value":"CONNECTED"},"originator":"e85b4a95-ba2d-5844-9fcc-bfad75cbc4cc"}]},{"id":"89d01c6a-b179-5964-b12d-e5083efea1a7","type":"ACTIVE","sequenceNumber":33,"timestamp":"2025-02-18T15:15:24.294Z","participants":[{"id":"e85b4a95-ba2d-5844-9fcc-bfad75cbc4cc","legId":"f0029216-ad5e-42ba-82ab-cd63d1068c79","originator":"e85b4a95-ba2d-5844-9fcc-bfad75cbc4cc","type":{"name":"CearaGPS","value":"PHONE_NUMBER","caller":{"name":"","number":"+5585991996437"},"number":"+558534846006","phoneNumberId":"c30dc08d-d7cc-4cad-a967-8db6552e558f"},"recordings":[{"id":"9f12f677-a944-4139-bfbb-7d9df8a98001","startTimestamp":"2025-02-18T15:13:01.237Z"}],"status":{"value":"CONNECTED"}},{"id":"ed07b01e-4439-5879-a1fd-bd582343eca0","legId":"d1bee713-97bc-41bb-a85a-587b425ccf1d","originator":"e85b4a95-ba2d-5844-9fcc-bfad75cbc4cc","type":{"name":"Naiane Silva","value":"LINE","device":{"id":"635600a6-0d11-4357-a9c4-75139875aea2","model":"goto.clients"},"lineId":"bac33411-d5c9-4e5d-9461-4a7cc329f785","deviceId":"635600a6-0d11-4357-a9c4-75139875aea2","extensionNumber":"6102"},"recordings":[{"id":"f4a602c6-5ee8-4f43-9f90-fc9ef673bba1","startTimestamp":"2025-02-18T15:14:10.259Z"}],"status":{"value":"ON_HOLD"}}],"interactiveVoiceResponseSystems":[{"id":"9cef3eb7-7844-5e1d-a7ff-d5401b1d6c57","type":{"value":"CALL_QUEUE","queueId":"185c6134-2c47-466f-9c0a-296b91b7571d","queueName":"CearaGPS-Central/Suporte","queueType":"ICR","configuredWrapUpDuration":0},"status":{"value":"CONNECTED"},"originator":"e85b4a95-ba2d-5844-9fcc-bfad75cbc4cc"},{"id":"a9523280-71f1-578a-b19d-ec190fc0d101","type":{"value":"DIAL_PLAN","dialPlanId":"cd4881b6-8506-4853-ac5f-4720d3d74582","currentNode":{"id":"CallQueueNode_1078","type":"CallQueueNode"},"executionId":"770f5828-1978-4bc3-a3a2-cb4bf1b5d1d8","previousNode":{"id":"ModifyCallerIdNode_1077","connector":"nextNode"}},"status":{"value":"CONNECTED"},"originator":"e85b4a95-ba2d-5844-9fcc-bfad75cbc4cc"}]},{"id":"1d465656-07c5-5a43-ade7-cf839755ff29","type":"ACTIVE","sequenceNumber":34,"timestamp":"2025-02-18T15:15:24.294Z","participants":[{"id":"e85b4a95-ba2d-5844-9fcc-bfad75cbc4cc","legId":"f0029216-ad5e-42ba-82ab-cd63d1068c79","originator":"e85b4a95-ba2d-5844-9fcc-bfad75cbc4cc","type":{"name":"CearaGPS","value":"PHONE_NUMBER","caller":{"name":"","number":"+5585991996437"},"number":"+558534846006","phoneNumberId":"c30dc08d-d7cc-4cad-a967-8db6552e558f"},"recordings":[{"id":"9f12f677-a944-4139-bfbb-7d9df8a98001","startTimestamp":"2025-02-18T15:13:01.237Z"}],"status":{"value":"ON_HOLD"}},{"id":"ed07b01e-4439-5879-a1fd-bd582343eca0","legId":"d1bee713-97bc-41bb-a85a-587b425ccf1d","originator":"e85b4a95-ba2d-5844-9fcc-bfad75cbc4cc","type":{"name":"Naiane Silva","value":"LINE","device":{"id":"635600a6-0d11-4357-a9c4-75139875aea2","model":"goto.clients"},"lineId":"bac33411-d5c9-4e5d-9461-4a7cc329f785","deviceId":"635600a6-0d11-4357-a9c4-75139875aea2","extensionNumber":"6102"},"recordings":[{"id":"f4a602c6-5ee8-4f43-9f90-fc9ef673bba1","startTimestamp":"2025-02-18T15:14:10.259Z"}],"status":{"value":"ON_HOLD"}}],"interactiveVoiceResponseSystems":[{"id":"9cef3eb7-7844-5e1d-a7ff-d5401b1d6c57","type":{"value":"CALL_QUEUE","queueId":"185c6134-2c47-466f-9c0a-296b91b7571d","queueName":"CearaGPS-Central/Suporte","queueType":"ICR","configuredWrapUpDuration":0},"status":{"value":"CONNECTED"},"originator":"e85b4a95-ba2d-5844-9fcc-bfad75cbc4cc"},{"id":"a9523280-71f1-578a-b19d-ec190fc0d101","type":{"value":"DIAL_PLAN","dialPlanId":"cd4881b6-8506-4853-ac5f-4720d3d74582","currentNode":{"id":"CallQueueNode_1078","type":"CallQueueNode"},"executionId":"770f5828-1978-4bc3-a3a2-cb4bf1b5d1d8","previousNode":{"id":"ModifyCallerIdNode_1077","connector":"nextNode"}},"status":{"value":"CONNECTED"},"originator":"e85b4a95-ba2d-5844-9fcc-bfad75cbc4cc"}]},{"id":"bb375730-5f5a-5bad-a994-33b1b7903ad7","type":"ACTIVE","sequenceNumber":35,"timestamp":"2025-02-18T15:15:50.943Z","participants":[{"id":"e85b4a95-ba2d-5844-9fcc-bfad75cbc4cc","legId":"f0029216-ad5e-42ba-82ab-cd63d1068c79","originator":"e85b4a95-ba2d-5844-9fcc-bfad75cbc4cc","type":{"name":"CearaGPS","value":"PHONE_NUMBER","caller":{"name":"","number":"+5585991996437"},"number":"+558534846006","phoneNumberId":"c30dc08d-d7cc-4cad-a967-8db6552e558f"},"recordings":[{"id":"9f12f677-a944-4139-bfbb-7d9df8a98001","startTimestamp":"2025-02-18T15:13:01.237Z"}],"status":{"value":"ON_HOLD"}},{"id":"ed07b01e-4439-5879-a1fd-bd582343eca0","legId":"d1bee713-97bc-41bb-a85a-587b425ccf1d","originator":"e85b4a95-ba2d-5844-9fcc-bfad75cbc4cc","type":{"name":"Naiane Silva","value":"LINE","device":{"id":"635600a6-0d11-4357-a9c4-75139875aea2","model":"goto.clients"},"lineId":"bac33411-d5c9-4e5d-9461-4a7cc329f785","deviceId":"635600a6-0d11-4357-a9c4-75139875aea2","extensionNumber":"6102"},"recordings":[{"id":"f4a602c6-5ee8-4f43-9f90-fc9ef673bba1","startTimestamp":"2025-02-18T15:14:10.259Z"}],"status":{"value":"CONNECTED"}}],"interactiveVoiceResponseSystems":[{"id":"9cef3eb7-7844-5e1d-a7ff-d5401b1d6c57","type":{"value":"CALL_QUEUE","queueId":"185c6134-2c47-466f-9c0a-296b91b7571d","queueName":"CearaGPS-Central/Suporte","queueType":"ICR","configuredWrapUpDuration":0},"status":{"value":"CONNECTED"},"originator":"e85b4a95-ba2d-5844-9fcc-bfad75cbc4cc"},{"id":"a9523280-71f1-578a-b19d-ec190fc0d101","type":{"value":"DIAL_PLAN","dialPlanId":"cd4881b6-8506-4853-ac5f-4720d3d74582","currentNode":{"id":"CallQueueNode_1078","type":"CallQueueNode"},"executionId":"770f5828-1978-4bc3-a3a2-cb4bf1b5d1d8","previousNode":{"id":"ModifyCallerIdNode_1077","connector":"nextNode"}},"status":{"value":"CONNECTED"},"originator":"e85b4a95-ba2d-5844-9fcc-bfad75cbc4cc"}]},{"id":"f8133078-1d05-5452-88f7-52082c5082d8","type":"ACTIVE","sequenceNumber":36,"timestamp":"2025-02-18T15:15:50.943Z","participants":[{"id":"e85b4a95-ba2d-5844-9fcc-bfad75cbc4cc","legId":"f0029216-ad5e-42ba-82ab-cd63d1068c79","originator":"e85b4a95-ba2d-5844-9fcc-bfad75cbc4cc","type":{"name":"CearaGPS","value":"PHONE_NUMBER","caller":{"name":"","number":"+5585991996437"},"number":"+558534846006","phoneNumberId":"c30dc08d-d7cc-4cad-a967-8db6552e558f"},"recordings":[{"id":"9f12f677-a944-4139-bfbb-7d9df8a98001","startTimestamp":"2025-02-18T15:13:01.237Z"}],"status":{"value":"CONNECTED"}},{"id":"ed07b01e-4439-5879-a1fd-bd582343eca0","legId":"d1bee713-97bc-41bb-a85a-587b425ccf1d","originator":"e85b4a95-ba2d-5844-9fcc-bfad75cbc4cc","type":{"name":"Naiane Silva","value":"LINE","device":{"id":"635600a6-0d11-4357-a9c4-75139875aea2","model":"goto.clients"},"lineId":"bac33411-d5c9-4e5d-9461-4a7cc329f785","deviceId":"635600a6-0d11-4357-a9c4-75139875aea2","extensionNumber":"6102"},"recordings":[{"id":"f4a602c6-5ee8-4f43-9f90-fc9ef673bba1","startTimestamp":"2025-02-18T15:14:10.259Z"}],"status":{"value":"CONNECTED"}}],"interactiveVoiceResponseSystems":[{"id":"9cef3eb7-7844-5e1d-a7ff-d5401b1d6c57","type":{"value":"CALL_QUEUE","queueId":"185c6134-2c47-466f-9c0a-296b91b7571d","queueName":"CearaGPS-Central/Suporte","queueType":"ICR","configuredWrapUpDuration":0},"status":{"value":"CONNECTED"},"originator":"e85b4a95-ba2d-5844-9fcc-bfad75cbc4cc"},{"id":"a9523280-71f1-578a-b19d-ec190fc0d101","type":{"value":"DIAL_PLAN","dialPlanId":"cd4881b6-8506-4853-ac5f-4720d3d74582","currentNode":{"id":"CallQueueNode_1078","type":"CallQueueNode"},"executionId":"770f5828-1978-4bc3-a3a2-cb4bf1b5d1d8","previousNode":{"id":"ModifyCallerIdNode_1077","connector":"nextNode"}},"status":{"value":"CONNECTED"},"originator":"e85b4a95-ba2d-5844-9fcc-bfad75cbc4cc"}]},{"id":"1d73038b-b18c-5656-821d-c1b017287590","type":"ACTIVE","sequenceNumber":37,"timestamp":"2025-02-18T15:17:13.561Z","participants":[{"id":"e85b4a95-ba2d-5844-9fcc-bfad75cbc4cc","legId":"f0029216-ad5e-42ba-82ab-cd63d1068c79","originator":"e85b4a95-ba2d-5844-9fcc-bfad75cbc4cc","type":{"name":"CearaGPS","value":"PHONE_NUMBER","caller":{"name":"","number":"+5585991996437"},"number":"+558534846006","phoneNumberId":"c30dc08d-d7cc-4cad-a967-8db6552e558f"},"recordings":[{"id":"9f12f677-a944-4139-bfbb-7d9df8a98001","startTimestamp":"2025-02-18T15:13:01.237Z"}],"status":{"value":"IN_DIRECT_TRANSFER","initiator":{"name":"Naiane Silva","participantId":"ed07b01e-4439-5879-a1fd-bd582343eca0","extensionNumber":"6102","conversationSpaceId":"7cdfcc36-b3e0-3e3d-b8d1-211fa3b8416d"},"destination":{"number":"1000"}}},{"id":"ed07b01e-4439-5879-a1fd-bd582343eca0","legId":"d1bee713-97bc-41bb-a85a-587b425ccf1d","originator":"e85b4a95-ba2d-5844-9fcc-bfad75cbc4cc","type":{"name":"Naiane Silva","value":"LINE","device":{"id":"635600a6-0d11-4357-a9c4-75139875aea2","model":"goto.clients"},"lineId":"bac33411-d5c9-4e5d-9461-4a7cc329f785","deviceId":"635600a6-0d11-4357-a9c4-75139875aea2","extensionNumber":"6102"},"recordings":[{"id":"f4a602c6-5ee8-4f43-9f90-fc9ef673bba1","startTimestamp":"2025-02-18T15:14:10.259Z"}],"status":{"value":"CONNECTED"}}],"interactiveVoiceResponseSystems":[{"id":"9cef3eb7-7844-5e1d-a7ff-d5401b1d6c57","type":{"value":"CALL_QUEUE","queueId":"185c6134-2c47-466f-9c0a-296b91b7571d","queueName":"CearaGPS-Central/Suporte","queueType":"ICR","configuredWrapUpDuration":0},"status":{"value":"CONNECTED"},"originator":"e85b4a95-ba2d-5844-9fcc-bfad75cbc4cc"},{"id":"a9523280-71f1-578a-b19d-ec190fc0d101","type":{"value":"DIAL_PLAN","dialPlanId":"cd4881b6-8506-4853-ac5f-4720d3d74582","currentNode":{"id":"CallQueueNode_1078","type":"CallQueueNode"},"executionId":"770f5828-1978-4bc3-a3a2-cb4bf1b5d1d8","previousNode":{"id":"ModifyCallerIdNode_1077","connector":"nextNode"}},"status":{"value":"CONNECTED"},"originator":"e85b4a95-ba2d-5844-9fcc-bfad75cbc4cc"}]},{"id":"940c6ae8-7c07-5e0f-a33a-2aca4dd4ac85","type":"ACTIVE","sequenceNumber":38,"timestamp":"2025-02-18T15:17:13.561Z","participants":[{"id":"e85b4a95-ba2d-5844-9fcc-bfad75cbc4cc","legId":"f0029216-ad5e-42ba-82ab-cd63d1068c79","originator":"e85b4a95-ba2d-5844-9fcc-bfad75cbc4cc","type":{"name":"CearaGPS","value":"PHONE_NUMBER","caller":{"name":"","number":"+5585991996437"},"number":"+558534846006","phoneNumberId":"c30dc08d-d7cc-4cad-a967-8db6552e558f"},"recordings":[{"id":"9f12f677-a944-4139-bfbb-7d9df8a98001","startTimestamp":"2025-02-18T15:13:01.237Z"}],"status":{"value":"IN_DIRECT_TRANSFER","initiator":{"name":"Naiane Silva","participantId":"ed07b01e-4439-5879-a1fd-bd582343eca0","extensionNumber":"6102","conversationSpaceId":"7cdfcc36-b3e0-3e3d-b8d1-211fa3b8416d"},"destination":{"number":"1000"}}},{"id":"ed07b01e-4439-5879-a1fd-bd582343eca0","legId":"d1bee713-97bc-41bb-a85a-587b425ccf1d","originator":"e85b4a95-ba2d-5844-9fcc-bfad75cbc4cc","type":{"name":"Naiane Silva","value":"LINE","device":{"id":"635600a6-0d11-4357-a9c4-75139875aea2","model":"goto.clients"},"lineId":"bac33411-d5c9-4e5d-9461-4a7cc329f785","deviceId":"635600a6-0d11-4357-a9c4-75139875aea2","extensionNumber":"6102"},"recordings":[{"id":"f4a602c6-5ee8-4f43-9f90-fc9ef673bba1","startTimestamp":"2025-02-18T15:14:10.259Z"}],"status":{"value":"CONNECTED"}}],"interactiveVoiceResponseSystems":[{"id":"9cef3eb7-7844-5e1d-a7ff-d5401b1d6c57","type":{"value":"CALL_QUEUE","queueId":"185c6134-2c47-466f-9c0a-296b91b7571d","queueName":"CearaGPS-Central/Suporte","queueType":"ICR","configuredWrapUpDuration":0},"status":{"value":"DISCONNECTING"},"originator":"e85b4a95-ba2d-5844-9fcc-bfad75cbc4cc"},{"id":"a9523280-71f1-578a-b19d-ec190fc0d101","type":{"value":"DIAL_PLAN","dialPlanId":"cd4881b6-8506-4853-ac5f-4720d3d74582","currentNode":{"id":"CallQueueNode_1078","type":"CallQueueNode"},"executionId":"770f5828-1978-4bc3-a3a2-cb4bf1b5d1d8","previousNode":{"id":"ModifyCallerIdNode_1077","connector":"nextNode"}},"status":{"value":"CONNECTED"},"originator":"e85b4a95-ba2d-5844-9fcc-bfad75cbc4cc"}]},{"id":"842b9fd2-36ea-5af2-bdfe-0deb7732e78f","type":"ACTIVE","sequenceNumber":39,"timestamp":"2025-02-18T15:17:13.561Z","participants":[{"id":"e85b4a95-ba2d-5844-9fcc-bfad75cbc4cc","legId":"f0029216-ad5e-42ba-82ab-cd63d1068c79","originator":"e85b4a95-ba2d-5844-9fcc-bfad75cbc4cc","type":{"name":"CearaGPS","value":"PHONE_NUMBER","caller":{"name":"","number":"+5585991996437"},"number":"+558534846006","phoneNumberId":"c30dc08d-d7cc-4cad-a967-8db6552e558f"},"recordings":[{"id":"9f12f677-a944-4139-bfbb-7d9df8a98001","startTimestamp":"2025-02-18T15:13:01.237Z"}],"status":{"value":"IN_DIRECT_TRANSFER","initiator":{"name":"Naiane Silva","participantId":"ed07b01e-4439-5879-a1fd-bd582343eca0","extensionNumber":"6102","conversationSpaceId":"7cdfcc36-b3e0-3e3d-b8d1-211fa3b8416d"},"destination":{"number":"1000"}}},{"id":"ed07b01e-4439-5879-a1fd-bd582343eca0","legId":"d1bee713-97bc-41bb-a85a-587b425ccf1d","originator":"e85b4a95-ba2d-5844-9fcc-bfad75cbc4cc","type":{"name":"Naiane Silva","value":"LINE","device":{"id":"635600a6-0d11-4357-a9c4-75139875aea2","model":"goto.clients"},"lineId":"bac33411-d5c9-4e5d-9461-4a7cc329f785","deviceId":"635600a6-0d11-4357-a9c4-75139875aea2","extensionNumber":"6102"},"recordings":[{"id":"f4a602c6-5ee8-4f43-9f90-fc9ef673bba1","startTimestamp":"2025-02-18T15:14:10.259Z"}],"status":{"value":"DISCONNECTING"}}],"interactiveVoiceResponseSystems":[{"id":"a9523280-71f1-578a-b19d-ec190fc0d101","type":{"value":"DIAL_PLAN","dialPlanId":"cd4881b6-8506-4853-ac5f-4720d3d74582","currentNode":{"id":"CallQueueNode_1078","type":"CallQueueNode"},"executionId":"770f5828-1978-4bc3-a3a2-cb4bf1b5d1d8","previousNode":{"id":"ModifyCallerIdNode_1077","connector":"nextNode"}},"status":{"value":"CONNECTED"},"originator":"e85b4a95-ba2d-5844-9fcc-bfad75cbc4cc"}]},{"id":"1a971ff2-c3d1-580e-b9f7-3ad58dfdc442","type":"ACTIVE","sequenceNumber":40,"timestamp":"2025-02-18T15:17:13.608Z","participants":[{"id":"e85b4a95-ba2d-5844-9fcc-bfad75cbc4cc","legId":"f0029216-ad5e-42ba-82ab-cd63d1068c79","originator":"e85b4a95-ba2d-5844-9fcc-bfad75cbc4cc","type":{"name":"CearaGPS","value":"PHONE_NUMBER","caller":{"name":"","number":"+5585991996437"},"number":"+558534846006","phoneNumberId":"c30dc08d-d7cc-4cad-a967-8db6552e558f"},"recordings":[{"id":"9f12f677-a944-4139-bfbb-7d9df8a98001","startTimestamp":"2025-02-18T15:13:01.237Z"}],"status":{"value":"IN_DIRECT_TRANSFER","initiator":{"name":"Naiane Silva","participantId":"ed07b01e-4439-5879-a1fd-bd582343eca0","extensionNumber":"6102","conversationSpaceId":"7cdfcc36-b3e0-3e3d-b8d1-211fa3b8416d"},"destination":{"number":"1000"}}}],"interactiveVoiceResponseSystems":[{"id":"a9523280-71f1-578a-b19d-ec190fc0d101","type":{"value":"DIAL_PLAN","dialPlanId":"cd4881b6-8506-4853-ac5f-4720d3d74582","currentNode":{"id":"CallQueueNode_1078","type":"CallQueueNode","result":"COMPLETED"},"executionId":"770f5828-1978-4bc3-a3a2-cb4bf1b5d1d8","previousNode":{"id":"ModifyCallerIdNode_1077","connector":"nextNode"}},"status":{"value":"DISCONNECTING"},"originator":"e85b4a95-ba2d-5844-9fcc-bfad75cbc4cc"}]},{"id":"a44fc1b1-93b8-5e62-839a-afbabae1e7b9","type":"ACTIVE","sequenceNumber":41,"timestamp":"2025-02-18T15:17:13.656Z","participants":[{"id":"e85b4a95-ba2d-5844-9fcc-bfad75cbc4cc","legId":"f0029216-ad5e-42ba-82ab-cd63d1068c79","originator":"e85b4a95-ba2d-5844-9fcc-bfad75cbc4cc","type":{"name":"CearaGPS","value":"PHONE_NUMBER","caller":{"name":"","number":"+5585991996437"},"number":"+558534846006","phoneNumberId":"c30dc08d-d7cc-4cad-a967-8db6552e558f"},"recordings":[{"id":"9f12f677-a944-4139-bfbb-7d9df8a98001","startTimestamp":"2025-02-18T15:13:01.237Z"}],"status":{"value":"IN_INTERACTIVE_VOICE_RESPONSE"}}],"interactiveVoiceResponseSystems":[{"id":"1018b13a-83db-54f9-ae83-f38031848890","type":{"value":"DIAL_PLAN","dialPlanId":"af236b1e-8c37-4971-be61-334bf66db8fa","currentNode":{"id":"AttendantPromptNode_1002","type":"AttendantPromptNode"},"executionId":"2360bed9-9d95-43ca-8522-67b9596052c5","previousNode":{"id":"","connector":""}},"status":{"value":"CONNECTED"},"originator":"e85b4a95-ba2d-5844-9fcc-bfad75cbc4cc"}]},{"id":"930a6c0e-7523-5641-8537-515850f83641","type":"ACTIVE","sequenceNumber":42,"timestamp":"2025-02-18T15:17:32.493Z","participants":[{"id":"e85b4a95-ba2d-5844-9fcc-bfad75cbc4cc","legId":"f0029216-ad5e-42ba-82ab-cd63d1068c79","originator":"e85b4a95-ba2d-5844-9fcc-bfad75cbc4cc","type":{"name":"CearaGPS","value":"PHONE_NUMBER","caller":{"name":"","number":"+5585991996437"},"number":"+558534846006","phoneNumberId":"c30dc08d-d7cc-4cad-a967-8db6552e558f"},"recordings":[{"id":"9f12f677-a944-4139-bfbb-7d9df8a98001","startTimestamp":"2025-02-18T15:13:01.237Z"}],"status":{"value":"IN_INTERACTIVE_VOICE_RESPONSE"}}],"interactiveVoiceResponseSystems":[{"id":"1018b13a-83db-54f9-ae83-f38031848890","type":{"value":"DIAL_PLAN","dialPlanId":"af236b1e-8c37-4971-be61-334bf66db8fa","currentNode":{"id":"AttendantPromptNode_1002","type":"AttendantPromptNode","option":"5","result":"DIALED_OPTION"},"executionId":"2360bed9-9d95-43ca-8522-67b9596052c5","previousNode":{"id":"","connector":""}},"status":{"value":"CONNECTED"},"originator":"e85b4a95-ba2d-5844-9fcc-bfad75cbc4cc"}]},{"id":"c881af2a-3f15-5a39-97b5-637018bc3373","type":"ACTIVE","sequenceNumber":43,"timestamp":"2025-02-18T15:17:32.493Z","participants":[{"id":"e85b4a95-ba2d-5844-9fcc-bfad75cbc4cc","legId":"f0029216-ad5e-42ba-82ab-cd63d1068c79","originator":"e85b4a95-ba2d-5844-9fcc-bfad75cbc4cc","type":{"name":"CearaGPS","value":"PHONE_NUMBER","caller":{"name":"","number":"+5585991996437"},"number":"+558534846006","phoneNumberId":"c30dc08d-d7cc-4cad-a967-8db6552e558f"},"recordings":[{"id":"9f12f677-a944-4139-bfbb-7d9df8a98001","startTimestamp":"2025-02-18T15:13:01.237Z"}],"status":{"value":"IN_INTERACTIVE_VOICE_RESPONSE"}}],"interactiveVoiceResponseSystems":[{"id":"1018b13a-83db-54f9-ae83-f38031848890","type":{"value":"DIAL_PLAN","dialPlanId":"af236b1e-8c37-4971-be61-334bf66db8fa","currentNode":{"id":"ModifyCallerIdNode_1004","type":"ModifyCallerIdNode"},"executionId":"2360bed9-9d95-43ca-8522-67b9596052c5","previousNode":{"id":"AttendantPromptNode_1002","connector":"option_5"}},"status":{"value":"CONNECTED"},"originator":"e85b4a95-ba2d-5844-9fcc-bfad75cbc4cc"}]},{"id":"0c0aa06e-10a0-5477-ac89-d6377ab36bfa","type":"ACTIVE","sequenceNumber":44,"timestamp":"2025-02-18T15:17:32.494Z","participants":[{"id":"e85b4a95-ba2d-5844-9fcc-bfad75cbc4cc","legId":"f0029216-ad5e-42ba-82ab-cd63d1068c79","originator":"e85b4a95-ba2d-5844-9fcc-bfad75cbc4cc","type":{"name":"CearaGPS","value":"PHONE_NUMBER","caller":{"name":"","number":"+5585991996437"},"number":"+558534846006","phoneNumberId":"c30dc08d-d7cc-4cad-a967-8db6552e558f"},"recordings":[{"id":"9f12f677-a944-4139-bfbb-7d9df8a98001","startTimestamp":"2025-02-18T15:13:01.237Z"}],"status":{"value":"IN_INTERACTIVE_VOICE_RESPONSE"}}],"interactiveVoiceResponseSystems":[{"id":"1018b13a-83db-54f9-ae83-f38031848890","type":{"value":"DIAL_PLAN","dialPlanId":"af236b1e-8c37-4971-be61-334bf66db8fa","currentNode":{"id":"ModifyCallerIdNode_1004","type":"ModifyCallerIdNode","result":"CONTINUE"},"executionId":"2360bed9-9d95-43ca-8522-67b9596052c5","previousNode":{"id":"AttendantPromptNode_1002","connector":"option_5"}},"status":{"value":"CONNECTED"},"originator":"e85b4a95-ba2d-5844-9fcc-bfad75cbc4cc"}]},{"id":"8d4922c6-bf24-5d3b-ba51-a4952ff3b759","type":"ACTIVE","sequenceNumber":45,"timestamp":"2025-02-18T15:17:32.594Z","participants":[{"id":"e85b4a95-ba2d-5844-9fcc-bfad75cbc4cc","legId":"f0029216-ad5e-42ba-82ab-cd63d1068c79","originator":"e85b4a95-ba2d-5844-9fcc-bfad75cbc4cc","type":{"name":"CearaGPS","value":"PHONE_NUMBER","caller":{"name":"","number":"+5585991996437"},"number":"+558534846006","phoneNumberId":"c30dc08d-d7cc-4cad-a967-8db6552e558f"},"recordings":[{"id":"9f12f677-a944-4139-bfbb-7d9df8a98001","startTimestamp":"2025-02-18T15:13:01.237Z"}],"status":{"value":"IN_INTERACTIVE_VOICE_RESPONSE"}}],"interactiveVoiceResponseSystems":[{"id":"1018b13a-83db-54f9-ae83-f38031848890","type":{"value":"DIAL_PLAN","dialPlanId":"af236b1e-8c37-4971-be61-334bf66db8fa","currentNode":{"id":"PlaySoundClipNode_1006","type":"PlaySoundClipNode"},"executionId":"2360bed9-9d95-43ca-8522-67b9596052c5","previousNode":{"id":"ModifyCallerIdNode_1004","connector":"nextNode"}},"status":{"value":"CONNECTED"},"originator":"e85b4a95-ba2d-5844-9fcc-bfad75cbc4cc"}]},{"id":"72165a15-3de0-5ae7-998f-591794bbd4e6","type":"ACTIVE","sequenceNumber":46,"timestamp":"2025-02-18T15:17:39.839Z","participants":[{"id":"e85b4a95-ba2d-5844-9fcc-bfad75cbc4cc","legId":"f0029216-ad5e-42ba-82ab-cd63d1068c79","originator":"e85b4a95-ba2d-5844-9fcc-bfad75cbc4cc","type":{"name":"CearaGPS","value":"PHONE_NUMBER","caller":{"name":"","number":"+5585991996437"},"number":"+558534846006","phoneNumberId":"c30dc08d-d7cc-4cad-a967-8db6552e558f"},"recordings":[{"id":"9f12f677-a944-4139-bfbb-7d9df8a98001","startTimestamp":"2025-02-18T15:13:01.237Z"}],"status":{"value":"IN_INTERACTIVE_VOICE_RESPONSE"}}],"interactiveVoiceResponseSystems":[{"id":"1018b13a-83db-54f9-ae83-f38031848890","type":{"value":"DIAL_PLAN","dialPlanId":"af236b1e-8c37-4971-be61-334bf66db8fa","currentNode":{"id":"PlaySoundClipNode_1006","type":"PlaySoundClipNode","result":"CONTINUE"},"executionId":"2360bed9-9d95-43ca-8522-67b9596052c5","previousNode":{"id":"ModifyCallerIdNode_1004","connector":"nextNode"}},"status":{"value":"CONNECTED"},"originator":"e85b4a95-ba2d-5844-9fcc-bfad75cbc4cc"}]},{"id":"acd2b9f8-eded-5f8c-9fe2-aa3046530b40","type":"ACTIVE","sequenceNumber":47,"timestamp":"2025-02-18T15:17:39.839Z","participants":[{"id":"e85b4a95-ba2d-5844-9fcc-bfad75cbc4cc","legId":"f0029216-ad5e-42ba-82ab-cd63d1068c79","originator":"e85b4a95-ba2d-5844-9fcc-bfad75cbc4cc","type":{"name":"CearaGPS","value":"PHONE_NUMBER","caller":{"name":"","number":"+5585991996437"},"number":"+558534846006","phoneNumberId":"c30dc08d-d7cc-4cad-a967-8db6552e558f"},"recordings":[{"id":"9f12f677-a944-4139-bfbb-7d9df8a98001","startTimestamp":"2025-02-18T15:13:01.237Z"}],"status":{"value":"IN_INTERACTIVE_VOICE_RESPONSE"}}],"interactiveVoiceResponseSystems":[{"id":"1018b13a-83db-54f9-ae83-f38031848890","type":{"value":"DIAL_PLAN","dialPlanId":"af236b1e-8c37-4971-be61-334bf66db8fa","currentNode":{"id":"HangupNode_1024","type":"HangupNode"},"executionId":"2360bed9-9d95-43ca-8522-67b9596052c5","previousNode":{"id":"PlaySoundClipNode_1006","connector":"nextNode"}},"status":{"value":"CONNECTED"},"originator":"e85b4a95-ba2d-5844-9fcc-bfad75cbc4cc"}]},{"id":"949b7add-7441-5f73-9248-102a8f08bb40","type":"ACTIVE","sequenceNumber":48,"timestamp":"2025-02-18T15:17:39.839Z","participants":[{"id":"e85b4a95-ba2d-5844-9fcc-bfad75cbc4cc","legId":"f0029216-ad5e-42ba-82ab-cd63d1068c79","originator":"e85b4a95-ba2d-5844-9fcc-bfad75cbc4cc","type":{"name":"CearaGPS","value":"PHONE_NUMBER","caller":{"name":"","number":"+5585991996437"},"number":"+558534846006","phoneNumberId":"c30dc08d-d7cc-4cad-a967-8db6552e558f"},"recordings":[{"id":"9f12f677-a944-4139-bfbb-7d9df8a98001","startTimestamp":"2025-02-18T15:13:01.237Z"}],"status":{"value":"IN_INTERACTIVE_VOICE_RESPONSE"}}],"interactiveVoiceResponseSystems":[{"id":"1018b13a-83db-54f9-ae83-f38031848890","type":{"value":"DIAL_PLAN","dialPlanId":"af236b1e-8c37-4971-be61-334bf66db8fa","currentNode":{"id":"HangupNode_1024","type":"HangupNode","result":"COMPLETED"},"executionId":"2360bed9-9d95-43ca-8522-67b9596052c5","previousNode":{"id":"PlaySoundClipNode_1006","connector":"nextNode"}},"status":{"value":"DISCONNECTING"},"originator":"e85b4a95-ba2d-5844-9fcc-bfad75cbc4cc"}]},{"id":"e424f34e-7aaf-5418-bc27-7ca821e16aff","type":"ENDING","sequenceNumber":49,"timestamp":"2025-02-18T15:17:39.882Z","participants":[{"id":"e85b4a95-ba2d-5844-9fcc-bfad75cbc4cc","legId":"f0029216-ad5e-42ba-82ab-cd63d1068c79","originator":"e85b4a95-ba2d-5844-9fcc-bfad75cbc4cc","type":{"name":"CearaGPS","value":"PHONE_NUMBER","caller":{"name":"","number":"+5585991996437"},"number":"+558534846006","phoneNumberId":"c30dc08d-d7cc-4cad-a967-8db6552e558f"},"recordings":[{"id":"9f12f677-a944-4139-bfbb-7d9df8a98001","startTimestamp":"2025-02-18T15:13:01.237Z"}],"status":{"value":"DISCONNECTING"}}]}]},"webhookUrl":"https://n8nwebhook.cearatec.cloud/webhook-test/nps02_teste","executionMode":"test"}}]},"versionId":"2f07a60a-8716-454a-b95b-9243e41c08d9","triggerCount":1,"tags":[{"createdAt":"2025-02-26T18:31:00.506Z","updatedAt":"2025-02-26T18:31:00.506Z","id":"0JTDKZZNFUKcIJNo","name":"NPS-Ramos"}]}