responde_msg_com_ia-J1Gy2qkM0QKG1zuc.json
{"createdAt":"2025-02-26T19:38:02.659Z","updatedAt":"2025-02-26T19:38:02.659Z","id":"J1Gy2qkM0QKG1zuc","name":"responde_msg_com_ia","active":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"msg00","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[60,480],"id":"29c65be4-594d-40da-ba07-ffa6e25c5f6f","name":"Webhook","webhookId":"540ed0bc-5fad-425e-8fce-b05b4cd0e27b"},{"parameters":{"assignments":{"assignments":[{"id":"310c0cce-bd8e-43b1-b40e-850a9d8a1daa","name":"Quem mandou","value":"={{ $json.body.data.key.remoteJid }}","type":"string"},{"id":"080faabe-abf9-45ee-9711-1f475c3742c3","name":"Instancia","value":"={{ $json.body.instance }}","type":"string"},{"id":"caf10002-6d7c-42f1-b088-1b18c8a39096","name":"Mensagem","value":"={{ $json.body.data.message.conversation }}","type":"string"},{"id":"04f7b0d5-9a52-4594-b71c-04a1b4c95e47","name":"Id da mensagem","value":"={{ $json.body.data.key.id }}","type":"string"},{"id":"e90cf818-d301-4ee8-9045-28475b788d43","name":"Nome da pessoa","value":"={{ $json.body.data.pushName }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[340,480],"id":"0a0f996c-7fbb-4598-83ad-a39e128263f5","name":"Dados"},{"parameters":{"promptType":"define","text":"={{ $('Dados').item.json.Mensagem }}","options":{"systemMessage":"=Você deve responder dúvidas dos clientes sobre a nossa página."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[660,480],"id":"7e0dbc90-9d2a-4676-8fc2-ec2a9b24d2b9","name":"AI Agent"},{"parameters":{"model":{"__rl":true,"value":"deepseek/deepseek-r1:free","mode":"list","cachedResultName":"deepseek/deepseek-r1:free"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[420,860],"id":"dba6bc26-0ed2-4717-8bd7-a5285c06dfe0","name":"OpenAI Chat Model"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Dados').item.json['Quem mandou'] }}","sessionTTL":6200,"contextWindowLength":10},"type":"@n8n/n8n-nodes-langchain.memoryRedisChat","typeVersion":1.4,"position":[780,860],"id":"3218db62-a1ce-417c-941c-c94f6694b551","name":"Redis Chat Memory"},{"parameters":{},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[1180,480],"id":"1d500c92-44cb-4e07-b644-118f57eb327c","name":"Evolution API","credentials":{}},{"parameters":{},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[1440,480],"id":"1142a828-be87-427d-86a6-9eeea4eb321d","name":"Evolution API1","credentials":{}},{"parameters":{"toolDescription":"Retorna informações da nossa página","url":"https://cearagps.com.br/"},"type":"@n8n/n8n-nodes-langchain.toolHttpRequest","typeVersion":1.1,"position":[980,860],"id":"d01ca70a-1d1d-47c1-b143-30777355e7be","name":"HTTP Request"},{"parameters":{"content":"## Como usar:\n\n1. Copie a URL do Webhook e cole na sua instância da Evolution\n\n2. Modifique o System Prompt do AI Agent\n\n3. Escolha entre o Groq ou OpenAi e insira as credenciais\n\n4. Insira as credenciais do Redis\n\n5. Altere o Link da página que você quer consultar no node HTTP Request","height":300,"width":520,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,0],"id":"a947886a-1bde-4d76-94c1-6c9ff9b5b68a","name":"Sticky Note"},{"parameters":{"content":"# 1\nCopie a URL de produção e cole na Evolution","height":240,"width":250,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-20,380],"id":"d56fd8e1-a087-4ac2-b1b1-4b4ed0b11200","name":"Sticky Note1"},{"parameters":{"content":"# 2\nModifique o System Prompt do agente\n","height":300,"width":520,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[520,380],"id":"f72f72dd-4b8b-4ae0-b164-7eec315cbbe1","name":"Sticky Note2"},{"parameters":{"content":"# 3\nEscolha um, insira as credenciais e conecte ao agente","height":280,"width":290,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[380,720],"id":"c27de522-ad3d-4c93-8825-275f84d85ceb","name":"Sticky Note3"},{"parameters":{"model":"deepseek-r1-distill-qwen-32b","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGroq","typeVersion":1,"position":[540,860],"id":"cf18c931-1c9a-4715-9e83-48e810c6bf01","name":"Groq Chat Model"},{"parameters":{"content":"# 4\nInsira as credenciais","height":280,"width":150,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[740,720],"id":"f558a519-d396-43ae-89cd-90491ded1487","name":"Sticky Note4"},{"parameters":{"content":"# 5\nAltere o link da página","height":280,"width":150,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[940,720],"id":"f32f0963-d03d-4bd5-87da-c62b43d22f39","name":"Sticky Note5"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[660,1060],"id":"1549f6a8-09b4-4063-99f5-fd8e46fee144","name":"OpenAI Chat Model1"}],"connections":{"Webhook":{"main":[[{"node":"Dados","type":"main","index":0}]]},"Dados":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Redis Chat Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"HTTP Request":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"30f8cc2f-20bb-4bdc-994e-bfde71242b13","triggerCount":0,"tags":[]}