sitemap-fAKMY1v00wrWk1wt.json
{"createdAt":"2025-02-26T19:42:44.142Z","updatedAt":"2025-02-26T19:42:44.142Z","id":"fAKMY1v00wrWk1wt","name":"sitemap","active":false,"nodes":[{"parameters":{},"id":"f16c6c7a-ef9e-46c9-a91b-fdbae2dca80d","name":"When clicking ‘Test workflow’","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-500,660]},{"parameters":{"options":{}},"id":"bb5035ad-d082-4014-948d-242d34f1e2bf","name":"XML","type":"n8n-nodes-base.xml","typeVersion":1,"position":[-100,720]},{"parameters":{"fieldToSplitOut":"urlset.url","options":{}},"id":"4ab3ce3d-6382-4ba6-9b5a-e78a35c168e5","name":"Split Out","type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[60,520]},{"parameters":{"options":{}},"id":"86c8c1b2-e0c9-4418-baf2-da584e1e8e85","name":"Loop Over Items","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[300,620]},{"parameters":{},"id":"b1e339e2-3555-44ea-8ada-ad24492b81da","name":"Wait","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[720,620],"webhookId":"9af87c5e-b07f-48dc-9ca8-61b471a24cad"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"9d90c1ce-590e-40a5-ae8c-d92326032975","leftValue":"={{ $json.status }}","rightValue":"completed","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"b1af4f29-2cb9-455d-a2c7-b6b8bf575aa7","name":"If","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1160,620]},{"parameters":{"jsonMode":"expressionData","jsonData":"={{ $json.result.markdown }}","options":{"metadata":{"metadataValues":[{"name":"page","value":"={{ $json.result.url }}"}]}}},"id":"85756610-c906-4593-8557-d1ca022085b4","name":"Default Data Loader","type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1,"position":[1540,620]},{"parameters":{"chunkSize":5000},"id":"88ac03bf-9ac4-4058-bfdf-2eb5e775199b","name":"Character Text Splitter","type":"@n8n/n8n-nodes-langchain.textSplitterCharacterTextSplitter","typeVersion":1,"position":[1680,760]},{"parameters":{"options":{}},"id":"9c30d380-c34e-4866-9fd3-17220224d8a7","name":"Embeddings OpenAI","type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.1,"position":[1380,620]},{"parameters":{"assignments":{"assignments":[{"id":"f2bcdb54-e1fe-4670-99aa-6eec973bf5f1","name":"task_id","value":"={{ $('crawl').item.json.task_id }}","type":"string"}]},"options":{}},"id":"ce7437f8-3523-41ba-b5bf-f85be9669cb0","name":"Edit Fields","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1400,820]},{"parameters":{"options":{}},"id":"b1cf4e9f-627c-41fb-bc21-851ea08d42da","name":"When chat message received","type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1,"position":[160,-140],"webhookId":"0949763f-f3f7-46bf-8676-c050d92e6966"},{"parameters":{"model":"gpt-3.5-turbo","options":{}},"id":"9cd04715-3cf9-473a-911d-bf99ddaff784","name":"OpenAI Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[320,80]},{"parameters":{},"id":"10f67a8d-4be8-4709-b1da-2cdcbf774c78","name":"Postgres Chat Memory","type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[460,80]},{"parameters":{"name":"pydantic_ai_docs","description":"Retrieves data related to Pydantic AI using their documentation."},"id":"b2ae727e-9b18-40bb-be02-d84bf8d48930","name":"Vector Store Tool","type":"@n8n/n8n-nodes-langchain.toolVectorStore","typeVersion":1,"position":[800,-20]},{"parameters":{"options":{}},"id":"8a876edf-1c56-4192-8cba-1209b8b345be","name":"Embeddings OpenAI1","type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.1,"position":[560,280]},{"parameters":{"options":{}},"id":"21705950-ec22-42f1-890e-ba86b67b0b5f","name":"OpenAI Chat Model1","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[940,160]},{"parameters":{"mode":"insert","tableName":{"__rl":true,"value":"documents","mode":"list","cachedResultName":"documents"},"options":{"queryName":"match_documents"}},"id":"b7a94423-efd1-46b9-96bc-33c43bb93cf5","name":"Supabase Vector Store","type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1,"position":[1400,400]},{"parameters":{"options":{"systemMessage":"Você é um atendente e responde as perguntas somente sobre a o hotel san silvestre. Responda em português do Brasil."}},"id":"d73460e5-026c-4e6c-afe9-64afeaaeb690","name":"AI Agent","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[420,-140]},{"parameters":{"tableName":{"__rl":true,"value":"documents","mode":"list","cachedResultName":"documents"},"options":{"queryName":"match_documents"}},"id":"91d1c9b1-1fd0-4bd0-a30d-6bb6bfa747f8","name":"Supabase Vector Store1","type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1,"position":[600,140]},{"parameters":{"method":"POST","url":"http://host.docker.internal:11235/crawl","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"bodyParameters":{"parameters":[{"name":"urls","value":"={{ $json.loc }}"},{"name":"priority","value":"10"}]},"options":{}},"id":"4c0a3841-d745-492c-bc6a-476796b354e5","name":"crawl","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[520,620]},{"parameters":{"url":"=http://host.docker.internal:11235/task/{{ $json.task_id }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{"timeout":5000}},"id":"d6b0f22c-33af-46de-be21-b8ac77a63b0a","name":"task","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[940,620],"retryOnFail":true,"waitBetweenTries":5000},{"parameters":{"url":"https://seusite.com.br/wp-sitemap-posts-page-1.xml","options":{}},"id":"3a15b383-430e-4de1-adc3-e57636da3e7c","name":"Sitemap","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-300,520]}],"connections":{"When clicking ‘Test workflow’":{"main":[[{"node":"Sitemap","type":"main","index":0}]]},"XML":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"crawl","type":"main","index":0}]]},"Wait":{"main":[[{"node":"task","type":"main","index":0}]]},"If":{"main":[[{"node":"Supabase Vector Store","type":"main","index":0}],[{"node":"Edit Fields","type":"main","index":0}]]},"Default Data Loader":{"ai_document":[[{"node":"Supabase Vector Store","type":"ai_document","index":0}]]},"Character Text Splitter":{"ai_textSplitter":[[{"node":"Default Data Loader","type":"ai_textSplitter","index":0}]]},"Embeddings OpenAI":{"ai_embedding":[[{"node":"Supabase Vector Store","type":"ai_embedding","index":0}]]},"Edit Fields":{"main":[[{"node":"Wait","type":"main","index":0}]]},"When chat message received":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Postgres Chat Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Vector Store Tool":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Embeddings OpenAI1":{"ai_embedding":[[{"node":"Supabase Vector Store1","type":"ai_embedding","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"Vector Store Tool","type":"ai_languageModel","index":0}]]},"Supabase Vector Store":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Supabase Vector Store1":{"ai_vectorStore":[[{"node":"Vector Store Tool","type":"ai_vectorStore","index":0}]]},"crawl":{"main":[[{"node":"Wait","type":"main","index":0}]]},"task":{"main":[[{"node":"If","type":"main","index":0}]]},"Sitemap":{"main":[[{"node":"XML","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"f5bb7c56-0902-4d88-ae24-f12311287b0a","triggerCount":0,"tags":[]}